@model InsiderTrading.Models.TradingTransactionModel
@{
    ViewBag.Title = "_DMATwiseBalance";
}

<div class="row" name="contratrade" style="display:none;">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex">
        <div class="col-xs-7 col-lg-7 pl-0">
            @if (@ViewBag.PreclearenceID > 0 && @ViewBag.GenCashAndCashlessPartialExciseOptionForContraTrade == InsiderTrading.Common.ConstEnum.Code.UserSelectionOnPreClearanceAndTradeDetailsSubmission)
            {
                @Html.CheckBoxFor(model => model.ESOPExcerseOptionQtyFlag, new { @class = "cr-check", @disabled = "disabled" })
                @Html.HiddenFor(m => m.ESOPExcerseOptionQtyFlag)
            }
            else if (@ViewBag.GenCashAndCashlessPartialExciseOptionForContraTrade == InsiderTrading.Common.ConstEnum.Code.UserSelectionOnPreClearanceAndTradeDetailsSubmission)
            {
                @Html.CheckBoxFor(model => model.ESOPExcerseOptionQtyFlag, new { @class = "cr-check" })
            }
            @if (Model.DMATDetailsID > 0) { 
                @Html.Label(InsiderTrading.Common.Common.getResource("tra_lbl_16323"), new { @class = "normalLable" })
            }
            else
            {
                @Html.Label(InsiderTrading.Common.Common.getResource("tra_lbl_16446"), new { @class = "normalLable" })
            }
        </div>
        <div class="col-xs-5 col-lg-5 pl-0">
            @ViewBag.ESOPQuantity
        </div>
    </div>
</div>

<div class="row" name="contratrade" style="display:none;">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex">
        <div class="col-xs-7 col-lg-7 pl-0">
            @if (@ViewBag.PreclearenceID > 0 && @ViewBag.GenCashAndCashlessPartialExciseOptionForContraTrade == InsiderTrading.Common.ConstEnum.Code.UserSelectionOnPreClearanceAndTradeDetailsSubmission)
            {
                @Html.CheckBoxFor(model => model.OtherESOPExcerseOptionFlag, new { @class = "cr-check", @disabled = "disabled" })
            }
            else if (@ViewBag.GenCashAndCashlessPartialExciseOptionForContraTrade == InsiderTrading.Common.ConstEnum.Code.UserSelectionOnPreClearanceAndTradeDetailsSubmission)
            {
                @Html.CheckBoxFor(model => model.OtherESOPExcerseOptionFlag, new { @class = "cr-check" })
            }
            @if (Model.DMATDetailsID > 0) {
                 @Html.Label(InsiderTrading.Common.Common.getResource("tra_lbl_16324"), new { @class = "normalLable" })
            }
            else
            {
                 @Html.Label(InsiderTrading.Common.Common.getResource("tra_lbl_16447"), new { @class = "normalLable" })
            }
        </div>
        <div class="col-xs-5 col-lg-5 pl-0">
            @ViewBag.OtherQuantity
        </div>
    </div>
</div>



