@model InsiderTrading.Models.TradingTransactionModel


<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="form-group">
        <label>@Html.LabelFor(model => model.DMATDetailsID)</label>
        @if (@ViewBag.TransactionTypeCodeFlag) {
            @Html.DropDownListFor(model => model.DMATDetailsID, new SelectList(ViewBag.UserDMAT, "Key", "Value", ""), new { @class = "form-control", disabled="disabled"})
            @Html.HiddenFor(model => model.DMATDetailsID)
        }
        else { 
            @Html.DropDownListFor(model => model.DMATDetailsID, new SelectList(ViewBag.UserDMAT, "Key", "Value", ""), new { @class = "form-control" })
        }
        @Html.ValidationMessageFor(model => model.DMATDetailsID)
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="form-group" id="divTMID" style="display:none;">
        <label>@InsiderTrading.Common.Common.getResource("tra_lbl_16100")</label>
        @foreach(var objElement in ViewBag.UserDMAT)
        {
            <input type="text" value="@objElement.Width" key="@objElement.Key" style="display:none" class="form-control" disabled/>
        }
    </div>
</div>
