<section class="content-header">
    <h1>
        @InsiderTrading.Common.Common.getResource("rpt_ttl_50704")
    </h1>
</section>
<section class="content  search" gridtype="@ViewBag.GridType">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                         <div class="row">
                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                   @Html.Label(@InsiderTrading.Common.Common.getResource("rpt_lbl_50701")) @ViewBag.InsiderName
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                   @Html.Label(@InsiderTrading.Common.Common.getResource("rpt_lbl_50702")) @ViewBag.EmployeePAN
                              </div>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @{
       <!-- Search result content -->
        @Html.Hidden("UserID", (Int32)@ViewBag.UserID, new { id = "1", gridtype = @ViewBag.GridType });
        @Html.Hidden("TransactionMasterID", (Int32)@ViewBag.TransactionMasterID, new { id = "2", gridtype = @ViewBag.GridType });
        @Html.Hidden("SecurityTypeID", (Int32)@ViewBag.SecurityTypeID, new { id = "3", gridtype = @ViewBag.GridType });
        @Html.Hidden("TransactionTypeID", (Int32)@ViewBag.TransactionTypeID, new { id = "4", gridtype = @ViewBag.GridType });
        @Html.Hidden("Record_search", 1);
        
        <button type="button" class="btn btn-success hidden" id="btnSearch"><i class="fa fa-search"> @InsiderTrading.Common.Common.getResource("com_btn_14005")</i></button>
        
        Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType, btnSearch = "btnSearch", sSortCol = "0", acid = ViewBag.ActivityID, bIsPagination = true, });
       
    }

    <a id="backbuttonId" class="btn btn-success" data-toggle="modal" href='@Url.Action("Index", "ClawBackReport", new { acid = InsiderTrading.Common.ConstEnum.UserActions.ClawBack_Report })' role="button">Back</a>

</section>

<script>
    if ($('#Record_search').val() == 1) {
        $('#btnSearch').click();
    }
</script>