@model InsiderTrading.Models.ClawBackReportSearchViewModel
<section class="content-header">
    <h1>
        @InsiderTrading.Common.Common.getResource("rpt_ttl_50703")
    </h1>
</section>

    <section class="content  search" gridtype="@ViewBag.GridType">
        <form method="post">
            <div id="FilterPanel">
                <div class="row" gridtype="@ViewBag.GridType">
                    <div class="col-lg-12">
                        <div class="card panel-default">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group" id="sandbox-container">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("rpt_lbl_50689"))
                                            @{
                                                string SubmissionFromDate = "";
                                                SubmissionFromDate = InsiderTrading.Common.Common.ApplyFormatting("", InsiderTrading.Common.ConstEnum.DataFormatType.Date);
                                            }
                                            <div class="input-group date">
                                                @Html.TextBox("SubmissionFromDate", SubmissionFromDate, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "4" })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group" id="sandbox-container">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("rpt_lbl_50690"))
                                            @{
                                                string SubmissionDateTo = "";
                                                SubmissionDateTo = InsiderTrading.Common.Common.ApplyFormatting("", InsiderTrading.Common.ConstEnum.DataFormatType.Date);
                                            }
                                            <div class="input-group date">
                                                @Html.TextBox("SubmissionDateTo", SubmissionDateTo, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "5" })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("rpt_lbl_50686"))
                                            @*@Html.TextBox("EmpID", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "6" })*@
                                            @Html.TextBoxFor(m => m.EmpID, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "6" })
                                            @Html.ValidationMessageFor(m => m.EmpID)
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("rpt_lbl_50685"))
                                            @*@Html.TextBox("EmpName", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "7" })*@
                                            @Html.TextBoxFor(m => m.EmpName, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "7" })
                                            @Html.ValidationMessageFor(m => m.EmpName)
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("rpt_lbl_50687"))
                                            @*@Html.TextBox("EmpPAN", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "8" })*@
                                            @Html.TextBoxFor(m => m.EmpPAN, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "8" })
                                            @Html.ValidationMessageFor(m => m.EmpPAN)
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("rpt_lbl_50688"))
                                            @*@Html.TextBox("EmpDematDetails", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "9" })*@
                                            @Html.TextBoxFor(m => m.EmpDematDetails, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "9" })
                                            @Html.ValidationMessageFor(m => m.EmpDematDetails)
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <form role="form">
                                            <div style="margin:25px 0px"></div>
                                            <button type="button" class="btn btn-success" id="btnSearch"><i class="fa fa-search"></i> @InsiderTrading.Common.Common.getResource("com_btn_14005")</button>
                                            <button type="button" class="btn btn-success" id="btnReset" dt_name="btnReset" dt_gridtype="@ViewBag.GridType"><i class="fa fa-undo"></i> @InsiderTrading.Common.Common.getResource("com_btn_14006")</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

@{
    Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType, btnSearch = "btnSearch", sSortCol = "" });
}

<button type="button" class="btn btn-success" id="btnExportClawBack" onclick="location.href='@Url.Action("DownloadClawBackExcel", "ClawBackReport", new { acid = InsiderTrading.Common.ConstEnum.UserActions.ClawBack_Report })'">
    <i class="fa fa-download"></i> Download
</button>

@Html.Hidden("ClawBackReportEmployeeWise", Url.Action("ClawBackReportEmployeeWise", "ClawBackReport", new { acid = InsiderTrading.Common.ConstEnum.UserActions.ClawBack_Report }), new { @class = "gridtypecontrol", ctrtype = "link", gridcolumntype = @ViewBag.GridType + "_usr_grd_11073", param = "{'text':'','href':'" + Url.Action("ClawBackReportEmployeeWise", "ClawBackReport", new { acid = InsiderTrading.Common.ConstEnum.UserActions.ClawBack_Report }) + "&nUserInfoID=<UserInfoID>&nTransactionMasterID=<TransactionMasterID>&nSecurityTypeID=<SecurityTypeID>&nTransactionTypeID=<TransactionTypeID>','class':'display-icon icon icon-eye'}" })

</section>
