@model InsiderTrading.Models.RoleActivityModel

@{
    ViewBag.Title = InsiderTrading.Common.Common.getResource("usr_ttl_12037");
}


<style>
    .hide{
        display: none;
    }

    .module {
        background-color: #eee;
        margin: 1px 0 1px 0;
        display: table;
        width: 100%;
    }

    .moduletable td{
        padding: 2px;
    }
    .screen {
        background-color: #ccc;
        margin: 1px 0 1px 0;
        display: table;
        width: 100%;
    }
    .screentable td {
        padding: 2px;
    }
</style>
<script>
    $(document).ready(function () {
        $(document).undelegate('#btnSave', 'click');

        $(document).delegate('#btnSave', 'click', function (event) {
            $('#RoleActivityForm').removeData('validator');
            $('#RoleActivityForm').removeData('unobtrusiveValidation');
            $("#RoleActivityForm").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("#RoleActivityForm");
            if ($("#RoleActivityForm").valid()) {
                $.ajax({
                    url: $("#SaveAction").val(),
                    method: 'post',
                    headers: getRVToken(),
                    data: $("#RoleActivityForm").serialize(),
                    success: function (response) {
                        if (response.status) {
                            //if (response.IsActive) {
                            //    if (response.CalledFrom == "emp")
                            //    {
                            //        $("#userInfoModel_SubmittedRole option:last").after("<option value=" + "\"" + response.RoleId + "\"" + ">" + response.RoleName + "</option>");
                            //    }
                            //    else {
                            //        $("#SubmittedRole option:last").after("<option value=" + "\"" + response.RoleId + "\"" + ">" + response.RoleName + "</option>");
                            //    }
                            //}
                            
                            showMessage(response.Message, true);
                            setTimeout(function () {
                                $(".modal-dialog").css({ width: '40%' });
                                $("#addRoleMaster").hide();
                            }, 1000);

                            $("body").removeClass("noscroll");
                            $("body").removeClass("modal-open");
                        }
                        else {

                            DisplayErrors(response.error);
                        }

                    },
                    error: function (response) { }
                });
            }
        });

        function selection(objThis, selector) {
            if ($(objThis).is(":checked")) {
                selector.not("[disabled=disabled]").prop("checked", true);
            }
            else {
                selector.not("[disabled = disabled]").prop("checked", false);
            }
        }
        $(".chkModuleSelectAll").click(function () {
            //   alert("test" + $(this).parents('.panel .panel-accordion').find('input[type="checkbox"]'));
            selection(this, $(this).closest('.panel.panel-accordion').find('input[type="checkbox"]'));
        })
        $(".chkScreenSelectAll").click(function () {
            selection(this, $(this).closest('table').find('input[type="checkbox"][id^="' + $(this).attr('id') + '"]'));
        });

        $("input[type='checkbox'].cr-check").click(function () {
            parentChkSelection(this)
        });
        $("input[type='checkbox'].cr-check:checked").each(function () {
            parentChkSelection(this);
        });
    });
    function parentChkSelection(obj) {
        var arrID = $(obj).attr('id').split(' _');
        var id = arrID[0] + ' _' + arrID[1];
        if ($('[id^="' + id + '"][type=checkbox]:not([id="' + id + '"])').length == $('[id^="' + id + '"][type=checkbox]:not([id="' + id + '"]):checked').length)
            $('[id="' + id + '"]:not([disabled=disabled])').prop("checked", true);
        else
            $('[id="' + id + '"]:not([disabled=disabled])').prop("checked", false);

        if ($('[id="' + id + '"]').closest('table').find('.chkScreenSelectAll').length == $('[id="' + id + '"]').closest('table').find('.chkScreenSelectAll:checked').length)
            $('[id="' + id + '"]').closest('.panel.panel-accordion').find('.chkModuleSelectAll').prop("checked", true);
        else
            $('[id="' + id + '"]').closest('.panel.panel-accordion').find('.chkModuleSelectAll').prop("checked", false);
    }
    function DisplayErrors(errors) {
        $('input').removeClass('input-validation-error');
        $('select').removeClass('input-validation-error');

        $('#messageSection div').not('#RoleActivityForm #divValidationSummaryModal,#mainMessageSection').remove();
        $("#RoleActivityForm #divValidationSummaryModal ul").html("");
        for (index in errors) {
            var obj = errors[index];
            for (i = 0; i < obj.length; i++) {
                var li = $("<li>");
                $(li).text(obj[i]);
                $("#RoleActivityForm  #divValidationSummaryModal ul").append($(li));
            }
        }

        $('#RoleActivityForm  #divValidationSummaryModal').slideDown(500);
        $('#messageSection div').not('#RoleActivityForm  #divValidationSummaryModal').remove();
        $("#RoleActivityForm  #divValidationSummaryModal").removeClass("validation-summary-valid");
        $("#RoleActivityForm  #divValidationSummaryModal").addClass("validation-summary-errors");

        setTimeout(function () {
            $("#RoleActivityForm #divValidationSummaryModal").removeClass("validation-summary-errors");
            $('#RoleActivityForm #divValidationSummaryModal').removeClass('alert-danger').fadeOut('slow');
            $("#RoleActivityForm #divValidationSummaryModal").addClass("alert-danger");
            $("#RoleActivityForm #divValidationSummaryModal").addClass("validation-summary-valid");

        }, 10000);
    }
</script>

@{using (Html.BeginForm("Create", "RoleActivity", new { ReturnUrl = ViewBag.ReturnUrl, formId = 65  }, FormMethod.Post, new { @id = "RoleActivityForm", @class = "form-horizontal", role = "form", @autocomplete = "off" })) 
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewBag.RoleId" id="RoleId" name="RoleId" />
    <input type="hidden" value="@ViewBag.CalledFrom" id="CalledFrom" name="CalledFrom" />
    
    @Html.Hidden("uid", (int)ViewBag.user_id)
    
    <div class="form-horizontal">
        <section class="content-header">
            <h1>
                @InsiderTrading.Common.Common.getResource("usr_ttl_12037")
            </h1>
        </section>
        <section class="content">
            @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
        </section>
        <div class="card panel-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        @if (@ViewBag.CalledFrom == "RoleActivity")
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <form role="form">
                                    <div class="form-group">
                                        <label> Select Role : </label>
                                        <select id="RoleMasterId" onchange="$('#RoleId').val($(this).val()); $('#dropdown').click();" class="form-control">
                                            @{foreach (var objRoleList in ViewBag.RoleList)
                                                {
                                                    if (Convert.ToInt32(ViewBag.RoleId) == Convert.ToInt32(@objRoleList.Key))
                                                    {
                                                        <option selected value="@objRoleList.Key">@objRoleList.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@objRoleList.Key">@objRoleList.Value</option>
                                                    }
                                                }
                                            }
                                        </select>

                                    </div>
                                </form>
                            </div>
                        if (ViewBag.RoleId != 0)
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label> User Type : </label>
                                <label>@ViewBag.UserType </label>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <label>Role Name : </label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label> @ViewBag.RoleName</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <label>User Type : </label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label>@ViewBag.UserType </label>
                        </div>
                    }
                    </div>                    
                </div>
            </div>
        </div>
    <hr />

    @Html.ValidationSummary(true)
    @if (@ViewBag.RoleId != 0)
    {
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Role Activity Access Setup</label>
                <div class="card-header" id="accordion_RoleActivity" style="margin-bottom:20px">
                    @{if (ViewBag.RoleActivityDictionary.Count > 0)
                    {
                        int count = 0;
                        foreach (var objRoleModuleActivityDictionary in ViewBag.RoleActivityDictionary)
                        {
                            count++;
                            <div class="card panel-accordion">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        <div class="checkbox">
                                            <input type="checkbox" name="chkModule" id="chkModule_@count" class="chkModuleSelectAll">
                                            <label for="chkModule_@count"></label>
                                        </div>

                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_RoleActivity" href="#ActivityMaster_RoleActivity_@count">
                                            <span class="fa fa-plus pull-right"></span>
                                            @objRoleModuleActivityDictionary.Key
                                        </a>
                                    </h4>
                                </div>
                                <div id="ActivityMaster_RoleActivity_@count" class="panel-collapse collapse">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <tbody>
                                                    @{ int screenCount = 0;}
                                                    @foreach (var objRoleScreenActivityDictionary in objRoleModuleActivityDictionary.Value)
                                                    {
                                                        screenCount++;
                                                        <tr>
                                                            <td></td>
                                                            <td>
                                                                <div class="checkbox">
                                                                    <input id="@count _@screenCount" class="cr-check chkScreenSelectAll" type="checkbox" name="chkScreen">
                                                                    <label for="@count _@screenCount" style="font-weight:bold !important;">@objRoleScreenActivityDictionary.Key</label>
                                                                </div>
                                                            </td>
                                                            @{int cnt = 0;
                                                            foreach (var objRoleActivityList in objRoleScreenActivityDictionary.Value)
                                                            {
                                                                cnt++;
                                                                <td>
                                                                    <div class="checkbox">

                                                                        @if (@objRoleActivityList.IsSelected == 1)
                                                                        {
                                                                            <input type="checkbox" id="@count _@screenCount _@cnt" name="chkActivity" class="cr-check " value="@objRoleActivityList.ActivityID" checked="checked" />
                                                                        }
                                                                        else if (@objRoleActivityList.IsSelected == 2)
                                                                        {
                                                                            <input type="checkbox" id="@count _@screenCount _@cnt" name="chkActivity2" class="cr-check" disabled="disabled" checked="checked" value="@objRoleActivityList.ActivityID" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="checkbox" id="@count _@screenCount _@cnt" name="chkActivity" class="cr-check " value="@objRoleActivityList.ActivityID" />
                                                                        }

                                                                        <label for="@count _@screenCount _@cnt"> @objRoleActivityList.ActivityName</label>
                                                                    </div>
                                                                </td>

                                                                if (cnt % 4 == 0)
                                                                {
                                                                    @:</tr>
                                                                @:<tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                }
                                                            }
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @if (@ViewBag.CalledFrom == "emp" || @ViewBag.CalledFrom == "nonemp" || @ViewBag.CalledFrom == "corp" || @ViewBag.CalledFrom == "cousr")
                {
                    <button type="button" class="btn btn-success" name="Save" id="btnSave" data-loading-text="Saving" autocomplete="off">@InsiderTrading.Common.Common.getResource("com_btn_14017")</button>
                    
                    <button type="button" class="btn btn-success cancel" id="Cancel" name="Cancel" data-dismiss="modal"><i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14011")</button>
                    
                    @Html.Hidden("acid", (int)ViewBag.user_action)
                }
                else
                {
                    <button type="submit" class="btn btn-success" name="Create"> <i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("com_btn_14017")</button>

                    if (@ViewBag.CalledFrom == "RoleMaster")
                    {
                        <a href="@Url.Action("Cancel", "RoleActivity", new { RoleId = ViewBag.RoleId, CalledFrom = ViewBag.CalledFrom, uid = ViewBag.user_id })" class="btn btn-success"><i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14011")</a>
                    }

                    <input type="hidden" name="authorization" value="Create:@ViewBag.user_action" />
                }   
                @Html.Hidden("Create", "")
                
            </div>
        </div>
    }
    </div>
    <input type="submit" style="display:none;" id="dropdown" name="dropdown" />
}
}
@Html.Hidden("SaveAction", Url.Action("Create", "RoleActivity"))