@model InsiderTrading.Models.PeriodEndDisclosureModel_OS
@{
    ViewBag.Title = "SummaryOS";
    String ViewName = "";
}
@Styles.Render("~/content/SW360")

<!-- Content Header -->
<section class="content-header">
    <h1>@InsiderTrading.Common.Common.getResource("dis_ttl_53117")</h1>
    @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
</section>
<!-- Main content -->
<section class="content search" gridtype="@ViewBag.GridType">
    @{
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @if (ViewBag.showAddTransactionBtn)
                {
                    @*<a class="btn btn-success" data-toggle="modal" href='#' role="button"> @InsiderTrading.Common.Common.getResource("dis_btn_53127")</a>*@
                    <button id="btnInsiderSubmit" class="btn btn-success" disabled><i class="fa fa-check"></i>@InsiderTrading.Common.Common.getResource("dis_btn_53128")</button>
                }
                <a id="DownloadBtn" href="@Url.Action("DownloadDetails", "PeriodEndDisclosure_OS", new { acid = ViewBag.activity_id, period = ViewBag.PeriodCode, year = ViewBag.YearCode, pdtype = ViewBag.PeriodType, uid = ViewBag.UserId, tmid = ViewBag.TransactionMasterId })" class="btn btn-success" title="@InsiderTrading.Common.Common.getResource("dis_ttl_53131")"><i class="fa fa-download"></i>@InsiderTrading.Common.Common.getResource("dis_btn_53130")</a>
            </div>
        </div>
        <div class="div-spacer"></div>
        <hr>

    }
    <!-- upload document div -->
    @using (Html.BeginForm("SummaryOS", "PeriodEndDisclosure", new { ReturnUrl = ViewBag.ReturnUrl, formId = InsiderTrading.Common.ConstEnum.Code.frmSavePolicyDocument, acid = InsiderTrading.Common.ConstEnum.UserActions.POLICY_DOCUMENT_CREATE }, FormMethod.Post, new { @class = "", role = "", @autocomplete = "off" }))
    {
        <div class="row" id="uploadDocDiv">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            @{
                                if (ViewBag.isAllEdit)
                                {
                                    @Html.Label(@InsiderTrading.Common.Common.getResource("rul_lbl_15246"))
                                    @Html.Partial("~/Views/Common/ViewMultiUploadedDocument.cshtml", Model.PeriodEndDocumentFile, new ViewDataDictionary() { { "user_action", ViewBag.UserAction } })
                                }
                                else
                                {
                                    @Html.Label(@InsiderTrading.Common.Common.getResource("rul_lbl_15245"))
                                    @Html.Partial("~/Views/Common/MultiDocumentUpload.cshtml", Model.PeriodEndDocumentFile, new ViewDataDictionary() { { "user_action", ViewBag.UserAction } })
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- upload document div end -->
    <!-- Search form content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel-default">
                <div class="card-body">
                    <form role="form">
                        @{
                            //check user activity id - if CO activity then show employee / insider name and employee id
                            if (ViewBag.activity_id == InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE_OS)
                            {
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_53119")) @ViewBag.EmployeeId
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_53120")) @ViewBag.InsiderName
                                    </div>
                                </div>
                            }
                        }
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_53129")) @ViewBag.Period
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel-default">
                <div class="card-body">
                    @{
                        @Html.Hidden("1", (Int32)@ViewBag.UserId, new { id = "1", gridtype = @ViewBag.GridType });
                        @Html.Hidden("2", (Int32)@ViewBag.YearCode, new { id = "2", gridtype = @ViewBag.YearCode });
                        @Html.Hidden("3", (Int32)@ViewBag.PeriodCode, new { id = "3", gridtype = @ViewBag.PeriodCode });

                        Html.RenderAction("Index", "DatatableGrid", new { type = InsiderTrading.Common.ConstEnum.GridType.PeriodEndDisclosureSummaryList_OS, btnSearch = "", sSortCol = "0", acid = ViewBag.activity_id });
                    }

                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @{


                //check user activity to set back button url
                if (ViewBag.activity_id == InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE_OS || ViewBag.activity_id == InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE)
                {
                    //insider page
                    ViewName = "PeriodStatusOS";
                }
                else if (ViewBag.activity_id == InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE_OS)
                {
                    //CO page
                    ViewName = "PeriodStatusOS";
                }

            }

            <a class="btn btn-success" data-toggle="modal" href='@Url.Action(ViewName, "PeriodEndDisclosure_OS", new { acid = ViewBag.activity_id, year = ViewBag.YearCode, Uid = ViewBag.UserId })' role="button"> @InsiderTrading.Common.Common.getResource("com_btn_14011")</a>
        </div>
    </div>
    <div class="div-spacer"></div>

</section>
<div class="modal fade" id="popupAlert" tabindex="-1" role="dialog" aria-labelledby="popupAlertlabel" aria-hidden="true">
    <div class="modal-dialog" style="width:65%">
        <div class="modal-content">
            <div class="modal-header">
                <b id="PopupHeader"></b><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<button type="button" id="btnSubmitTransaction" style="display:none;"> </button>
<input type="hidden" value="@ViewBag.TransactionMasterId" id="TransactionMasterId" />
<a href='@Url.Action("PeriodStatusOS", "PeriodEndDisclosure_OS", new { acid = ViewBag.activity_id, year = ViewBag.YearCode, Uid = ViewBag.UserId })' id="lnkCancel"></a>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnInsiderSubmit').click(function () {
            var userId = '@ViewBag.UserId';
            var TransactionMasterId = '@ViewBag.TransactionMasterId';
            $.ajax({
                url: "@Url.Action("PopupConfirmation", "TradingTransaction_OS")",
                data: { 'acid': '@InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE', "nTradingTransactionMasterId": TransactionMasterId, "nDisclosureStatus": '@InsiderTrading.Common.ConstEnum.Code.DisclosureStatusForNotConfirmed', "nDisclosureTypecodeId": '@InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd', "nConfigurationValueCodeId": '@InsiderTrading.Common.ConstEnum.Code.EnterUploadSetting_EnterDetails', 'nIsTransactionEnter': '1', 'nIsDuplicateRecordFound': '0', 'nFromSubmitPage': '0', 'nUserId': userId },
                method: "POST",
                success: function (response) {
                    $("#popupAlert .modal-body").html(response);
                }

            });
            $("#popupAlert").modal('show');
        });
        $('#btnSubmitTransaction').click(function () {

            var form = $('#__AjaxAntiForgeryperiodEndOwnForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            var DisclosurertypeformId = 52;

            var data = { 'nTradingTransactionMasterId': $('#TransactionMasterId').val(), 'nDisclosureTypecodeId': '@InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd', 'acid': '@InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE', 'Chk_DeclaFrmInsContDis': 'false', 'IsDeclarationToBeMandatory': 'false', 'year': '@ViewBag.YearCode', 'period': '@ViewBag.PeriodCode', 'uid': '@ViewBag.UserId', __RequestVerificationToken: token, formId: DisclosurertypeformId };

            $.ajax({
                url: '@Url.Action("Submit", "TradingTransaction_OS")',
                method: 'POST',
                headers: getRVToken(),
                data: data,
                datatype: 'json',
                success: function (data) {
                    if (data.status) {
                        showMessage(data.Message['success'], true);
                        if (data.softCopReq == true) {
                            sPESubRedirURL = '';
                            window.location.href = data.redirectTo;
                        }
                        else {
                            $('#lnkCancel')[0].click();
                        }
                    }
                    else {
                        showMessage(data.Message['error'], false);
                    }
                }
            });

        });
    });


    $('#DownloadBtn').click(function () {
        $('#btnInsiderSubmit').removeAttr("disabled");
    });

    var isError = '@ViewBag.ErrorFound'
    if(isError == 'True')
    {
        $('#btnInsiderSubmit').removeAttr("disabled");
    }

</script>
<script type="text/javascript">
    setTimeout(function () { $('.validation-summary-errors').remove() }, 10000);
</script>
