<!-- Content Header (Page header) -->
<section class="content-header">    
</section>

@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";

    ViewBag.FAQActionItemURL = Url.Action("COFAQList", "FAQ") + "?acid=" + InsiderTrading.Common.ConstEnum.UserActions.FAQ_COList;
    ViewBag.Menuid = InsiderTrading.Common.ConstEnum.MenuID.COFAQLIST;
    if (ViewBag.UserTypeCodeId != InsiderTrading.Common.ConstEnum.Code.COUserType && ViewBag.UserTypeCodeId != InsiderTrading.Common.ConstEnum.Code.Admin)
    {
        ViewBag.FAQActionItemURL = Url.Action("InsiderFAQList", "FAQ") + "?acid=" + InsiderTrading.Common.ConstEnum.UserActions.FAQ_InsiderList;
        ViewBag.Menuid = InsiderTrading.Common.ConstEnum.MenuID.INSIDERFAQLIST;
    }
}

<div class="box-header with-border">
    <h3 class="box-title"><img src="@Url.Content("~/")images/icon-faq.png" class="img inline-block">&nbsp;FAQ<span class="text-lowercase">s</span></h3>
    @if (ViewBag.UserTypeCodeId == @InsiderTrading.Common.ConstEnum.Code.Admin || ViewBag.UserTypeCodeId == @InsiderTrading.Common.ConstEnum.Code.SuperAdminType || ViewBag.UserTypeCodeId == @InsiderTrading.Common.ConstEnum.Code.COUserType)
{
    <a class="btn btn-sm btn-success pull-right showSelectedMenus" parentmenuid="@ViewBag.Menuid" childmenuid="@ViewBag.Menuid" href="~/InsiderInitialDisclosure/DisplayPolicy?CalledFrom=COFAQ&acid=193&PolicyDocumentID=7&DocumentID=21&IsFromDashboard=true">View All</a>
}
    else
    {
        <a class="btn btn-sm btn-success pull-right showSelectedMenus" parentmenuid="@ViewBag.Menuid" childmenuid="@ViewBag.Menuid" href="~/InsiderInitialDisclosure/DisplayPolicy?CalledFrom=InsiderFAQ&acid=154&PolicyDocumentID=7&DocumentID=21&IsFromDashboard=true">View All</a>
    }

</div>
<div class="box-body">
    <ul class="list-faq">
        @foreach (var faqItem in ViewBag.FAQList)
        {
            <li><a class="showSelectedMenus" parentmenuid="@ViewBag.Menuid" childmenuid="@ViewBag.Menuid" href="@ViewBag.FAQActionItemURL&parentid=@faqItem.SequenceNo">@faqItem.FAQName</a></li>
        }
    </ul>
</div>
