<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquerynew")
    <!--[if lt IE 9]<!-->
    @Scripts.Render("~/bundles/jqueryold")
    <!--<[endif]-->
    <!--[if gte IE 9]><!-->
    @*@Scripts.Render("~/bundles/jquerynew")*@
    <!--<![endif]-->
    <!--[if !IE]>-->
    @*@Scripts.Render("~/bundles/jquerynew")*@
  
    
    <!--<![endif]-->
    @Styles.Render("~/content/SW360")
    @Scripts.Render("~/bundles/SW360")
    @Scripts.Render("~/bundles/OnlyCookie")

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
    </script>
    <script>
        function deletecookie() {
            try {
                var pairs = document.cookie.split(";");
                var cookies = [];
                for (var i = 0; i < pairs.length; i++) {
                    var pair = pairs[i].split("=");
                    cookies.push(pair[0]);
                }
                $.each(cookies, function (index, value) {
                    $.cookie(value, null, { expires: -1, path: '/' });
                });
            } catch (e) { }
        }
        try {
            var pairs = document.cookie.split(";");
            for (var i = 0; i < pairs.length; i++) {
                deletecookie();
            }
        } catch (e) { }
    </script>
</head>
<body onload="preventBack();" onpageshow="if (event.persisted) preventBack();" onunload="">
    @RenderBody()
    @RenderSection("scripts", required: false)
    <div style="text-align: center; clear: both; padding: 5px;">
        This site is best viewed in Internet Explorer 10 and above, Google Chrome, Mozilla Firefox and Apple Safari.
    </div>
</body>
</html>
