@model InsiderTrading.Models.PreclearanceRequestModel
@{
    ViewBag.Title = "PreClearanceApproveRejectRequest";
}
@using (Html.BeginForm("ApproveRejectAction", "PreclearanceRequest", new { formId = InsiderTrading.Common.ConstEnum.Code.frmApproveRejectPreclearanceRequest }, FormMethod.Post, new { @class = "", role = "form", @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <section class="content-header">
        <h1>PRECLEARANCE REQUEST</h1>
    </section>
    <section class="content">
        @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    @Html.HiddenFor(m => m.PreclearanceRequestId)
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 form-group row">
                                <div class="col-xs-6">
                                    @Html.LabelFor(m => m.UserName)
                                </div>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(m => m.UserName)
                                </div>
                            </div>
                            <div class="col-xs-6 form-group row">
                                <div class="col-xs-6">
                                    @Html.LabelFor(m => m.CompanyName)
                                </div>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(m => m.CompanyName)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group row">
                                <div class="col-xs-6">
                                    @Html.LabelFor(m => m.PreClearanceFor)
                                </div>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(m => m.PreClearanceFor)
                                </div>
                            </div>
                            @{
                                if (Model.UserInfoIdRelative != null && Model.UserInfoIdRelative > 0)
                                {
                                    <div class="col-xs-3 form-group row">
                                        <div class="col-xs-6">
                                            @Html.LabelFor(m => m.RelativeName)
                                        </div>
                                        <div class="col-xs-6">
                                            @Html.DisplayFor(m => m.RelativeName)
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                        <div class="row">
                            <div class="col-xs-6 form-group row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EmployeeId):
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.DisplayFor(m => m.EmployeeId)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PreClearanceRequestedDate):
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @InsiderTrading.Common.Common.ApplyFormatting(Model.PreClearanceRequestedDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TransactionTypeText):
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.DisplayFor(m => m.TransactionTypeText)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SecurityTypeText):
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.DisplayFor(m => m.SecurityTypeText)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.show_exercise_pool_quantity)
                        {
                            <div class="row form-group">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="securityPool">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            @if (ViewBag.show_select_pool_quantity_checkbox)
                                            {
                                                @Html.CheckBoxFor(m => m.ESOPExcerciseOptionQtyFlag, new { @disabled = "disabled" })
                                            }

                                            @Html.LabelFor(m => m.ESOPExcerciseOptionQtyFlag)
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 numericOnly" id="esopqty">
                                            @ViewBag.esop_exercise_qty
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            @if (ViewBag.show_select_pool_quantity_checkbox)
                                            {
                                                @Html.CheckBoxFor(m => m.OtherESOPExcerciseOptionQtyFlag, new { @disabled = "disabled" })
                                            }

                                            @Html.LabelFor(m => m.OtherESOPExcerciseOptionQtyFlag)
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 numericOnly" id="otherqty">
                                            @ViewBag.other_esop_exercise_qty
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-xs-6 form-group row">
                                <div class="col-xs-12">
                                    @*<div class="form-group">*@
                                        @Html.Label("Securities proposed to be traded:") &nbsp; &nbsp; @Html.DisplayFor(m => m.SecuritiesToBeTradedQty)  @*&nbsp; &nbsp; @Html.Label("for company") &nbsp; &nbsp; @Html.DisplayFor(m => m.CompanyName)*@
                                    @*</div>*@
                                </div>
                            </div>

                            <div class="col-xs-6 form-group row">
                                <div class="col-xs-6">
                                    @Html.LabelFor(m => m.PreclearanceValidityDate)
                                </div>
                                <div class="col-xs-6">
                                    @InsiderTrading.Common.Common.ApplyFormatting(Model.PreclearanceValidityDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date)
                                    @Html.HiddenFor(m => m.PreclearanceValidityDate)
                                </div>
                            </div>
                        </div>
                   
                        @{
                            if (@ViewBag.PreClrUPSIDeclarationMessage != null && @ViewBag.PreClrUPSIDeclarationMessage != "")
                            {
                                <div class="row">
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            @*@Html.CheckBox(checked=true, new { @disabled = "disabled"})*@
                                            <input type="checkbox" disabled="disabled" checked="checked">
                                        </div>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-6 col-xs-12">
                                        <div class="form-group ax_shape">
                                            <label class="normalLable">
                                                @*@InsiderTrading.Common.Common.getResource("dis_lbl_17088")*@
                                                @Html.Raw(@ViewBag.PreClrUPSIDeclarationMessage);
                                                @*In this connection, I hereby confirm that: <br />
                                1. I/my immediate relative(s) do not have any access nor have received or obtained access to or in possession of any Unpublished Price Sensitive Information relating to the Bank and/or its securities, till the time of signing of this application.<br />
                                2. I unconditionally and irrevocably undertake on behalf of myself and on behalf of my immediate relative (s) that if, I gain access to or receive any unpublished price sensitive information as aforesaid after the signing of this application but before the execution of the transaction(s), I shall forthwith inform the Compliance Officer of the same. I and my Immediate Relative (s) would not deal in the securities of the Bank till the time such unpublished price sensitive information becomes public.<br />
                                3. I / my immediate relative (s) have not contravened the Code of Conduct to Regulate, Monitor and Report Trading by Insiders, in any manner whatsoever and that the proposed trade would not be in violation of SEBI Insider Trading Regulations, 2015.<br />
                                4. I have made full and true disclosure in the matter.<br />
                                5. I further confirm that, in case the pre-clearance is granted, the said shares/securities of the Bank will be sold/purchased within seven trading days of the receipt of
                                    pre-clearance and the details of such sale/purchase shall be intimated to the Bank within two trading days from the date of execution of trade.
                                                *@
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                        <div class="row" id="CO_PreclearanceEditablePanel" style="display:none">
                          @if (ViewBag.IsPreClearanceEditable == 524001 && (Model.TransactionTypeCodeId == 143001 || Model.TransactionTypeCodeId == 143002))
                          {
                              if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_EDIT_PRECLEARANCE_QUANTITY))
                              {
                                <div class="col-xs-6 form-group row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SecuritiesApproved):
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.SecuritiesApproved, new { @class = "form-control numericOnly" })
                                            @Html.ValidationMessageFor(m => m.SecuritiesApproved)
                                        </div>
                                    </div>
                                </div>
                              }
                              if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_EDIT_PRECLEARANCE_VALIDITY))
                              {
                                <div class="col-xs-6 form-group row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PreclearanceValidityDateChanged):
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" id="sandbox-container">
                                            @{
                                                string DOJ = "";
                                                if (Model.PreclearanceValidityDateChanged != null)
                                                {
                                                    DOJ = InsiderTrading.Common.Common.ApplyFormatting(Model.PreclearanceValidityDateChanged, InsiderTrading.Common.ConstEnum.DataFormatType.Date);
                                                   
                                                }
                                                
                                            }
                                            <div class="input-group date">
                                                @Html.TextBox("ChangedValidityDate", DOJ, new { @class = "form-control" })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.HiddenFor(m => m.PreclearanceValidityDateChanged)
                                            </div>
                                            @Html.ValidationMessageFor(m => m.PreclearanceValidityDateChanged)
                                        </div>

                                    </div>
                                </div>
                              }
                          }
                        </div>
                      
                        @if (ViewBag.IsPanelActive)
                        {
                            <div class="row" id="divButtonStatus" style="display: none;">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.CO_ROLE_APPROVE_REJECT) || ViewBag.UserTypeCode == @InsiderTrading.Common.ConstEnum.Code.Admin || ViewBag.UserTypeCode == @InsiderTrading.Common.ConstEnum.Code.SuperAdminType)
                                    {
                                        @*<input type="button" name="ApproveAction" id="ApproveAction" class="confirm btn btn-success" data-loading-text="Saving" autocomplete="off" value="@InsiderTrading.Common.Common.getResource("dis_btn_17242")">*@
                                        <button type="button" name="btnApprove" id="btnApprove" class="confirm btn btn-success">Approve</button>
                                        <button type="button" name="btnReject" id="btnReject" class="btn btn-danger"> Reject</button>
                                    }
                                    <a class="btn btn-success" data-toggle="modal" href='@Url.Action("backButtonAction", "PreclearanceRequest", new { CalledFrom = "CO" })' role="button"><i class="fa fa-times"></i>   @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row" id="divButtonStatus">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.CO_ROLE_APPROVE_REJECT) || ViewBag.UserTypeCode == @InsiderTrading.Common.ConstEnum.Code.Admin || ViewBag.UserTypeCode == @InsiderTrading.Common.ConstEnum.Code.SuperAdminType)
                                    {
                                        @*<input type="button" name="ApproveAction" id="ApproveAction" class="confirm btn btn-success" data-loading-text="Saving" autocomplete="off" value="@InsiderTrading.Common.Common.getResource("dis_btn_17242")">*@
                                        <button type="button" name="btnApprove" id="btnApprove" class="confirm btn btn-success">Approve</button>
                                        <button type="button" name="btnReject" id="btnReject" class="btn btn-danger"> Reject</button>
                                    }
                                    @{
                                    //check back link to create back url when click on cancel
                                    string back_url = "";

                                    if (ViewBag.back_link != "" && ViewBag.back_link == "preclereq")
                                    {
                                        back_url = Url.Action("ApproveRejectAction", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreclearanceRequestId = ViewBag.previous_preclearance_id });
                                    }
                                    else
                                    {
                                        back_url = Url.Action("backButtonAction", "PreclearanceRequest", new { CalledFrom = "CO" });
                                    }
                                    }
                                    <a class="btn btn-success" data-toggle="modal" href='@back_url' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                                </div>
                            </div>
                        }
                        @if (ViewBag.IsReject)
                        {
                            <div class="row" id="divRejection">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    @Html.LabelFor(m => m.ReasonForRejection)
                                    @Html.TextAreaFor(m => m.ReasonForRejection, new { @class = "form-control" })
                                    <br />
                                    <button type="submit" name="RejectAction" id="RejectAction" class="confirm btn btn-danger" data-loading-text="Saving" autocomplete="off">@InsiderTrading.Common.Common.getResource("dis_btn_17243")</button>
                                    <button type="button" name="btnBack" id="btnBack" class="btn" style="color: #222" autocomplete="off">Back</button>
                                    <a class="btn btn-success" data-toggle="modal" href='@Url.Action("backButtonAction", "PreclearanceRequest", new { CalledFrom = "CO" })' role="button"><i class="fa fa-times"></i>   @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                                </div>
                            </div>
                        }
                        <div class="row" id="divRejection1" style="display:none;">
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                @Html.LabelFor(m => m.ReasonForRejection)
                                @Html.TextAreaFor(m => m.ReasonForRejection, new { @class = "form-control" })
                                <br />
                                <button type="submit" name="RejectAction" id="RejectAction" class="confirm btn btn-danger" data-loading-text="Saving" autocomplete="off">@InsiderTrading.Common.Common.getResource("dis_btn_17243")</button>
                                <button type="button" name="btnBack" id="btnBack" class="btn" style="color: #222" autocomplete="off">Back</button>
                                <a class="btn btn-success" data-toggle="modal" href='@Url.Action("backButtonAction", "PreclearanceRequest", new { CalledFrom = "CO" })' role="button"><i class="fa fa-times"></i>   @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                            </div>
                        </div>
                        @if (ViewBag.IsApprove)
                        {
                            <div class="row" id="divApproval">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    @Html.LabelFor(m => m.ReasonForApprovalCodeId)
                                    @Html.DropDownListFor(m => m.ReasonForApprovalCodeId, new SelectList(ViewBag.ReasonForApproveDropDown, "Key", "Value", ""), new { @class = "form-control", style = "border-color:#B94A48 !important;" })
                                    @Html.LabelFor(m => m.ReasonForApproval)
                                    @Html.TextAreaFor(m => m.ReasonForApproval, new { @class = "form-control", style = "border-color:#d2d6de !important;" })
                                    <br />
                                    <input type="button" name="ApproveAction" id="ApproveAction" class="confirm btn btn-success" data-loading-text="Saving" autocomplete="off" value="@InsiderTrading.Common.Common.getResource("dis_btn_17242")">
                                    <button type="button" name="btnBack" id="btnBackApprove" class="btn" style="color: #222" autocomplete="off">Back</button>
                                    <a class="btn btn-success" data-toggle="modal" href='@Url.Action("backButtonAction", "PreclearanceRequest", new { CalledFrom = "CO" })' role="button"><i class="fa fa-times"></i>   @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                                </div>
                            </div>
                        }
                        <div class="row" id="divApproval1" style="display:none;">
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                @Html.LabelFor(m => m.ReasonForApprovalCodeId)
                                @Html.DropDownListFor(m => m.ReasonForApprovalCodeId, new SelectList(ViewBag.ReasonForApproveDropDown, "Key", "Value", ""), new { @class = "form-control" })
                                @Html.LabelFor(m => m.ReasonForApproval)
                                @Html.TextAreaFor(m => m.ReasonForApproval, new { @class = "form-control", style = "border-color:#d2d6de !important;" })
                                <br />
                                <input type="button" name="ApproveAction" id="ApproveAction" class="confirm btn btn-success" data-loading-text="Saving" autocomplete="off" value="@InsiderTrading.Common.Common.getResource("dis_btn_17242")">
                                <button type="button" name="btnBack" id="btnBackApprove" class="btn" style="color: #222" autocomplete="off">Back</button>
                                <a class="btn btn-success" data-toggle="modal" href='@Url.Action("backButtonAction", "PreclearanceRequest", new { CalledFrom = "CO" })' role="button"><i class="fa fa-times"></i>   @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                            </div>
                        </div>
                        @Html.Hidden("showExercisepool", (int)@ViewBag.Show_Exercise_Pool)
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        @{
                        //check to show CO pre clearance list
                        if (ViewBag.show_CO_pre_clearance_list)
                        {
                            int grid_type = InsiderTrading.Common.ConstEnum.GridType.PreClearanceDetailsList_CO;
                            int activity_id = InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE;

                            <div class="row search" gridtype=@grid_type>
                                <h4>@InsiderTrading.Common.Common.getResource("dis_lbl_17428")</h4>

                                @Html.Hidden("pcrid", Model.PreclearanceRequestId, new { id = "1", gridtype = grid_type })

                                @{
                            Html.RenderAction("Index", "DatatableGrid", new { type = grid_type, btnSearch = "", sSortCol = "0", acid = activity_id, bIsPagination = false, sShowProcessing = "false" });
                                }

                                @Html.Hidden("perclearancelink", Url.Action("Create", "PreclearanceRequest", new { CalledFrom = "View", acid = activity_id, blink = "preclereq", prevpcid = Model.PreclearanceRequestId }))
                                @Html.Hidden("transactiondetailslink", Url.Action("Index", "TradingTransaction", new { acid = activity_id, frm = "preclereq", PreclearanceRequestId = Model.PreclearanceRequestId }))
                                @Html.Hidden("Appoveperclearancelink", Url.Action("ApproveRejectAction", "PreclearanceRequest", new { acid = activity_id, blink = "preclereq", prevpcid = Model.PreclearanceRequestId }))
                                @if (@ViewBag.contra_trade_period != null)
                                {
                                    @InsiderTrading.Common.Common.getResource("dis_lbl_17381", ViewBag.contra_trade_period)
                                }

                                @*Details of last @ViewBag.contra_trade_period days*@
                            </div>
                        }
        }
    </section><!-- /.content -->
    <input type="hidden" name="authorization" value="ApproveAction:@InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE,RejectAction:@InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE" />
    <input type="hidden" name="PreclearaceRequestCOUserAction" id="PreclearaceRequestCOUserAction" value="@InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE" />
    @Html.Hidden("DownloadFormE", Url.Action("DownloadFormE", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE }))
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Show_CO_PreclearanceEditablePanel' == 'True')
        {
            $("#CO_PreclearanceEditablePanel").show();
        }

        $("#btnReject").click(function () {
            $("#divButtonStatus").hide();
            $("#divRejection").show();
            $("#divApproval").hide();
            $("#divRejection1").show();
            $("#divApproval1").hide();

        });

        $("#btnApprove").click(function () {
            debugger;
            $("#divButtonStatus").hide();
            $("#divRejection").hide();
            $("#divApproval").show();
            $("#divRejection1").hide();
            $("#divApproval1").show();
            $("#CO_PreclearanceEditablePanel").show();
           
        });

        $("#btnBack").click(function () {
            $("#divButtonStatus").show();
            $("#divRejection").hide();
            $("#divApproval").hide();
            $("#divRejection1").hide();
            $("#divApproval1").hide();
            $("#divValidationSummaryModal").hide();
        });
        $("#btnBackApprove").click(function () {
            $("#divButtonStatus").show();
            $("#divRejection").hide();
            $("#divApproval").hide();
            $("#divRejection1").hide();
            $("#divApproval1").hide();
            $("#divValidationSummaryModal").hide();
            $("#CO_PreclearanceEditablePanel").hide();
        });
    });
</script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/PreclearanceRequest")
@Scripts.Render("~/bundles/JqueryConfirm")

