@model InsiderTrading.Models.PreclearanceRequestModel
@{
    ViewBag.Title = "SecurityTypeDetails";
}

<!-- Content Header (Page header) -->
<section>
    @Html.AntiForgeryToken()
</section>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="form-group">
        @Html.LabelFor(m => m.SecurityTypeCodeId)
        @Html.DropDownListFor(m => m.SecurityTypeCodeId, new SelectList(ViewBag.TypeOfSecurityList, "Key", "Value", ""), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SecurityTypeCodeId)
        @Html.HiddenFor(m => m.SecurityTypeCodeId)

    </div>
</div>