@model InsiderTrading.Models.PrintTemplateModel
@{
    Layout = ViewBag.Layout;
    ViewBag.Title = InsiderTrading.Common.Common.getResource("dis_ttl_17102");
}
<!-- Content Header (Page header) -->
<section class="content-header">    
    @Html.AntiForgeryToken()
    <h1>@InsiderTrading.Common.Common.getResource("dis_ttl_17102")</h1>
</section>
<!--
<div class="panel panel-default">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row" style="text-align:center">
        <b>
            <br />FORM B<br /><br />
            Securities and Exchange Board of India (Prohibition of Insider Trading) Regulations, 2015<br /><br />
            [Regulation 7 (I)(b) read with Regulation 6(2)]
        </b>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
        <br />
        Name of the Company: <br /><br />
        ISIN of the Company: <br /><br />
        <b>Details of Securities held on appointment of Key Managerial Personnel(KMP) or Director or upon becoming a Promoter of a listed company and other such persons as mentional in Regulation 6(2).</b>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
        <div class="col-lg-12">
            <div class="">
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table name="@ViewBag.sGridTagName" class="data-table table table-bordered table-striped" gridtype="@ViewBag.type">
                            <thead>
                                <tr></tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
        <i><b>Note: </b>"Securities" shall the meaning as defined under regulation 2(1)(i) of SEBI(Prohibition of Insider Trading) Regulations, 2015.</i>
    </div>
    <div class="">
        <br /><br />
        Signature: <br /><br />
        Designation: <br /><br />
        Date: <br /><br />
        Place: <br /><br />
    </div>
</div>-->
<div>
    @Html.Partial("~/Views/Pdf/Letter.cshtml", Model.transactionLetterModel)
</div>
