@model InsiderTrading.Models.PreclearanceRequestModel
@{
    ViewBag.Title = "_DMATwiseBalance";
}
@if (ViewBag.show_exercise_pool_quantity)
{
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="securityPool" style="display:none">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                @if (ViewBag.show_select_pool_quantity_checkbox)
                {
                    @Html.CheckBoxFor(m => m.ESOPExcerciseOptionQtyFlag, new { Styles = "display:none" })
                }
                @if (Model.DMATDetailsID1 > 0) { 
                    @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17397"))
                }
                else
                {
                     @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17454"))
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 numericOnly" id="esopqty">
                @ViewBag.esop_exercise_qty
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                @if (ViewBag.show_select_pool_quantity_checkbox)
                {
                    @Html.CheckBoxFor(m => m.OtherESOPExcerciseOptionQtyFlag, new { Styles = "display:none" })
                }
                @if (Model.DMATDetailsID1 > 0) {
                @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17398"))
                }else
                {
                     @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17455"))
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 numericOnly" id="otherqty">
                @ViewBag.other_esop_exercise_qty
            </div>
        </div>
    </div>
}

