@model InsiderTrading.Models.PolicyDocumentModel
@{
    ViewBag.Title = "View";
}

@Styles.Render("~/content/SW360")


<!-- Main content -->
<section class="content">
    <!-- policy document detail -->
    <h4>@InsiderTrading.Common.Common.getResource("tra_lbl_16056") @Model.PolicyDocumentName</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="card panel-default">
                <div class="card-body">
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>@InsiderTrading.Common.Common.getResource("tra_lbl_16057")</th>
                                <th>@InsiderTrading.Common.Common.getResource("tra_lbl_16058")</th>
                                <th>@InsiderTrading.Common.Common.getResource("tra_lbl_16059")</th>
                                <th>@InsiderTrading.Common.Common.getResource("tra_lbl_16060")</th>
                                <th>@InsiderTrading.Common.Common.getResource("tra_lbl_16061")</th>
                                <th>@InsiderTrading.Common.Common.getResource("tra_lbl_16062")</th>
                                <th>@InsiderTrading.Common.Common.getResource("tra_lbl_16063")</th>
                                <th>@InsiderTrading.Common.Common.getResource("tra_lbl_16064")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.DocumentCategoryName</td>
                                <td>@Model.DocumentSubCategoryName</td>
                                <td>@InsiderTrading.Common.Common.ApplyFormatting(Model.ApplicableFrom, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</td>
                                <td>@InsiderTrading.Common.Common.ApplyFormatting(Model.ApplicableTo, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</td>
                                <td>@Html.CheckBoxFor(m => m.DocumentViewFlag, new { @disabled = "disabled" })</td>
                                <td>@Html.CheckBoxFor(m => m.DocumentViewAgreeFlag, new { @disabled = "disabled" })</td>
                                <td>
                                @{
                                    switch (Model.WindowStatusCodeId)
                                    {
                                        case InsiderTrading.Common.ConstEnum.Code.PolicyDocumentWindowStatusActive:
                                            <i class="icon status icon-light-on light-orange"></i>
                                            break;
                                        case InsiderTrading.Common.ConstEnum.Code.PolicyDocumentWindowStatusDeactive:
                                            <i class="icon status icon-light-off light-gray"></i>
                                            break;
                                        case InsiderTrading.Common.ConstEnum.Code.PolicyDocumentWindowStatusIncomplete:
                                            @Model.WindowStatus;
                                            break;
                                    }
                                }
                                </td>
                                <td>@Html.ActionLink(" ", "DisplayPolicy", "InsiderInitialDisclosure", new { acid = InsiderTrading.Common.ConstEnum.UserActions.TRANSACTION_POLICY_DOCUMENT_VIEW, PolicyDocumentID = Model.PolicyDocumentId, DocumentID = ViewBag.AttachDocumentId, CalledFrom = "PolicyDocument" }, new { @class = "display-icon icon icon-eye" })</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <!-- Employee Insider details -->
        <div class="card panel-accordion">
            <div class="card-header">
                <h4 class="card-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                        <span class="fa fa-plus pull-right"></span>
                        @InsiderTrading.Common.Common.getResource("tra_lbl_16065")
                    </a>
                </h4>
            </div>
            <div id="collapseOne" data-parent="#accordion" class="panel-collapse collapse">
                <div class="card-body">
                    <div id="DivEmployeeInsider" class="search" gridtype="@ViewBag.EmployeeInsiderGridType">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card panel-default">
                                    <div class="card-body">
                                        <form role="form">
                                            <!-- form field row 1 -->
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.Label(@InsiderTrading.Common.Common.getResource("tra_lbl_16068"))
                                                        @*@Html.TextBox("EmpolyeeID", "", new { @class = "form-control", gridtype = @ViewBag.EmployeeInsiderGridType, id = "2" })*@
                                                        @Html.TextBoxFor(m => m.EmpolyeeID, new { @class = "form-control", gridtype = @ViewBag.EmployeeInsiderGridType, id = "2" })
                                                        @Html.ValidationMessageFor(m => m.EmpolyeeID)
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.Label(@InsiderTrading.Common.Common.getResource("tra_lbl_16069"))
                                                        @*@Html.TextBox("EmpolyeeName", "", new { @class = "form-control", gridtype = @ViewBag.EmployeeInsiderGridType, id = "3" })*@
                                                        @Html.TextBoxFor(m => m.EmpolyeeName, new { @class = "form-control", gridtype = @ViewBag.EmployeeInsiderGridType, id = "3" })
                                                        @Html.ValidationMessageFor(m => m.EmpolyeeName)
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- form buttons -->
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <button type="button" class="btn btn-success" id="btnEmployeeSearch"><i class="fa fa-search"> @InsiderTrading.Common.Common.getResource("com_btn_14005")</i></button>
                                                    <button type="reset" class="btn btn-success" id="btnReset" dt_name="btnReset" dt_gridtype="@ViewBag.EmployeeInsiderGridType"><i class="fa fa-undo"> @InsiderTrading.Common.Common.getResource("com_btn_14006")</i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*grid list for employee insider *@
                        @{
                            @Html.Hidden("epdid", @Model.PolicyDocumentId, new { id = "1", gridtype = @ViewBag.EmployeeInsiderGridType });

                            Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.EmployeeInsiderGridType, btnSearch = "btnEmployeeSearch", sSortCol = "1", acid = InsiderTrading.Common.ConstEnum.UserActions.TRANSACTION_POLICY_DOCUMENT_VIEW, bIsPagination = false });
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Corporate Insider details -->
        <div class="card panel-accordion">
            <div class="card-header">
                <h4 class="card-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                        <span class="fa fa-plus pull-right"></span>
                        @InsiderTrading.Common.Common.getResource("tra_lbl_16066")
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" data-parent="#accordion" class="panel-collapse collapse">
                <div class="card-body">
                    <div id="DivCorporateInsider" class="search" gridtype="@ViewBag.CorporateInsiderGridType">
                        @*grid list for corporate insider *@
                        @{
                            @Html.Hidden("cpdid", @Model.PolicyDocumentId, new { id = "1", gridtype = @ViewBag.CorporateInsiderGridType });
                            
                            Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.CorporateInsiderGridType, btnSearch = "", sSortCol = "1", acid = InsiderTrading.Common.ConstEnum.UserActions.TRANSACTION_POLICY_DOCUMENT_VIEW, bIsPagination = false });
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Non Employee Insider details -->
        <div class="card panel-accordion">
            <div class="card-header">
                <h4 class="card-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                        <span class="fa fa-plus pull-right"></span>
                        @InsiderTrading.Common.Common.getResource("tra_lbl_16067")
                    </a>
                </h4>
            </div>
            <div id="collapseThree" data-parent="#accordion" class="panel-collapse collapse">
                <div class="card-body">
                    <div id="DivNonEmployeeInsider" class="search" gridtype="@ViewBag.NonEmployeeInsiderGridType">
                        @*grid list for non-employee insider *@
                        @{
                            @Html.Hidden("nepdid", @Model.PolicyDocumentId, new { id = "1", gridtype = @ViewBag.NonEmployeeInsiderGridType });

                            Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.NonEmployeeInsiderGridType, btnSearch = "", sSortCol = "1", acid = InsiderTrading.Common.ConstEnum.UserActions.TRANSACTION_POLICY_DOCUMENT_VIEW, bIsPagination = false });
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Employee details -->
        <div class="card panel-accordion">
            <div class="card-header">
                <h4 class="card-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
                        <span class="fa fa-plus pull-right"></span>
                        @InsiderTrading.Common.Common.getResource("tra_lbl_16435")
                    </a>
                </h4>
            </div>
            <div id="collapseFour" data-parent="#accordion" class="panel-collapse collapse">
                <div class="card-body">
                    <div id="DivEmployee" class="search" gridtype="@ViewBag.EmployeeGridType">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card panel-default">
                                    <div class="card-body">
                                        <form role="form">
                                            <!-- form field row 1 -->
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.Label(@InsiderTrading.Common.Common.getResource("tra_lbl_16436"))
                                                        @*@Html.TextBox("EmpolyeeID", "", new { @class = "form-control", gridtype = @ViewBag.EmployeeGridType, id = "2" })*@
                                                        @Html.TextBoxFor(m => m.EmpID, new { @class = "form-control", gridtype = @ViewBag.EmployeeInsiderGridType, id = "2" })
                                                        @Html.ValidationMessageFor(m => m.EmpID)
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.Label(@InsiderTrading.Common.Common.getResource("tra_lbl_16437"))
                                                        @*@Html.TextBox("EmpolyeeName", "", new { @class = "form-control", gridtype = @ViewBag.EmployeeGridType, id = "3" })*@
                                                        @Html.TextBoxFor(m => m.EmpName, new { @class = "form-control", gridtype = @ViewBag.EmployeeInsiderGridType, id = "3" })
                                                        @Html.ValidationMessageFor(m => m.EmpName)
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- form buttons -->
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <button type="button" class="btn btn-success" id="btnEmployeeNotInsiderSearch"><i class="fa fa-search"> @InsiderTrading.Common.Common.getResource("com_btn_14005")</i></button>
                                                    <button type="reset" class="btn btn-success" id="btnReset" dt_name="btnReset" dt_gridtype="@ViewBag.EmployeeGridType"><i class="fa fa-undo"> @InsiderTrading.Common.Common.getResource("com_btn_14006")</i></button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*grid list for employee *@
                        @{
                            @Html.Hidden("epdid", @Model.PolicyDocumentId, new { id = "1", gridtype = @ViewBag.EmployeeGridType })
                            Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.EmployeeGridType, btnSearch = "btnEmployeeNotInsiderSearch", sSortCol = "1", acid = InsiderTrading.Common.ConstEnum.UserActions.TRANSACTION_POLICY_DOCUMENT_VIEW, bIsPagination = false });
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a class="btn btn-success" data-toggle="modal" href='@Url.Action("Index", "PolicyDocuments", new { acid = InsiderTrading.Common.ConstEnum.UserActions.TRANSACTION_POLICY_DOCUMENT_LIST })' role="button"> @InsiderTrading.Common.Common.getResource("com_btn_14011")</a>
        </div>
    </div>
    <div class="div-spacer"></div>
</section>
