<section class="content-header">
    <h1>
        @InsiderTrading.Common.Common.getResource("cmp_ttl_13096")
    </h1>
</section>
<section class="content">
    <input type="hidden" name="CompanyId" value="@ViewBag.CompanyId" />
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        @*   <a href="#" class="btn btn-default openall">open all</a> <a href="#" class="btn btn-default closeall">close all</a>*@
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-accordion">
                                    <div class="panel-heading active">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#1_BasicInfo">
                                                <span class="fa fa-plus pull-right"></span>
                                                @InsiderTrading.Common.Common.getResource("cmp_ttl_13086")
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="1_BasicInfo" class="panel-collapse in">

                                    </div>
                                </div>

                                <div class="panel panel-accordion">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#2_FaceValue">
                                                <span class="fa fa-plus pull-right"></span>
                                                @InsiderTrading.Common.Common.getResource("cmp_ttl_13087")
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="2_FaceValue" class="panel-collapse collapse">

                                    </div>
                                </div>

                                <div class="panel panel-accordion">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#3_AuthorisedCapital">
                                                <span class="fa fa-plus pull-right"></span>
                                                @InsiderTrading.Common.Common.getResource("cmp_ttl_13088")
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="3_AuthorisedCapital" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-accordion">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#4_ShareCapital">
                                                <span class="fa fa-plus pull-right"></span>
                                                @InsiderTrading.Common.Common.getResource("cmp_ttl_13089")
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="4_ShareCapital" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-accordion">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#5_ListingDetails">
                                                <span class="fa fa-plus pull-right"></span>
                                                @InsiderTrading.Common.Common.getResource("cmp_ttl_13090")
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="5_ListingDetails" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-accordion">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#6_ComplianceOfficer">
                                                <span class="fa fa-plus pull-right"></span>
                                                @InsiderTrading.Common.Common.getResource("cmp_ttl_13091")
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="6_ComplianceOfficer" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-accordion">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#7_Configuration">
                                                <span class="fa fa-plus pull-right"></span>
                                                @InsiderTrading.Common.Common.getResource("cmp_ttl_13123")
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="7_Configuration" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-accordion">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#8_PersonalDetailsConfirmation">
                                                <span class="fa fa-plus pull-right"></span>
                                                @InsiderTrading.Common.Common.getResource("cmp_ttl_50732")
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="8_PersonalDetailsConfirmation" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="CompanyId" id="CompanyId" value="@ViewBag.CompanyId" />
    <input type="hidden" name="CalledFrom" id="CalledFrom" value="@ViewBag.CalledFrom" />
    <input type="hidden" name="FaceValueSucceess" id="FaceValueSucceess" value='@InsiderTrading.Common.Common.getResource("cmp_msg_13110")' />
    <input type="hidden" name="AuthorizedShareSucceess" id="AuthorizedShareSucceess" value='@InsiderTrading.Common.Common.getResource("cmp_msg_13112")' />
    <input type="hidden" name="CapitalSucceess" id="CapitalSucceess" value='@InsiderTrading.Common.Common.getResource("cmp_msg_13114")' />
    <input type="hidden" name="ListingDetailsSucceess" id="ListingDetailsSucceess" value='@InsiderTrading.Common.Common.getResource("cmp_msg_13116")' />
    <input type="hidden" name="ComplianceOfficerSucceess" id="ComplianceOfficerSucceess" value='@InsiderTrading.Common.Common.getResource("cmp_msg_13119")' />
    <input type="hidden" name="deletealertmessage" id="deletealertmessage" value='@InsiderTrading.Common.Common.getResource("cmp_msg_13109")' />
    <input type="hidden" id="UserAction" name="UserAction" value="@InsiderTrading.Common.ConstEnum.UserActions.COMPANY_EDIT" />
    <input type="hidden" name="ConfigurationUpdateSucceess" id="ConfigurationUpdateSucceess" value='@InsiderTrading.Common.Common.getResource("cmp_msg_13169")' />
    <input type="hidden" name="ConfirmationSucceess" id="ConfirmationSucceess" value='@InsiderTrading.Common.Common.getResource("cmp_msg_50737")' />
    <input type="hidden" name="ConfigurationUpdateError" id="ConfigurationUpdateError" value='@InsiderTrading.Common.Common.getResource("cmp_msg_53103")' />
    <input type="hidden" name="ConfigurationUpdateUPSIError" id="ConfigurationUpdateUPSIError" value='@InsiderTrading.Common.Common.getResource("cmp_msg_54184")' />
    <input type="hidden" name="ConfigurationUpdateUPSIToError" id="ConfigurationUpdateUPSIToError" value='@InsiderTrading.Common.Common.getResource("cmp_msg_54185")' />
    @Html.Hidden("DownloadFormE", Url.Action("DownloadFormE", "PreclearanceRequest"))
</section>
<script>
    $(document).ready(function () {
    $(function () {
        $('accordion li:eq(0) a').tab('show');
        getContentTab(1)
    });

     

    $('#accordion a').click(function (e) {
        e.preventDefault();
        var tabID = $(this).attr("href").substr(1);
        var a = tabID.split('_');
       
        $("#tab-pane").each(function () {
            $(this).empty();
        });
        $.ajax({
            url: $('#GetAjax').val() + "?acid=11&Id=" + a[0] + "&CompanyId=" + '@ViewBag.CompanyId'+"&CalledFrom="+'@ViewBag.CalledFrom',
            cache: false,
            type: "get",
            dataType: "html",
            success: function (result) {
                $("#" + tabID).html(result);
                removeLink();

                if (a[0] == 7) {
                    setDmatAccountlst();
                }
            }
        });
        $(this).tab('show')
    });


        //$('.closeall').click(function () {
        //    $('.panel-collapse.in')
        //      .collapse('hide');
        //});
        //$('.openall').click(function () {
        //    $('.panel-collapse:not(".in")')
        //      .collapse('show');
        //});

    });

    function getContentTab(index) {
        var url = $('#GetAjax').val() + "?acid=11&Id=" + index + "&CompanyId=" + '@ViewBag.CompanyId' + "&CalledFrom=" + '@ViewBag.CalledFrom';
        var targetDiv = "#" + index + "_BasicInfo";

        $.get(url, null, function (result) {
            $(targetDiv).html(result);
            removeLink();
        });
    }
</script>


    @Html.Hidden("GetAjax", Url.Action("getAjaxTab", "Company"))

