@model InsiderTrading.Models.TradingWindowEventModel
@{
    ViewBag.Title = InsiderTrading.Common.Common.getResource("rul_ttl_15031");
}

<section class="content-header">
    <h1>@InsiderTrading.Common.Common.getResource("rul_ttl_15031")</h1>
</section>
<div class="div-spacer">
</div><br />
<section class="content search" gridtype="@ViewBag.GridType">

    <input type="hidden" value="@ViewBag.FinancialPeriodTypeId" id="FinancialPeriodTypeId" name="FinancialPeriodTypeId" />
    <input type="hidden" value="@ViewBag.FinancialYearId" id="FinancialYearId" name="FinancialYearId" />
    <input type="hidden" value="@ViewBag.acid" id="acid" name="acid" />
    <input type="hidden" value="@InsiderTrading.Common.ConstEnum.UserActions.Trading_Window_CREATE" id="TradingWindowEventCreateUserAction" name="TradingWindowEventCreateUserAction" />
    <input type="hidden" value="@InsiderTrading.Common.ConstEnum.UserActions.Trading_Window_EDIT" id="TradingWindowEventEditUserAction" name="TradingWindowEventEditUserAction" />
    <button type="button" data-toggle="collapse" class="btn btn-success" data-target="#filter-panel" aria-expanded="true">
        <i class="fa fa-search"></i> @InsiderTrading.Common.Common.getResource("com_btn_14005")
    </button>
    <div id="filter-panel" class="collapse in filter-panel" aria-expanded="true">
        <br />
        <div class="col-lg-12">
            <div class="card panel-default">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            @Html.Label(InsiderTrading.Common.Common.getResource("rul_lbl_15030"))
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <select id="1" class="form-control col-xs-3 ddlFinancialYearId" gridtype="@ViewBag.GridType">
                                @{foreach (var objFinancialYearList in ViewBag.FinancialYear)
                                {
                                    if (Convert.ToInt32(ViewBag.FinancialYearId) == Convert.ToInt32(objFinancialYearList.Key))
                                    {
                                        <option selected value="@objFinancialYearList.Key">@objFinancialYearList.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@objFinancialYearList.Key">@objFinancialYearList.Value</option>
                                    }
                                }
                                }
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            @Html.Label(InsiderTrading.Common.Common.getResource("rul_lbl_15099"))
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <select id="2" class="form-control col-xs-3 ddlFinancialPeriodTypeId" gridtype="@ViewBag.GridType">
                                @{foreach (var objFinancialPeriodTypeList in ViewBag.FinancialPeriodType)
                                {

                                    if (Convert.ToInt32(ViewBag.FinancialPeriodTypeId) == Convert.ToInt32(objFinancialPeriodTypeList.Key))
                                    {
                                        <option selected value="@objFinancialPeriodTypeList.Key">@objFinancialPeriodTypeList.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@objFinancialPeriodTypeList.Key">@objFinancialPeriodTypeList.Value</option>
                                    }
                                }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-spacer"></div><br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                @{
                    if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.TRADING_WINDOW_OTHER_VIEW)) {
                        <a href='@Url.Action("Calender", "TradingWindowsOther", new { acid = InsiderTrading.Common.ConstEnum.UserActions.TRADING_WINDOW_OTHER_VIEW, CalledFrom = "FinancialYear" })' class="inline-block pull-left"><button class="btn btn-success"><i class="icon icon-calender"></i> @InsiderTrading.Common.Common.getResource("rul_btn_15351")</button></a>
                    }
                }
            </p>
        </div>
    </div>
    <input type="button" style="display:none;" id="btnsearch" name="btnsearch" />
    <div class="div-spacer"></div><br />
    <div class="row "> </div>
    @{using (Html.BeginForm("Create", "TradingWindowEvent", new { ReturnUrl = ViewBag.ReturnUrl, formId = InsiderTrading.Common.ConstEnum.Code.frmSaveTradingWindow }, FormMethod.Post, new { id = "frmTradingWindowEvent", @class = "form-horizontal", role = "form", @autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })

        { Html.RenderAction("index", "DatatableGrid", new { type = @ViewBag.GridType, btnSearch = "btnsearch", sSortCol = "0", bIsPagination = false }); }

        <div class="div-spacer"></div><br />

        <div class="row pull-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @{
                if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.Trading_Window_CREATE) || InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.Trading_Window_EDIT)) { 
                <button type="button" class="btn btn-success" name="Save" id="btnSave" disabled="disabled" data-loading-text="Saving" autocomplete="off" gridtype="@InsiderTrading.Common.ConstEnum.GridType.TradingWindowEventListForFinancialPeriod"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("com_btn_14017")</button>
                }
            }
            @{if (ViewBag.BackButton)
            {
                <a href="@ViewBag.BackURL">
                    <button type="button" class="btn btn-success cancel showSelectedMenus" parentmenuid="43-MENU" childmenuid="43-MENU-43-MENU" id="Cancel" name="Cancel">
                        <i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14011")
                    </button>
                </a>
            }
        }
        </div>
    }
    }
</section>
@Html.Hidden("Create", Url.Action("Create", "TradingWindowEvent"))
@Html.Hidden("dropdownIndex", Url.Action("dropdownIndex", "TradingWindowEvent"))
@Scripts.Render("~/bundles/TradingWindowEventFinancialYear")



