@model InsiderTrading.Models.PrintTemplateModel
@using InsiderTrading.Common
@{
    ViewBag.CompanyLogoUrl = @Url.Content("~/") + "images/Logos/" + ((InsiderTrading.Common.LoginUserDetails)InsiderTrading.Common.Common.GetSessionValue((string)ConstEnum.SessionValue.UserDetails)).CompanyName + "/" + ((InsiderTrading.Common.LoginUserDetails)InsiderTrading.Common.Common.GetSessionValue((string)ConstEnum.SessionValue.UserDetails)).CompanyName + "_190X51.jpg";
    Layout = ViewBag.Layout;
    ViewBag.Title = InsiderTrading.Common.Common.getResource("dis_ttl_17102");
}
<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
    <h1>@InsiderTrading.Common.Common.getResource("dis_ttl_17102")</h1>
</section>

<div>
    <style media="print">
        html, body {
            margin: 0 !important;
            padding: 0 !important;
        }

        table.data-table {
            /*If we increase the font size then during printing the letter table gets wrapped on two pages in FireFox*/
            font-size: 6pt;
            width: 100% !important;
        }

            table.data-table th {
                width: 2% !important;
            }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).delegate("#print", "click", function () {
                var GridType1 = "", GridType2 = "";
                var lttr = '<table width="100%" style="border-spacing:0px;font-size:12pt;font-family:Roboto, sans-serif">' + $("#letter").html() + '</table>';
                $('#LetterContent').val(lttr);

                var form = $("#form").html();

                var TableOnForm = $('.search').html();
                $("#DataTables_Table_0").find("tbody td").attr("style", "");
                $("#DataTables_Table_1").find("tbody td").attr("style", "");

                GridType1 = $("#DataTables_Table_0").attr("gridtype");
                GridType2 = $("#DataTables_Table_1").attr("gridtype");

                var table = $("#DataTables_Table_0").html();
                var table2 = $("#DataTables_Table_1").html();
                var table1Header = $("#Grid1Header").html();
                var table1Footer = $("#Grid1Footer").html();
                var table2Header = $("#Grid2Header").html();
                var table2Footer = $("#Grid2Footer").html();

                //$("#DataTables_Table_0").find("tbody td").removeAttr("style", "");
                $("form").append("<div id=\"tempContainer\" style=\"display: ;\" gridtype=\"" + GridType1 + "\"></div>");
                $("#tempContainer").html(table);
                $("#tempContainer thead").css({ "font-size": "10pt", "font-weight": "bold" });
                $("#tempContainer thead th").css({ "vertical-align": "top" });
                if (GridType1 == "@InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForEmployeeInsider") {//Form C Grid 1
                    $("#tempContainer thead tr:eq(0) th:eq(1)").css({ "width": "5%" });
                    $("#tempContainer thead tr:eq(0) th:eq(2)").css({ "width": "15%" });
                    $("#tempContainer thead tr:eq(0) th:eq(3)").css({ "width": "25%" });
                    $("#tempContainer thead tr:eq(0) th:eq(4)").css({ "width": "15%" });
                    $("#tempContainer thead tr:eq(0) th:eq(5)").css({ "width": "16%" });
                }
                else if (GridType1 == "@InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsider") {//Form D Grid 1
                    $("#tempContainer thead tr:eq(0) th:eq(1)").css({ "width": "5%" });
                    $("#tempContainer thead tr:eq(0) th:eq(2)").css({ "width": "15%" });
                    $("#tempContainer thead tr:eq(0) th:eq(3)").css({ "width": "25%" });
                    $("#tempContainer thead tr:eq(0) th:eq(4)").css({ "width": "15%" });
                    $("#tempContainer thead tr:eq(0) th:eq(5)").css({ "width": "16%" });
                }
                else if (GridType1 == "@InsiderTrading.Common.ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid1") {//Form G grid1
                    $("#tempContainer thead tr:eq(0) th:eq(1)").css({ "width": "5%" });
                    $("#tempContainer thead tr:eq(0) th:eq(2)").css({ "width": "15%" });
                    $("#tempContainer thead tr:eq(0) th:eq(3)").css({ "width": "25%" });
                    $("#tempContainer thead tr:eq(0) th:eq(4)").css({ "width": "15%" });
                    $("#tempContainer thead tr:eq(0) th:eq(5)").css({ "width": "16%" });
                }

                $("#tempContainer tbody").css({ "font-size": "9pt" });
                $("#tempContainer tbody td").each(function () {
                    if ($(this).text() == "")
                        $(this).html("&nbsp;");
                });
                table = $("#tempContainer").html();
                $("#tempContainer").remove();

                $("form").append("<div id=\"tempContainer1\" style=\"display: ;\"  gridtype=\"" + GridType2 + "\"></div>");
                $("#tempContainer1").html(table2);
                $("#tempContainer1 thead").css({ "font-size": "10pt", "font-weight": "bold" });
                $("#tempContainer1 thead th").css({ "vertical-align": "top" });
                $("#tempContainer1 thead tr:eq(2) th").css({ "width": "15%" });
                $("#tempContainer1 tbody").css({ "font-size": "9pt" });
                $("#tempContainer1 tbody td").each(function () {
                    if ($(this).text() == "")
                        $(this).html("&nbsp;");
                });
                table2 = $("#tempContainer1").html();
                $("#tempContainer1").remove();

                form = '<table width="100%" >' + form + '</table><div style="font-weight:bold;font-size:10pt;"><br>' + table1Header + '<br></div><br><br><table width="100%" cellpadding="1" style="border-spacing:0px" border="1" >' + table + '</table>'
                + '<div style="font-weight:bold;font-style:italic;font-size:9pt;"><br>' + table1Footer + '<br></div><br><br><div style="font-weight:bold;font-size:10pt;">' + table2Header + '</div><br><br><table width="100%" cellpadding="1" style="border-spacing:0px" border="1" >'
                + table2 + '</table><br><br><div style="font-weight:bold;font-style:italic;font-size:9pt;">' + table2Footer + '</div>'
                    + '<br><br>' + '<table width="100%">' + $("#SignatureBody").html() + '</table>';
                $('#FormContent').val(form);
                return true;
            });

            $(document).delegate("#btnCancel", "click", function () {
                $('#FormContent').val("");
                $('#LetterContent').val("");
            });

            $(document).delegate("#btnSubmitSoftCopy", "click", function () {
                if ($("[name='[0].Value[0].GUID']").val() == "" && $("#StockExchangeDateSubmission").val() == "") {
                    $("#divValidationSummaryModal").removeClass("validation-summary-valid");
                    $("#divValidationSummaryModal").addClass("validation-summary-errors");
                    $("#divValidationSummaryModal").html("<ul><li>@InsiderTrading.Common.Common.getResource("dis_msg_17450")</li><li>@InsiderTrading.Common.Common.getResource("dis_msg_17451")</li></ul>");
                    scrollTo(0, 0);
                }
                else if ($("[name='[0].Value[0].GUID']").val() == "") {
                    $("#divValidationSummaryModal").removeClass("validation-summary-valid");
                    $("#divValidationSummaryModal").addClass("validation-summary-errors");
                    $("#divValidationSummaryModal").html("<ul><li>@InsiderTrading.Common.Common.getResource("dis_msg_17450")</li></ul>");
                    scrollTo(0, 0);
                }
                else if ($("#StockExchangeDateSubmission").val() == "") {
                    $("#divValidationSummaryModal").removeClass("validation-summary-valid");
                    $("#divValidationSummaryModal").addClass("validation-summary-errors");
                    $("#divValidationSummaryModal").html("<ul><li>@InsiderTrading.Common.Common.getResource("dis_msg_17451")</li></ul>");
                    scrollTo(0, 0);
                }
                else {
                    if ($("#StockExchangeDateSubmission").val() != "") {
                        var dt1 = new Date($("#StockExchangeDateSubmission").val());
                        var val1 = dt1.getTime();

                        var dt2 = new Date($("#dtCurrent").val());
                        var val2 = dt2.getTime();

                        if (val1 > val2) {
                            $("#divValidationSummaryModal").removeClass("validation-summary-valid");
                            $("#divValidationSummaryModal").addClass("validation-summary-errors");
                            $("#divValidationSummaryModal").html("<ul><li>@InsiderTrading.Common.Common.getResource("dis_msg_17449")</li></ul>");
                            scrollTo(0, 0);
                            return;
                        }
                    }

                    $.confirm({
                        title: $("#msgSoftCopy").val(),
                        text: $("#msgSoftCopy").val(),
                        confirm: function (button) {
                            $("#frmSubmitSoftCopy").submit();
                        },
                        cancel: function (button) {
                        },
                        confirmButton: "Yes I Confirm",
                        cancelButton: "No",
                        post: true,
                        confirmButtonClass: "btn btn-success",
                        cancelButtonClass: "btn-danger",
                        dialogClass: "modal-dialog modal-lg"
                    });
                }
            });
        });

        function datatableCallFunction() {
            mergeRowsForColumnNo($("#DataTables_Table_0"), 0);
            $("#DataTables_Table_0").addClass("notable-striped");
            $("#DataTables_Table_0 tbody td").each(function () {
                if ($(this).text() == "")
                    $(this).html("&nbsp;");
            });
        }

        function removeStripedClassGrid2() {
            $("#DataTables_Table_1").addClass("notable-striped");
            $("#DataTables_Table_1 tbody td").each(function () {
                if ($(this).text() == "")
                    $(this).html("&nbsp;");
            });
        }
    </script>

    @{
        ViewBag.NoRecordsMessage = "";
        if (Model.transactionLetterModel.DisclosureTypeCodeId == InsiderTrading.Common.ConstEnum.Code.DisclosureTypeInitial)
        {
            ViewBag.NoRecordsMessage = "No Holdings";
        }
        else if (Model.transactionLetterModel.DisclosureTypeCodeId == InsiderTrading.Common.ConstEnum.Code.DisclosureTypeContinuous ||
        Model.transactionLetterModel.DisclosureTypeCodeId == InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd)
        {
            ViewBag.NoRecordsMessage = "Not Traded";
        }
    }


    @using (Html.BeginForm("SubmitLetterToStockExchange", "TradingTransaction", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", autocomplete = "off", id = "frmSubmitSoftCopy" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 disclosureLetterPrinting" id="pntLetter">
                @if (Model.transactionLetterModel.IsActive)
                {
                    <table width="100%" id="letter">
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>
                            <td width="50%"></td>
                            <td align="right"> @Html.Raw(InsiderTrading.Common.Common.ApplyFormatting(Model.transactionLetterModel.Date, InsiderTrading.Common.ConstEnum.DataFormatType.Date))</td>
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>
                            <td>@Html.Raw(Server.HtmlEncode(Model.transactionLetterModel.ToAddress1).Replace("\r\n", "<br />").Replace(" ", " "))</td>
                            @if (Model.transactionLetterModel.ToAddress2 != null)
                            {
                                <td>
                                    @Html.Raw(Server.HtmlEncode(Model.transactionLetterModel.ToAddress2).Replace("\r\n", "<br />").Replace(" ", " "));
                                </td>
                            }
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>
                            <td colspan="2" align="center"><b><u>@Html.LabelFor(m => m.transactionLetterModel.Subject): @Html.Raw(Server.HtmlEncode(Model.transactionLetterModel.Subject).Replace("\r\n", "<br />").Replace(" ", " "))</u></b></td>
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>

                            <td colspan="2">@Html.Raw(Server.HtmlEncode(Model.transactionLetterModel.Contents).Replace("\r\n", "<br />").Replace(" ", " "))</td>
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>
                            <td colspan="2">@Html.Raw(Server.HtmlEncode(Model.transactionLetterModel.Signature).Replace("\r\n", "<br />").Replace(" ", " "))</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                }
                <div>&nbsp;</div>
                <table width="100%" id="form">
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                        <td align="left"><img src="@ViewBag.CompanyLogoUrl" class="img img-responsive" /></td>
                        <td align="right">@Html.LabelFor(m => m.transactionLetterModel.Date): @Html.Raw(InsiderTrading.Common.Common.ApplyFormatting(Model.transactionLetterModel.Date, InsiderTrading.Common.ConstEnum.DataFormatType.Date))</td>
                    </tr>
                    <tr>
                        <td width="50%"></td>
                        <td align="right"></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            @{
        if (@ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.InitialDisclosureLetterList)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_17120"), new { style = "font:bold" })
        }
        else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForEmployeeInsider)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_17175"), new { style = "font:bold" })
        }
        else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsider)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_17182"), new { style = "font:bold" })
        }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            @{
        if (@ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.InitialDisclosureLetterList)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_17121"), new { style = "font:bold" })
        }
        else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForEmployeeInsider)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_17176"), new { style = "font:bold" })
        }
        else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsider)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_17183"), new { style = "font:bold" })
        }
        else if (ViewBag.GridType == ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid1)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_50409"), new { style = "font:bold" })
        }
                            }
                        </td>
                    <tr>
                    <tr>
                        <td align="center" colspan="2">
                            @{
        if (@ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.InitialDisclosureLetterList)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_17122"), new { style = "font:bold" })
        }
        else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForEmployeeInsider)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_17177"), new { style = "font:bold" })
        }
        else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsider)
        {
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_17184"), new { style = "font:bold" })
        }
        else if (ViewBag.GridType == ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid1)
        {
            string PeriodType = ViewBag.PeriodType;
            string PeriodStartDate = ViewBag.PeriodStartDate;
            string PeriodEndDate = ViewBag.PeriodEndDate;
            @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_50410").Replace("{0}", PeriodType).Replace("{1}", PeriodStartDate).Replace("{2}", PeriodEndDate), new { style = "font:bold" })
        }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            @if (ViewBag.GridType == ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid1)
                            {
                                @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_50411"), new { style = "font:bold" })<span> : </span>@ViewBag.CompanyName
                            }
                            else
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_17123") <span>:</span>@ViewBag.CompanyName
                            }
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="2">
                            @if (ViewBag.GridType == ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid1)
                            {
                                @Html.Label(InsiderTrading.Common.Common.getResource("dis_lbl_50412"), new { style = "font:bold" }) <span> : </span>@ViewBag.CompanyISINNumber
                            }
                            else
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_17124")<span> :</span>@ViewBag.CompanyISINNumber
                            }
                        </td>
                    </tr>
                </table>
                <div class="search" gridtype="@ViewBag.GridType" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <input type="hidden" value="1" id="1" name="" gridtype="@ViewBag.GridType" />
                    <input type="hidden" value="@ViewBag.transactionMasterId" id="2" name="" gridtype="@ViewBag.GridType" />
                    <input type="hidden" value="@ViewBag.UserId" id="3" name="" gridtype="@ViewBag.GridType" />
                    <input type="hidden" value="@ViewBag.year" id="4" name="" gridtype="@ViewBag.GridType" />
                    <input type="hidden" value="@ViewBag.Period" id="5" name="" gridtype="@ViewBag.GridType" />
                    <div id="Grid1Header">
                        <table width="100%">
                            <tr>
                                <td align="left" colspan="2" id="Grid1Header">
                                    @{if (@ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.InitialDisclosureLetterList)
                                    {
                                        <label style="font:bold;">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17125"))</label>
                                    }
                                    else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForEmployeeInsider)
                                    {
                                        <label style="font:bold;">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17180"))</label>
                                    }
                                    else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsider)
                                    {
                                        <label style="font:bold;">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17404"))</label>
                                    }
                                    else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid1)
                                    {
                                        <label style="font-weight: 500;">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_50413"))</label>
                                    }
                                    }
                                </td>

                            </tr>
                        </table>
                    </div>

                    @{Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType, btnSearch = "", sSortCol = "0", bIsPagination = false, sNoRecordsfoundMessage = @ViewBag.NoRecordsMessage, sCallBackFunction = "datatableCallFunction", sShowProcessing = "false", acid = ViewBag.acid, });
                    <div id="Grid1Footer">
                        <table width="100%">
                            <tr>
                                                    <td align="left" colspan="2" id="Grid1Footer">
                                                        @{
                                                            if (@ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.InitialDisclosureLetterList)
                                                            {
                                                                <label style="font-weight: normal; font-style: italic">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17126"))</label>
                                                            }
                                                            else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForEmployeeInsider)
                                                            {
                                                                <label style="font-weight: normal; font-style: italic">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17181"))</label>
                                                                <label style="font-weight: normal; font-style: italic">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_55500"))</label>
                                                            }
                                                            else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsider)
                                                            {
                                                                <label style="font-weight: normal; font-style: italic">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17185"))</label>
                                                                <label style="font-weight: normal; font-style: italic">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_55503"))</label>
                                                            }
                                                            else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid1)
                                                            {
                                                                <label style="font-weight: 500;">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_50414"))</label>
                                                            }
                                                        }
                                                    </td>
                            </tr>
                        </table>
                    </div>
                    }
                </div>

                <div class="search" gridtype="@ViewBag.GridType2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="hidden" value="2" id="1" name="" gridtype="@ViewBag.GridType2" />
                    <input type="hidden" value="@ViewBag.transactionMasterId" id="2" name="" gridtype="@ViewBag.GridType2" />
                    <input type="hidden" value="@ViewBag.UserId" id="3" name="" gridtype="@ViewBag.GridType" />
                    <input type="hidden" value="@ViewBag.year" id="4" name="" gridtype="@ViewBag.GridType" />
                    <input type="hidden" value="@ViewBag.Period" id="5" name="" gridtype="@ViewBag.GridType" />
                    <div id="Grid2Header">
                        <table width="100%" id="form">
                            <tr>
                                <td align="left" colspan="2" id="Grid2Header">
                                    <!--Grid 2 header messages for different forms B,C and D-->
                                    @{
        if (@ViewBag.GridType2 == InsiderTrading.Common.ConstEnum.GridType.InitialDisclosureLetterListGrid2)
        {
            <label style="font:bold;">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17405"))</label>
        }
        else if (ViewBag.GridType2 == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForEmployeeInsiderGrid2)
        {
            <label style="font:bold;">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17407"))</label>
        }
        else if (ViewBag.GridType2 == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsiderGrid2)
        {
            <label style="font:bold;">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17409"))</label>
        }
        else if (ViewBag.GridType2 == InsiderTrading.Common.ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid2)
        {
            <label style="font-weight: 500;">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_50415"))</label>
        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                    @{
        Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType2, btnSearch = "", sSortCol = "0", bIsPagination = false, acid = ViewBag.acid, sNoRecordsfoundMessage = @ViewBag.NoRecordsMessage, sCallBackFunction = "removeStripedClassGrid2", sShowProcessing = "false" });

                        <div id="Grid2Footer">
                            <!--Footer for the Grid2 for different Forms B,C and D-->
                            @{
        if (@ViewBag.GridType2 == InsiderTrading.Common.ConstEnum.GridType.InitialDisclosureLetterListGrid2)
        {
            <label style="font-weight:normal;font-style: italic">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17406"))</label>
        }
        else if (ViewBag.GridType2 == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForEmployeeInsiderGrid2)
        {
            <label style="font-weight: normal; font-style: italic">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17408"))</label>
        }
        else if (ViewBag.GridType2 == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsiderGrid2)
        {
            <label style="font-weight: normal; font-style: italic">@Html.Raw(InsiderTrading.Common.Common.getResource("dis_lbl_17410"))</label>
        }
                            }
                        </div>
                    }

                </div>

                <table id="SignatureBody">
                    <tr>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            @{if (@ViewBag.GridType == 114042)
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_17127")<span>:</span>
                            }
                            else if (ViewBag.GridType == 114046)
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_17127")<span>:</span>
                            }
                            else if (ViewBag.GridType == 114047)
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_17186")
                            }
                            else if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid1)
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_50416")<span>:</span>
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.PeriodEndDisclosureDataForLetterForEmployeeInsiderGrid1)
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_50417")<span>:</span> @* @Model.LetterForUserDesignation*@
                            }
                            else
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_17128")<span>:</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsiderGrid2)
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_50418")@Html.Raw(InsiderTrading.Common.Common.ApplyFormatting(Model.transactionLetterModel.Date, InsiderTrading.Common.ConstEnum.DataFormatType.Date))
                            }
                            else
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_17129")@Html.Raw(InsiderTrading.Common.Common.ApplyFormatting(Model.transactionLetterModel.Date, InsiderTrading.Common.ConstEnum.DataFormatType.Date))
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.GridType == InsiderTrading.Common.ConstEnum.GridType.ContinuousDisclosureDataForLetterForNonEmployeeInsiderGrid2)
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_50419")
                            }
                            else
                            {
                                @InsiderTrading.Common.Common.getResource("dis_lbl_17130")
                            }
                        </td>
                    </tr>
                </table>
            </div>

            <div>&nbsp;</div>
            <input type="hidden" name="year" value='@ViewBag.year' />
            @*@{
                if (Model.transactionLetterModel.DisclosureTypeCodeId == InsiderTrading.Common.ConstEnum.Code.DisclosureTypeInitial)
                {
                <input type="hidden" name="acid" value='@InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_INITIAL_DISCLOSURE_LETTER_SUBMISSION' />
                }
                else if (Model.transactionLetterModel.DisclosureTypeCodeId == InsiderTrading.Common.ConstEnum.Code.DisclosureTypeContinuous)
                {
                <input type="hidden" name="acid" value='@InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE_LETTER_SUBMISSION' />
                }
                else if (Model.transactionLetterModel.DisclosureTypeCodeId == InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd)
                {
                <input type="hidden" name="acid" value='@InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE_LETTER_SUBMISSION' />
                }
                }*@
            @Html.Hidden("TransactionMasterId", Model.transactionLetterModel.TransactionMasterId)
            @Html.Hidden("DisclosureTypeCodeId", Model.transactionLetterModel.DisclosureTypeCodeId)
            @Html.Hidden("LetterStatus", Model.transactionLetterModel.IsActive)
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-success" style="color: #222" id="print" name="Print" type="submit">@InsiderTrading.Common.Common.getResource("dis_btn_17111")</button>
                <input type="hidden" id="LetterContent" name="LetterHTMLContent" />
                <input type="hidden" id="FormContent" name="FormHTMLContent" />
                @if (ViewBag.EditLetter)
                {
                    <a class="btn btn-success" href='@Url.Action("CreateLetter", "TradingTransaction", new { acid = ViewBag.acid, nTransactionMasterId = Model.transactionLetterModel.TransactionMasterId, nDisclosureTypeCodeId = Model.transactionLetterModel.DisclosureTypeCodeId, nLetterForCodeId = Model.transactionLetterModel.LetterForCodeId, nTransactionLetterId = Model.transactionLetterModel.TransactionLetterId, IsStockExchange = ViewBag.IsStockExchange })' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14007")</a>
                }
            </div>

            <div>&nbsp;</div>
            @if (ViewBag.EditLetter)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        @Html.Partial("~/Views/Common/SingleDocumentUpload.cshtml", Model.StockExchangeDocument, new ViewDataDictionary() { { "user_action", ViewBag.acid } })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @Html.Label("Submission Date")
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="form-group" id="sandbox-container">
                            <div class="input-group date">
                                @Html.TextBox("StockExchangeDateSubmission", "", new { @class = "form-control" })
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Hidden("dtCurrent", (string)ViewBag.dtCurrent)
            }
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                @{
        if (ViewBag.EditLetter)
        {
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <button class="btn btn-success" type="button" id="btnSubmitSoftCopy">@InsiderTrading.Common.Common.getResource("com_btn_14025")</button>
            </div>
        }
        <button type="submit" name="Cancel" class="btn btn-success cancel" id="btnCancel" data-dismiss="modal"> @InsiderTrading.Common.Common.getResource("com_btn_14010")</button>
                    <input type="hidden" name="authorization" value="SaveLetter:@ViewBag.acid" />
                    <input type="hidden" name="acid" value="@ViewBag.acid" />
                    @*if (Model.transactionLetterModel.DisclosureTypeCodeId == InsiderTrading.Common.ConstEnum.Code.DisclosureTypeInitial)
                        {
                        <a class="btn btn-success" href='@Url.Action("Index", "InsiderInitialDisclosure", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_INITIAL_DISCLOSURE })' role="button"><i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                        }
                        else if (Model.transactionLetterModel.DisclosureTypeCodeId == InsiderTrading.Common.ConstEnum.Code.DisclosureTypeContinuous)
                        {
                        <a class="btn btn-success" href='@Url.Action("Index", "PreClearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE })' role="button"><i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                        }
                        else if (Model.transactionLetterModel.DisclosureTypeCodeId == InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd)
                        {
                        <a class="btn btn-success" href='@Url.Action("PeriodStatus", "PeriodEndDisclosure", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE, year = ViewBag.year })' role="button"><i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                        }*@
                }
            </div>
        </div>
    }
    <input type="hidden" id="msgSoftCopy" value='@InsiderTrading.Common.Common.getResource("dis_lbl_17117")' />
</div>
