@model InsiderTrading.Models.CorporateUSerModel
@{
    InsiderTrading.Common.LoginUserDetails objLoginUserDetails = (InsiderTrading.Common.LoginUserDetails)InsiderTrading.Common.Common.GetSessionValue(InsiderTrading.Common.ConstEnum.SessionValue.UserDetails);
    ViewBag.Title = InsiderTrading.Common.Common.getResource("usr_ttl_11251");
    if (ViewBag.ErrorMessage != null)
    {
        @ViewBag.ErrorMessage
    }
    ViewBag.ToolTipWhenPersonalDetailsNotConfirmed = Html.Raw("title='" + InsiderTrading.Common.Common.getResource("usr_ttl_11438") + "'");
}
<script>
    $(document).ready(function () {
        $("#addRoleMaster").on('show.bs.modal', function (event) {
            $(".modal-dialog").css({ width: '40%' });
            $.ajax({
                @*@Html.ActionLink(@InsiderTrading.Common.Common.getResource("usr_lbl_11339"), "Create", "RoleMaster", new { RoleId = 0, acid = @InsiderTrading.Common.ConstEnum.UserActions.CRUSER_ROLEMASTER_CREATE, frm = "emp", uid = Model.userInfoModel.UserInfoId }, new { @class = "create-link" })*@
                url: "@Url.Action("Create", "RoleMaster", new { acid = @InsiderTrading.Common.ConstEnum.UserActions.CRUSER_ROLEMASTER_CREATE, uid = Model.UserInfoId })",//"../TemplateMaster/Create?TemplateMasterId=0",
                data: { RoleId: "0", frm: "corp" },
                method: "GET",
                success: function (response) {
                    //$("#myModal .modal-body").html('');
                    $("#addRoleMaster .modal-body").html(response);
                }
            });
        });
    });
</script>

<section class="content-header">
    @*<p><a href="@Url.Action("Add", "Employee", new { })"><i class="fa fa-chevron-left"></i> Back to Category List</a></p>*@
    <h1>
        @InsiderTrading.Common.Common.getResource("usr_ttl_11251")
    </h1>
</section>
<section class="content">

    @Html.Partial("~/Views/Employee/PartialWarningInfoMsg.cshtml", new ViewDataDictionary() { { "PolicyDocument", ViewBag.IsShowMsgPDocNotApp }, { "TradingPolicy", ViewBag.IsShowMsgTPocNotApp }, { "ConfirmDetails", ViewBag.IsShowMsgConfirmDetails } })

    <div class="row">
        @using (Html.BeginForm("CorporateUserCreate", "CorporateUser", new { ReturnUrl = ViewBag.ReturnUrl, formId = InsiderTrading.Common.ConstEnum.Code.frmCreateCorpEmployee }, FormMethod.Post, new { @class = "", role = "form", @autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel-group" id="accordion">
                    <div class="card panel-accordion">
                        <div class="card-header active">
                            <h4 class="card-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                                    <span class="fa fa-minus pull-right"></span>
                                    @InsiderTrading.Common.Common.getResource("usr_lbl_11304")
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" data-parent="#accordion" class="panel-collapse collapse in">

                            @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CompanyId)
                                            @Html.DropDownListFor(m => m.CompanyId, new SelectList(ViewBag.CompanyDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.CompanyId).ToString(), Html.ActivityResourceKeyFor(m => m.CompanyId).ToString(), new { @class = "form-control" }))
                                            @Html.ValidationMessageFor(m => m.CompanyId)
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LoginID)
                                            @Html.TextBoxFor(m => m.LoginID, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.LoginID).ToString(), Html.ActivityResourceKeyFor(m => m.LoginID).ToString(), new { @class = "form-control" }))
                                            @*@Html.TextBoxFor(m => m.LoginID, new { @class = "form-control" })*@
                                            @Html.ValidationMessageFor(m => m.LoginID)
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group" id="sandbox-container">
                                            @Html.LabelFor(m => m.DateOfBecomingInsider)
                                            @{
            string DOBI = "";
            if (Model.DateOfBecomingInsider != null)
            {
                DOBI = InsiderTrading.Common.Common.ApplyFormatting(Model.DateOfBecomingInsider, InsiderTrading.Common.ConstEnum.DataFormatType.Date);

            }
                                            }
                                            <div class="input-group date" data-date-format="dd/mm/yyyy">
                                                @Html.TextBox("DateOfBecomingInsider", DOBI, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.DateOfBecomingInsider).ToString(), Html.ActivityResourceKeyFor(m => m.DateOfBecomingInsider).ToString(), new { @class = "form-control" }))
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CIN)
                                            @Html.TextBoxFor(m => m.CIN, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.CIN).ToString(), Html.ActivityResourceKeyFor(m => m.CIN).ToString(), new { @class = "form-control" }))
                                            @Html.ValidationMessageFor(m => m.CIN)
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ContactPerson)
                                            @Html.TextBoxFor(m => m.ContactPerson, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.ContactPerson).ToString(), Html.ActivityResourceKeyFor(m => m.ContactPerson).ToString(), new { @class = "form-control" }))
                                            @Html.ValidationMessageFor(m => m.ContactPerson)
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pl-0">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.DesignationId)
                                                    @Html.TextBoxFor(m => m.DesignationName, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.DesignationName).ToString(), Html.ActivityResourceKeyFor(m => m.DesignationName).ToString(), new { @class = "form-control ui-autocomplete" }))
                                                    @Html.ValidationMessageFor(m => m.DesignationName)
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-0">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.EmailId)
                                                    @Html.TextBoxFor(m => m.EmailId, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.EmailId).ToString(), Html.ActivityResourceKeyFor(m => m.EmailId).ToString(), new { @class = "form-control" }))
                                                    @Html.ValidationMessageFor(m => m.EmailId)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pl-0">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.LandLine1)
                                                    @Html.TextBoxFor(m => m.LandLine1, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.LandLine1).ToString(), Html.ActivityResourceKeyFor(m => m.LandLine1).ToString(), new { @class = "form-control" }))
                                                    @Html.ValidationMessageFor(m => m.LandLine1)
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-0">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.LandLine2)
                                                    @Html.TextBoxFor(m => m.LandLine2, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.LandLine2).ToString(), Html.ActivityResourceKeyFor(m => m.LandLine2).ToString(), new { @class = "form-control" }))
                                                    @Html.ValidationMessageFor(m => m.LandLine2)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
@*                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">*@
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div role="form">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.AddressLine1)
                                                        @Html.TextAreaFor(m => m.AddressLine1, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.AddressLine1).ToString(), Html.ActivityResourceKeyFor(m => m.AddressLine1).ToString(), new { @class = "form-control" }))
                                                        @Html.ValidationMessageFor(m => m.AddressLine1)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div role="form">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.PinCode)
                                                        @Html.TextBoxFor(m => m.PinCode, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.PinCode).ToString(), Html.ActivityResourceKeyFor(m => m.PinCode).ToString(), new { @class = "form-control" }))
                                                        @Html.ValidationMessageFor(m => m.PinCode)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div role="form">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.CountryId)
                                                        @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.CountryDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.CountryId).ToString(), Html.ActivityResourceKeyFor(m => m.CountryId).ToString(), new { @class = "form-control" }))
                                                        @Html.ValidationMessageFor(m => m.CountryId)
                                                    </div>
                                                </div>
                                            </div>
@*                                        </div>
                                    </div>*@
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Website)
                                            @Html.TextBoxFor(m => m.Website, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Website).ToString(), Html.ActivityResourceKeyFor(m => m.Website).ToString(), new { @class = "form-control" }))
                                            @Html.ValidationMessageFor(m => m.Website)
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pl-0">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.TAN)
                                                    @Html.TextBoxFor(m => m.TAN, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.TAN).ToString(), Html.ActivityResourceKeyFor(m => m.TAN).ToString(), new { @class = "form-control" }))
                                                    @Html.ValidationMessageFor(m => m.TAN)
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pr-0">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.PAN)
                                                    @Html.TextBoxFor(m => m.PAN, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.PAN).ToString(), Html.ActivityResourceKeyFor(m => m.PAN).ToString(), new { @class = "form-control" }))
                                                    @*@Html.TextBoxFor(m => m.PAN, new { @class = "form-control" })*@
                                                    @Html.ValidationMessageFor(m => m.PAN)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                @*                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">*@
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Description)
                                                    @Html.TextBoxFor(m => m.Description, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Description).ToString(), Html.ActivityResourceKeyFor(m => m.Description).ToString(), new { @class = "form-control" }))
                                                    @Html.ValidationMessageFor(m => m.Description)
                                                </div>
                                            </div>
                                            @{
            //check if to show following option to login user -- if do not show role then hide div
            if ((bool)ViewBag.show_not_login_user_details)
            {
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.AssignedRole)
                        @{
                //check if user has permission to add role
                if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.CRUSER_ROLEMASTER_CREATE))
                {
                    if ((bool)ViewBag.show_create_role_link)
                    {
                        @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                            <div class="form-group">
                                <a href="javascript:void(0);" class="create-link" id="AT" type="button" data-toggle='modal' data-target='#addRoleMaster'>
                                    @InsiderTrading.Common.Common.getResource("usr_lbl_11339")
                                </a>
                            </div>
                    }
                }
                        }
                        @Html.ListBoxFor(m => m.SubmittedRole, new MultiSelectList(Model.DefaultRole, "Key", "Value", Model.AssignedRole.Select(m => m.Key)), new { multiple = "multiple", @class = "form-control multiselect" })
                    </div>
                </div>
            }
            else
            {
                //set hidden variable for role which need to be pass for saving
                for (int i = 0; i < Model.SubmittedRole.Count; i++)
                {
                    @Html.HiddenFor(m => m.SubmittedRole[i])
                }
            }
                                            }
                                       @* </div>
                                    </div>*@
                                @*    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">*@
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.CategoryName)
                                                    @Html.TextBoxFor(m => m.CategoryName, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.CategoryName).ToString(), Html.ActivityResourceKeyFor(m => m.CategoryName).ToString(), new { @class = "form-control" }))
                                                    @Html.ValidationMessageFor(m => m.CategoryName)
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.SubCategoryName)
                                                    @Html.TextBoxFor(m => m.SubCategoryName, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.SubCategoryName).ToString(), Html.ActivityResourceKeyFor(m => m.SubCategoryName).ToString(), new { @class = "form-control" }))
                                                    @Html.ValidationMessageFor(m => m.SubCategoryName)
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label></label> <br />
                                                   @if (objLoginUserDetails.UserTypeCodeId == InsiderTrading.Common.ConstEnum.Code.Admin || objLoginUserDetails.UserTypeCodeId == InsiderTrading.Common.ConstEnum.Code.COUserType)
                                                     {
                                                      @Html.CheckBoxFor(m => m.AllowUpsiUser)<span>&nbsp;</span> @Html.LabelFor(m => m.AllowUpsiUser)

                                                       @Html.ValidationMessageFor(m => m.AllowUpsiUser)
                                                    }
                                                    @Html.HiddenFor(m => m.AllowUpsiUser)
                                                </div>
                                            </div>
                                      @*  </div>
                                    </div>*@
                                    @*<div class="">*@
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            @Html.Hidden("confirm_role", ((bool)ViewBag.show_create_role_link))
                                            <button type="submit" class="btn btn-success" name="Create" id="corp_detail_save"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("com_btn_14017")</button>
                                            @{
            //commented following code because other view page for employee and non-employee do not have delete button
            @*if (Model != null && Model.UserInfoId > 0)
                {
                    if ((bool)ViewBag.show_not_login_user_details)
                    {
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>@InsiderTrading.Common.Common.getResource("com_btn_14009")</button>
                    }
                }*@


            if ((bool)ViewBag.show_not_login_user_details)
            {
                <a class="btn btn-success" href='@Url.Action("Index", "Employee", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_VIEW})' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
            }
            else
            {
                <a class="btn btn-success" href='@Url.Action("ViewRecords", "CorporateUser", new { acid = ViewBag.user_action, nUserInfoID = Model.UserInfoId })' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
            }
                                            }

                                        </div>
                                    @*</div>*@
                                    <!-- /.row (nested) -->
                                    @Html.HiddenFor(m => m.UserInfoId)
                                    @Html.HiddenFor(m => m.IsConfirmPersonalDetails)
                                    <input type="hidden" name="authorization" value="Create:@ViewBag.user_action,Delete:@InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_DELETE,ConfirmDetails:@ViewBag.user_action" />
                                </div>
                            </div>
                            <!-- /.panel-body -->

                        </div>
                    </div>
                    @if (Model.UserInfoId != 0)
                    {
                        //DMAT Details
                        <div class="mt-3 card panel-accordion" @((bool)ViewBag.show_confirm_personal_details_btn ? @ViewBag.ToolTipWhenPersonalDetailsNotConfirmed : "")>
                            <div class="card-header">
                                <h4 class="card-title">
                                    @if ((bool)ViewBag.show_confirm_personal_details_btn)
                                    {
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                                            <span class="fa fa-plus pull-right"></span>
                                            @InsiderTrading.Common.Common.getResource("usr_lbl_11305")
                                        </a>
                                            }
                                            else
                                            {
                                            <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                                                <span class="fa fa-plus pull-right"></span>
                                                @InsiderTrading.Common.Common.getResource("usr_lbl_11305")
                                            </a>
                                            }
                                    </h4>
                            </div>
                            <div id="collapseThree" data-parent="#accordion" class="panel-collapse collapse">
                                <div class="card-body">
                                    @Html.Partial("~/Views/CorporateUser/CreateDMATDetails.cshtml", Model.dmatDetailsModel)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            if (Model.UserInfoId != 0)
            {
                <div class="mt-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    @*//check if to show confirm personal details button or not*@
                    @if ((bool)ViewBag.show_confirm_personal_details_btn)
                    {
                        @Html.Hidden("confirm_msg", @InsiderTrading.Common.Common.getResource("usr_lbl_11495"))
                        <button type="button" class="btn btn-success" name="ConfirmDetails" id="ConfirmDetails"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("usr_btn_11419")</button>
                    }

                    @if ((bool)ViewBag.show_not_login_user_details)
                    {
                        <a class="btn btn-success" href='@Url.Action("Index", "Employee", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_VIEW })' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14011")</a>
                    }
                    else
                    {
                        <a class="btn btn-success" href='@Url.Action("ViewRecords", "CorporateUser", new { acid = InsiderTrading.Common.ConstEnum.UserActions.VIEW_DETAILS_PERMISSION_FOR_CORPORATE_USER, nUserInfoID = Model.UserInfoId })' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14018")</a>
                    }
                </div>
            }
        }
    </div>
</section><!-- /.content -->
<div id="divDMATDetailsModal" style="display:none;"></div>
<div class="modal fade" id="addRoleMaster" tabindex="-1" role="dialog" aria-labelledby="AddRoleMasterlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@Html.Hidden("CorporateAutoComplete", Url.Action("Autocomplete", "CorporateUser"))
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/CorporateUser")



