@model InsiderTrading.Models.CorporateUSerModel
@{
    ViewBag.Title = InsiderTrading.Common.Common.getResource("usr_ttl_11251");
}

@{ if (ViewBag.ErrorMessage != null)
 {
    @ViewBag.ErrorMessage
 }
}

<section class="content-header">
    <h1>@InsiderTrading.Common.Common.getResource("usr_ttl_11251")</h1>
</section>

<div class="row">
    <div class="col-xs-12">
        <section id="loginForm">
            <section class="content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel-group" id="accordion">
                            <div class="card panel-accordion">
                                <div class="card-header active">
                                    <h4 class="card-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <span class="fa fa-minus pull-right"></span>
                                            @InsiderTrading.Common.Common.getResource("usr_lbl_11304")
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="card-body">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.CompanyId)
                                                @Html.DisplayFor(m => m.CompanyName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.LoginID)
                                                @Html.DisplayFor(m => m.LoginID, new { @class = "form-control" })

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group" id="sandbox-container">
                                                @Html.LabelFor(m => m.DateOfBecomingInsider)
                                                @Html.DisplayFor(m => m.DateOfBecomingInsider, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ContactPerson)
                                                @Html.DisplayFor(m => m.ContactPerson, new { @class = "form-control" })

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.DesignationId)
                                                        @Html.DisplayFor(m => m.DesignationName, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.EmailId)
                                                        @Html.DisplayFor(m => m.EmailId, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.LandLine1)
                                                        @Html.DisplayFor(m => m.LandLine1, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.LandLine2)
                                                        @Html.DisplayFor(m => m.LandLine2, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div role="form">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.AddressLine1)
                                                            @Html.DisplayFor(m => m.AddressLine1, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <div role="form">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.PinCode)
                                                            @Html.DisplayFor(m => m.PinCode, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <div role="form">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.CountryId)
                                                            @Html.DisplayFor(m => m.CountryName, new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Website)
                                                @Html.DisplayFor(m => m.Website, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.TAN)
                                                        @Html.DisplayFor(m => m.TAN, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.PAN)
                                                        @Html.DisplayFor(m => m.PAN, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="row">
                                                    @Html.LabelFor(m => m.Description)
                                                    @Html.DisplayFor(m => m.Description, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                @{
                                                    //check if to show following option to login user -- if do not show role then hide div
                                                    if ((bool)ViewBag.show_not_login_user_details)
                                                    {
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                @Html.LabelFor(m => m.AssignedRole)

                                                                @foreach (var item in Model.AssignedRole)
                                                                {
                                                                    @item.Value <br/>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card panel-accordion">
                                <div class="card-header active">
                                    <h4 class="card-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <span class="fa fa-plus pull-right"></span>
                                            @InsiderTrading.Common.Common.getResource("usr_lbl_11305")
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="card-body">
                                        @Html.Partial("~/Views/CorporateUser/ViewDMATDetails.cshtml", Model.dmatDetailsModel)
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="">
                            @{
                                if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_EDIT))
                                {
                                    <a class="btn btn-success" href='@Url.Action("Edit", "CorporateUser", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_EDIT, nUserInfoID = Model.UserInfoId })' role="button">@InsiderTrading.Common.Common.getResource("usr_btn_11246")</a>
                                }

                                if ((bool)ViewBag.show_not_login_user_details)
                                {
                                    //commented following code because other view page for employee and non-employee do not have delete button
                                    @*if (Model != null && Model.UserInfoId > 0)
                                    {
                                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>@InsiderTrading.Common.Common.getResource("com_btn_14009")</button>
                                    }*@

                                <a class="btn btn-success" href='@Url.Action("Index", "Employee", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_VIEW})' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </section><!-- /.content -->
        </section>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/CorporateUser")
