@model InsiderTrading.Models.Corporate_DMATDetailsModel

@if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_CREATE) && ViewBag.CorpPANNumber != null)
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                <a class="btn btn-success btnAddDMATDetails"><i class="icon"></i> @InsiderTrading.Common.Common.getResource("usr_btn_11317")</a>
            </p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p style="color:red">@InsiderTrading.Common.Common.getResource("usr_lbl_51003")</p>
            <p>
                <a class="btn btn-success  btnAddDMATDetails" style="display:none;"><i class="icon"></i> @InsiderTrading.Common.Common.getResource("usr_btn_11317")</a>
            </p>
        </div>
    </div>
}

<div class="alert" style="display: none;" name="ErrorMessage" gridtype="@InsiderTrading.Common.ConstEnum.GridType.DMATList"></div>

@if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_VIEW))
{
    <div class="search" gridtype="@InsiderTrading.Common.ConstEnum.GridType.DMATList">
        @Html.Hidden("1", Model.UserInfoID, new { id = "1", gridtype = InsiderTrading.Common.ConstEnum.GridType.DMATList })

        @{
    Html.RenderAction("Index", "DatatableGrid", new { type = InsiderTrading.Common.ConstEnum.GridType.DMATList, btnSearch = "", sSortCol = "0", acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_VIEW, OverrideGridType = InsiderTrading.Common.ConstEnum.GridType.CorporateDMATList });
        }
    </div>
}


@Scripts.Render("~/bundles/DMATDetails")

@Html.Hidden("AddDMAT", Url.Action("EditDMATDetails", "CorporateUser"), new { UserInfoID = Model.UserInfoID, acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_CREATE })
@Html.Hidden("SaveDMAT", Url.Action("SaveDMATDetails", "CorporateUser"))

@Html.Hidden("canEdit", InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_EDIT))
@Html.Hidden("EditDMAT", Url.Action("EditDMATDetails", "CorporateUser"), new { UserInfoID = Model.UserInfoID, acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_EDIT })

@Html.Hidden("canDel", InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_DELETE))
@Html.Hidden("deleteRowURL", Url.Action("DeleteDMATDetails", "CorporateUser", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_DELETE }), new { id = "DeleteDMAT", gridtype = InsiderTrading.Common.ConstEnum.GridType.DMATList, acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_DELETE })

<script>
    $(document).delegate("#DPBank", "click", function () {
        if ($('option:selected', $(this)).attr("value") == "1") {
            $("#DPBankName").show();
            $("#divDPBankName").show();
        }
        else {
            $("#DPBankName").hide();
            $("#divDPBankName").hide();
        }
    });

</script>