
<li class="header">@InsiderTrading.Common.Common.getResource("cmu_lbl_18045")</li>
<li>
    <!-- inner menu -->
    @*<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">*@
    <ul class="menu">
        @if (!ViewBag.NoRecord)
        {
            foreach (var objNotificationList in ViewBag.NotificationDictionary)
            {
                <li>
                    <a href="@Url.Action("view", "Notification", new { acid = InsiderTrading.Common.ConstEnum.UserActions.NOTIFICATION_VIEW_RIGHT, NotificationId = objNotificationList.NotificationQueueId })" title="@objNotificationList.Contents">
                        @if (objNotificationList.ModeCodeId == 156004)
                        {
                            <img src="@Url.Content("~/")images/icon-alert.png">
                        }
                        else if (objNotificationList.ModeCodeId == 156005)
                        {
                            <img src="@Url.Content("~/")images/icon-message.png">
                        }
                        @*<img src="images/icon-message.png">*@
                        @objNotificationList.Contents
                    </a>
                </li>
            }
        }
        else
        {
            <li>
                @InsiderTrading.Common.Common.getResource("cmu_lbl_18056")
            </li>
        }
    </ul>

    @*</div>*@

</li>
<li class="footer">
    <a href="@Url.Action("Index", "Notification", new { acid = InsiderTrading.Common.ConstEnum.UserActions.NOTIFICATION_LIST_RIGHT })" class="">
        @InsiderTrading.Common.Common.getResource("cmu_btn_18048")
</a>
</li>
