@model InsiderTrading.Models.EmployeeModel
@{
    ViewBag.Title = InsiderTrading.Common.Common.getResource("usr_ttl_11238");
    InsiderTrading.Common.LoginUserDetails objLoginUserDetails = (InsiderTrading.Common.LoginUserDetails)InsiderTrading.Common.Common.GetSessionValue(InsiderTrading.Common.ConstEnum.SessionValue.UserDetails);
    var acid = (objLoginUserDetails.UserTypeCodeId == InsiderTrading.Common.ConstEnum.Code.Admin || objLoginUserDetails.UserTypeCodeId == InsiderTrading.Common.ConstEnum.Code.CorporateUserType) ? InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_CREATE : InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_EDIT;
    }

    @Html.Partial("~/Views/Common/PersonalDetailsBreadcrumbs.cshtml")

<section class="content">
        @if (Model.userInfoModel.UserInfoId != 0)
        {
            //DMAT Details
            <div class="card panel-accordion">
                <div class="card-header active">
                    <h4 class="card-title">
                        @if ((bool)ViewBag.show_confirm_personal_details_btn)
                {
                        @InsiderTrading.Common.Common.getResource("usr_lbl_11348")
                }
                else
                {

                        @InsiderTrading.Common.Common.getResource("usr_lbl_11348")
                }
                    </h4>
                </div>
                <div class="card-body">
                    @Html.Partial("~/Views/Common/CreateDMATDetails.cshtml", Model.dmatDetailsModel)

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                @if (ViewBag.WorkandEducationDetailsConfiguration == 539001)
                                {
                                    @*<a class="btn btn-success pull-left" id="btn_User_Demat" style="display:none" href='@Url.Action("CreateRelative", "Employee", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_RELATIVEUSER_CREATE, nParentID = Model.userInfoModel.UserInfoId, nUserDematSaved = true, nConfirmPersonalDetailsRequired = Session["Confirm_PersonalDetails_Required"], nShowPersonalDetailsConfirmButtonRequired = Session["show_confirm_personal_details_btn"] })' role="button"> @InsiderTrading.Common.Common.getResource("usr_btn_50765") </a>*@
                                    <a class="btn btn-success pull-left" id="btn_User_Demat" style="display:none" href='@Url.Action("EducationDetails", "Employee", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_CREATE, nUserInfoID = Model.userInfoModel.UserInfoId, UEW_id = 0, Falg = "DEFAULT", nUserDematSaved = true, nConfirmPersonalDetailsRequired = Session["Confirm_PersonalDetails_Required"], nShowPersonalDetailsConfirmButtonRequired = Session["show_confirm_personal_details_btn"] })' role="button"> @InsiderTrading.Common.Common.getResource("usr_btn_50765") </a>
                                }
                                else
                                {
                                    <a class="btn btn-success pull-left" id="btn_User_Demat" style="display:none" href='@Url.Action("CreateRelative", "Employee", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_RELATIVEUSER_CREATE, nParentID = Model.userInfoModel.UserInfoId, nUserDematSaved = true, nConfirmPersonalDetailsRequired = Session["Confirm_PersonalDetails_Required"], nShowPersonalDetailsConfirmButtonRequired = Session["show_confirm_personal_details_btn"] })' role="button"> @InsiderTrading.Common.Common.getResource("usr_btn_50765") </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
</section>
<div id="divDMATDetailsModal" style="display:none;"></div>
<div id="divDocumentDetailsModal" style="display:none;"></div>
<div class="modal fade" id="addRoleMaster" tabindex="-1" role="dialog" aria-labelledby="AddRoleMasterlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    @InsiderTrading.Common.Common.getResource("usr_lbl_50770")
                </div>
                <div class="modal-footer">
                    @if (ViewBag.WorkandEducationDetailsConfiguration == 539001)
                    {
                        <a class="btn btn-success" href='@Url.Action("EducationDetails", "Employee", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_CREATE, nUserInfoID = Model.userInfoModel.UserInfoId, UEW_id = 0, Falg = "DEFAULT", nUserDematSaved = true, nConfirmPersonalDetailsRequired = Session["Confirm_PersonalDetails_Required"], nShowPersonalDetailsConfirmButtonRequired = Session["show_confirm_personal_details_btn"] })' role="button">Yes</a>
                    }
                    else
                    {
                        <a class="btn btn-success" href='@Url.Action("CreateRelative", "Employee", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_RELATIVEUSER_CREATE, nParentID = Model.userInfoModel.UserInfoId, nUserDematSaved = true, nConfirmPersonalDetailsRequired = Session["Confirm_PersonalDetails_Required"], nShowPersonalDetailsConfirmButtonRequired = Session["show_confirm_personal_details_btn"] })' role="button">Yes</a>
                    }
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("GetSubCategories", Url.Action("GetSubCategories", "Employee"))
@Html.Hidden("GetSubDesignation", Url.Action("GetSubDesignation", "Employee"))
@Scripts.Render("~/bundles/employee")


<script type="text/javascript">
    $(document).ready(function () {
        if ('@Session["Confirm_PersonalDetails_Required"]' != 'True') {
            $("#btn_GetUserDetails").removeClass("btn-warning").addClass("btn-success");
            $("#btn_GetUserDematDetails").removeClass("btn-danger").addClass("btn-success");
            if ('@ViewBag.WorkandEducationDetailsConfiguration' == 539001) {
                $("#btn_GetUserEducationDetails").removeClass("btn-danger").addClass("btn-success");
            }
            $("#btn_GetUserRelativeDetails").removeClass("btn-danger").addClass("btn-success");
            $("#btn_ConfirmDetails").removeClass("btn-danger").addClass("btn-success");
        }
        else if ('@Session["Confirm_PersonalDetails_Required"]' == 'True' && '@ViewBag.UserDetailsSaved' != 'True') {
            $("#btn_GetUserDetails").removeClass("btn-warning").addClass("btn-warning");
            $("#btn_GetUserDematDetails").removeClass("btn-danger").addClass("btn-danger");
            if ('@ViewBag.WorkandEducationDetailsConfiguration' == 539001) {
                $("#btn_GetUserEducationDetails").removeClass("btn-danger").addClass("btn-danger");
            }
            $("#btn_GetUserRelativeDetails").removeClass("btn-danger").addClass("btn-danger");
            $("#btn_ConfirmDetails").removeClass("btn-danger").addClass("btn-danger");
        }
        else if ('@Session["Confirm_PersonalDetails_Required"]' == 'True' && '@ViewBag.UserDetailsSaved' == 'True') {
            $("#btn_GetUserDetails").removeClass("btn-warning").addClass("btn-success");
            $("#btn_GetUserDematDetails").removeClass("btn-danger").addClass("btn-warning");
        }

        if ($("#btn_GetUserRelativeDetails").hasClass("btn-danger")) {
            if ('@ViewBag.WorkandEducationDetailsConfiguration' == 539001) {
                @*$('#btn_GetUserEducationDetails').attr("disabled", "disabled");*@
                $('#btn_GetUserEducationDetails').addClass("disabled");
            }
          @*  $('#btn_GetUserRelativeDetails').attr("disabled", "disabled");
            $('#btn_ConfirmDetails').attr("disabled", "disabled");*@
            $('#btn_GetUserRelativeDetails').addClass("disabled");
            $('#btn_ConfirmDetails').removeClass("disabled");
        }
        else {
            if ('@ViewBag.WorkandEducationDetailsConfiguration' == 539001) {
                @*$('#btn_GetUserEducationDetails').removeAttr("disabled", "disabled");*@
                $('#btn_GetUserEducationDetails').removeClass("disabled");
            }
           @* $('#btn_GetUserRelativeDetails').removeAttr("disabled", "disabled");
            $('#btn_ConfirmDetails').removeAttr("disabled", "disabled");*@
            $('#btn_GetUserRelativeDetails').removeClass("disabled");
            $('#btn_ConfirmDetails').addClass("disabled");
        }
    });
</script>

