@model InsiderTrading.Models.EmployeeModel
@{
    ViewBag.Title = InsiderTrading.Common.Common.getResource("usr_ttl_11238");
}

<section class="content-header">
    <h1>
        @if (ViewBag.sCalledFrom != "RelativeView")
        {
            if (ViewBag.LoggedInUserID != ViewBag.UserInfoID)
            {
                @InsiderTrading.Common.Common.getResource("usr_ttl_11437")            
            }
            else
            {
                @InsiderTrading.Common.Common.getResource("usr_ttl_11238")
            }
        }
        else
        {
            @InsiderTrading.Common.Common.getResource("usr_lbl_11350")
        }
    </h1>
</section>

<section class="content">    
    @Html.AntiForgeryToken()   
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel-group" id="accordion">
                @if (ViewBag.sCalledFrom != "RelativeView")
                {
                    <div class="card panel-accordion">
                        <div class="card-header active">
                            <h4 class="card-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                                    <span class="fa fa-minus pull-right"></span>
                                    @InsiderTrading.Common.Common.getResource("usr_ttl_11239")  & @InsiderTrading.Common.Common.getResource("usr_ttl_11240")
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" data-parent="#accordion" class="panel-collapse collapse in">
                            <div class="card-body">
                                @Html.Partial("~/Views/Common/ViewUserDetails.cshtml", Model.userInfoModel)
                            </div>
                        </div>
                    </div>
                }
                @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DMAT_VIEW))
                {
                    <div class="card panel-accordion">
                        <div class="card-header active">
                            <h4 class="card-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                                    <span class="fa fa-plus pull-right"></span>
                                    @InsiderTrading.Common.Common.getResource("usr_lbl_11348")
                                </a>
                            </h4>
                        </div>
                        @if (ViewBag.sCalledFrom != "RelativeView")
                        {
                            <div id="collapseTwo" data-parent="#accordion" class="panel-collapse collapse">
                                <div class="panel-body">

                                    @Html.Partial("~/Views/Common/ViewDMATDetails.cshtml", Model.dmatDetailsModel)

                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    @Html.Partial("~/Views/Common/ViewDMATDetails.cshtml", Model.dmatDetailsModel)

                                </div>
                            </div>
                        }

                    </div>
                }
                @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DOCUMENT_VIEW))
                {
                    <div class="card panel-accordion">
                        <div class="card-header active">
                            <h4 class="card-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                                    <span class="fa fa-plus pull-right"></span>
                                    @InsiderTrading.Common.Common.getResource("usr_lbl_11349")
                                </a>
                            </h4>
                        </div>

                        <div id="collapseThree" data-parent="#accordion" class="panel-collapse collapse">
                            <div class="card-body">
                                @Html.Partial("~/Views/Common/ViewDocumentDetails.cshtml", Model.documentDetailsModel)
                            </div>
                        </div>

                    </div>
                }
                @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_RELATIVEUSER_VIEW) && ViewBag.sCalledFrom != "RelativeView")
                {
                    <div class="card panel-accordion">
                        <div class="card-header">
                            <h4 class="card-title">
                                <a class="accordion-toggle" data-toggle="collapse" href="#collapseFive">
                                    <span class="fa fa-plus pull-right"></span>
                                    @InsiderTrading.Common.Common.getResource("usr_lbl_11350")
                                </a>
                            </h4>
                        </div>

                        <div id="collapseFive" data-parent="#accordion" class="panel-collapse collapse">
                            <div class="card-body">
                                @Html.Partial("~/Views/Common/ViewUserRelativeDetails.cshtml", Model.userInfoModel)
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @{
                if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_EDIT) && ViewBag.sCalledFrom != "RelativeView")
                {
                    if (Model.userInfoModel.UserTypeCodeId == InsiderTrading.Common.ConstEnum.Code.EmployeeType)
                    {
                        <a class="btn btn-success" href='@Url.Action("Create", "Employee", new { nUserInfoID = Model.userInfoModel.UserInfoId, acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_EDIT })' role="button">@InsiderTrading.Common.Common.getResource("usr_btn_11246")</a>
                    }
                    else if (Model.userInfoModel.UserTypeCodeId == InsiderTrading.Common.ConstEnum.Code.NonEmployeeType)
                    {
                        <a class="btn btn-success" href='@Url.Action("Create", "NonEmployeeInsider", new { nUserInfoID = Model.userInfoModel.UserInfoId, acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_EDIT })' role="button">@InsiderTrading.Common.Common.getResource("usr_btn_11246")</a>
                    }
                }

                //check if to show following option to login user -- if do not show role then hide div
                if ((bool)ViewBag.show_not_login_user_details)
                {
                    if (ViewBag.sCalledFrom == "RelativeView")
                    {
                        <a class="btn btn-success" href='@Url.Action("ViewDetails", "Employee", new { acid = ViewBag.user_action_ViewDetails, nUserInfoID = ViewBag.nUserInfoID_ForBack })' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14011")</a>
                    }
                    else
                    {
                        <a class="btn btn-success" href='@Url.Action("Index", "Employee", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_INSIDERUSER_VIEW })' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14011")</a>
                    }
                }
            }
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/employee")
