@model InsiderTrading.ResourceModel
@{
    ViewBag.Title = InsiderTrading.Common.Common.getResource("mst_ttl_10038");
}
<div class="modal fade" id="ResourceModal" tabindex="-1" role="dialog" aria-labelledby="editResource" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title custom_align" id="editResource">@InsiderTrading.Common.Common.getResource("mst_ttl_10038")</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", "", new { ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new { role = "form", id = "frmResourceDetails1", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ScreenName)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                @Html.DisplayFor(m => m.ScreenName)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ResourceCulture)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            @Html.DisplayFor(m => m.ResourceCulture)
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ModuleCodeName)
                                </div>
                                </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    @Html.DisplayFor(m => m.ModuleCodeName)
                                    </div>
                                </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CategoryCodeName)
                                </div>
                                </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    @Html.DisplayFor(m => m.CategoryCodeName)
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        
                            @if (Model != null && (Model.CategoryCodeId == (InsiderTrading.Common.ConstEnum.ResourceCategoryCode.Grid)))
                                        {
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.GridHeaderListName)
                                                </div>
                                            </div>
                                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.DisplayFor(m => m.GridHeaderListName)
                                        </div>
                                    </div>
                                        }
                               
                    </div>
                    <div class="row">
                      
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OriginalResourceValue)
                                </div>
                                </div>
                            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.DisplayFor(m => m.OriginalResourceValue, new { @class = "form-control" })
                                </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ResourceValue)
                                </div>
                                </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.ResourceValue, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m=>m.ResourceValue)
                                </div>
                                </div>
                        </div>
                    <hr />
                    <div class="row">
                        
                            @if (Model != null && (Model.CategoryCodeId == (InsiderTrading.Common.ConstEnum.ResourceCategoryCode.Grid)))
                            {
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.IsVisible)
                                    </div>
                                    </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.CheckBoxFor(m => m.IsVisible, new { @class = "cr-check" })
                                    </div>
                                    </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SequenceNumber)
                                    </div>
                                    </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.SequenceNumber, new { @class = "form-control numericOnly" })
                                </div>
                            </div>
                            }

                    </div>
                    if (Model != null && (Model.CategoryCodeId == (InsiderTrading.Common.ConstEnum.ResourceCategoryCode.Grid)))
                    {
                        <div class="row">
                            
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ColumnWidth)
                                    </div>
                                    </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.ColumnWidth, new { @class = "form-control numericOnly" })
                                    </div>
                                    </div>

                           
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ColumnAlignment)
                                        </div>
                                    </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.DropDownList("ColumnAlignment", new SelectList(ViewBag.ColumnAlignmentList, "Key", "Value", ""), new { @class = "form-control" })
                                    </div>
                            </div>
                        </div>
                    }
                  
                    <div class="modal-footer">
                        <div class="pull-right">
                            @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.RESOURCE_EDIT))
                            {
                                @*<a class="btn btn-success" href='#' role="button" id="btnSaveResourcedetails" gridtype="@InsiderTrading.Common.ConstEnum.GridType.ResourcesList">@InsiderTrading.Common.Common.getResource("com_btn_14017")</a>*@

                                <button type="button" class="btn btn-success" role="button" id="btnSaveResourcedetails" gridtype="@InsiderTrading.Common.ConstEnum.GridType.ResourcesList"><i class="fa fa-save"></i>  @InsiderTrading.Common.Common.getResource("com_btn_14017")</button>

                            }
                            <button type="button" name="Cancel" class="btn btn-success cancel" id="cancelButton" data-dismiss="modal"><i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14010")</button>
                        </div>
                    </div>

                    @Html.HiddenFor(m => m.ResourceKey)
                    <input type="hidden" name="acid" id="acid" value=@InsiderTrading.Common.ConstEnum.UserActions.RESOURCE_EDIT />
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
@Html.Hidden("UpdateResorce", Url.Action("UpdateResourceValue", "Resource"))
