@model InsiderTrading.Models.MCQModel
@{
    ViewBag.Title = "MCQQuestions";
}


@Styles.Render("~/content/SW360")

<section class="content">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divQuestionDetailsModal" style="display:none">
        <div class="row">
            <div class="panel-group" id="accordion">
                <div class="panel panel-accordion">
                    <div class="panel-heading active">
                        <h4 class="panel-title">
                            @InsiderTrading.Common.Common.getResource("com_lbl_54095")
                        </h4>
                    </div>
                    @using (Html.BeginForm("MCQQuestions", "MCQSetting", new { acid = InsiderTrading.Common.ConstEnum.UserActions.MCQ_CREATE, formId = InsiderTrading.Common.ConstEnum.Code.frmSaveMCQQuestions }, FormMethod.Post, new { @id = "MCQQuestionsForm", role = "form", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })

                        <div class="panel-body">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div role="form">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Question)
                                                @Html.TextAreaFor(m => m.Question, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Question).ToString(), Html.ActivityResourceKeyFor(m => m.Question).ToString(), new { @class = "form-control", @id = "Question", style = " height: 150px;" }))
                                                @Html.ValidationMessageFor(m => m.Question)

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div role="form">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Answer_Type)
                                                @Html.DropDownListFor(m => m.Answer_Type, new SelectList(ViewBag.Answer_TypeDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Answer_Type).ToString(), Html.ActivityResourceKeyFor(m => m.Answer_Type).ToString(), new { @class = "form-control", @id = "Answer_Type" }))
                                                @Html.ValidationMessageFor(m => m.Answer_Type)
                                                @Html.LabelFor(m => m.Option_number)
                                                @Html.DropDownListFor(m => m.Option_number, new SelectList(ViewBag.NoOfOptionsDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Option_number).ToString(), Html.ActivityResourceKeyFor(m => m.Option_number).ToString(), new { @class = "form-control", @id = "Option_number" }))
                                                @Html.ValidationMessageFor(m => m.Answer_Type)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div role="form">
                                            <div class="form-group">
                                                <table id="tblOptions" class="table" cellpadding="0" cellspacing="0" style="width:100% ; ">
                                                    <tbody></tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div role="form">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div role="form">
                                            <div style="text-align:center">
                                                <button type="button" class="btn btn-success" id="btnMCQ_save"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("usr_btn_54154")</button>
                                                <button type="button" class="btn btn-success" id="btnMCQ_saveMore"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("usr_btn_54107")</button>
                                                <button type="button" class="btn btn-success" id="btnMCQ_Back"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("usr_btn_54089")</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>

        </div>


    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="QuestionList">
        <div class="row">
            <div class="panel-group" id="accordion">
                <div class="panel panel-accordion">
                    <div class="panel-heading active">
                        <h4 class="panel-title">
                            @InsiderTrading.Common.Common.getResource("com_lbl_54095")
                        </h4>
                    </div>
                    @using (Html.BeginForm("#", "MCQSetting", null, FormMethod.Post, new { @id = "MCQGridQuestionsForm", role = "form", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })

                        <div class="panel-body" style="margin: 0px 0px 0px -16px;">
                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                        <div role="form">
                                            <div class="form-group">
                                                @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.MCQ_CREATE))
                                                {
                                                    <button type="button" class="btn btn-success" id="btnMCQ_AddNew"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("usr_btn_54091")</button>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div role="form">
                                            <div style="margin: 0px -30px 0px -13px;">
                                                @if (Model != null)
                                                {
                                                    @Html.Partial("~/Views/MCQSetting/MCQQuestionList.cshtml", Model);

                                                }
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div role="form">
                                            <div class="form-group">

                                                <a class="btn btn-success" href='@Url.Action("MCQSettings", "MCQSetting",null)' role="button">@InsiderTrading.Common.Common.getResource("usr_btn_54092")</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>

        </div>


    </div>

</section>


@*<div class="container">
        <!-- Modal -->
        <div class="modal fade" id="QuestionModal" role="dialog">
            <form>
                <div class="modal-dialog" style="width:80%;">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#86C457;color:white">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title custom_align" id="myModalLabel">@InsiderTrading.Common.Common.getResource("com_lbl_54095")</h4>
                        </div>
                        <div class="modal-body">

                            @using (Html.BeginForm("MCQQuestions", "MCQSetting", new { acid = 1 }, FormMethod.Post, new { @id = "MCQQuestionsForm", role = "form", autocomplete = "off" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })

                                <div class="panel-body">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div role="form">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Question)
                                                        @Html.TextAreaFor(m => m.Question, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Question).ToString(), Html.ActivityResourceKeyFor(m => m.Question).ToString(), new { @class = "form-control", @id = "Question", style = " height: 150px;" }))
                                                        @Html.ValidationMessageFor(m => m.Question)

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div role="form">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Answer_Type)
                                                        @Html.DropDownListFor(m => m.Answer_Type, new SelectList(ViewBag.Answer_TypeDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Answer_Type).ToString(), Html.ActivityResourceKeyFor(m => m.Answer_Type).ToString(), new { @class = "form-control", @id = "Answer_Type" }))
                                                        @Html.ValidationMessageFor(m => m.Answer_Type)
                                                        @Html.LabelFor(m => m.Option_number)
                                                        @Html.DropDownListFor(m => m.Option_number, new SelectList(ViewBag.NoOfOptionsDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Option_number).ToString(), Html.ActivityResourceKeyFor(m => m.Option_number).ToString(), new { @class = "form-control", @id = "Option_number" }))
                                                        @Html.ValidationMessageFor(m => m.Answer_Type)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div role="form">
                                                    <div class="form-group">
                                                        <table id="tblOptions" class="table" cellpadding="0" cellspacing="0" style="width:100% ; ">
                                                            <tbody></tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div role="form">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                                <div role="form">
                                                    <div style="text-align:center">
                                                        <button type="button" class="btn btn-success" id="btnMCQ_save"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("usr_btn_54088")</button>
                                                        <button type="button" class="btn btn-success" id="btnMCQ_Back"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("usr_btn_54089")</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="divQuestionDetailsModal" style="display:none;"></div>
    </div>*@

<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        $("#Question").removeAttr("disabled");
        $("#Answer_Type").removeAttr("disabled");
        $("#Option_number").removeAttr("disabled");

        var objQuestionsAnswerList  = @Html.Raw(Json.Encode(Model.objQuestionsAnswerList));
        var objCorrectAnswerList  = @Html.Raw(Json.Encode(Model.objCorrectAnswerList));

        if ('@ViewBag.EditQuestion' == 1) {

            $("#divQuestionDetailsModal").show();
            $('#QuestionList').hide();
            $('#btnMCQ_saveMore').hide();
            $("#Option_number").attr("disabled", "disabled");
            var AnswerIndex=0
            var Option_number = $("#Option_number").val();
            var Answer_Type = $("#Answer_Type").val();
            $("#tblOptions tr").empty();
            var i;
            for (i = 1; i <= Option_number; i++) {

                var tBody = $("#tblOptions > TBODY")[0];
                var row = tBody.insertRow(-1);
                //Add Name cell.
                var cell = $(row.insertCell(-1));
                if (i == 1) {
                    if (Answer_Type == "Radio") {
                        if(objQuestionsAnswerList[i - 1]==objCorrectAnswerList[0])
                        {
                            cell.html("<thead> <th></th><th>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54099")' + "</th> </thead> <tr> <td><label class='labletext'>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions' value='" + objQuestionsAnswerList[i - 1] + "' style=' width:300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstRedio'> <input type='radio' name='answer' checked='checked'> </label></tr> </td>");
                        }
                        else
                        {
                            cell.html("<thead> <th></th><th>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54099")' + "</th> </thead> <tr> <td><label class='labletext'>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions' value='" + objQuestionsAnswerList[i - 1] + "' style=' width:300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstRedio'> <input type='radio' name='answer' > </label></tr> </td>");
                        }
                    }
                    else {

                        if(objQuestionsAnswerList[i - 1]==objCorrectAnswerList[AnswerIndex])
                        {
                            cell.html("<thead> <th></th><th>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54099")' + "</th> </thead> <tr> <td><label class='labletext'>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions' value='" + objQuestionsAnswerList[i - 1] + "' style='  width:300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstCheckbox'> <input type='checkbox'  id='chkIsPassed' checked='checked' /></label></tr> </td>");
                            if(AnswerIndex <Option_number)
                            {
                                AnswerIndex=AnswerIndex+1;
                            }
                        }
                        else
                        {
                            cell.html("<thead> <th></th><th>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54099")' + "</th> </thead> <tr> <td><label class='labletext'>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions' value='" + objQuestionsAnswerList[i - 1] + "' style='  width:300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstCheckbox'> <input type='checkbox'  id='chkIsPassed'/></label></tr> </td>");
                        }

                    }
                }
                else {
                    if (Answer_Type == "Radio") {

                        if(objQuestionsAnswerList[i - 1]==objCorrectAnswerList[0])
                        {
                            cell.html("<tr> <td><label >" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions'  value='" + objQuestionsAnswerList[i - 1] + "' style='  width: 300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstRedio'> <input type='radio' name='answer' checked='checked'> </label></tr> </td>");
                        }
                        else
                        {
                            cell.html("<tr> <td><label >" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions'  value='" + objQuestionsAnswerList[i - 1] + "' style='  width: 300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstRedio'> <input type='radio' name='answer'> </label></tr> </td>");
                        }

                    }
                    else {
                        if(objQuestionsAnswerList[i - 1]==objCorrectAnswerList[AnswerIndex])
                        {
                            cell.html("<tr> <td><label >" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions' value='" + objQuestionsAnswerList[i - 1] + "'  style='  width: 300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstCheckbox'> <input type='checkbox'   id='chkIsPassed' checked='checked'/></label></tr> </td>");
                            if(AnswerIndex <Option_number)
                            {
                                AnswerIndex=AnswerIndex+1;
                            }
                        }
                        else
                        {
                            cell.html("<tr> <td><label >" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions' value='" + objQuestionsAnswerList[i - 1] + "'  style='  width: 300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstCheckbox'> <input type='checkbox'   id='chkIsPassed' /></label></tr> </td>");
                        }

                    }
                }


            }
        }


        else {
            $("#divQuestionDetailsModal").hide();
            $('#QuestionList').show();
        }
        $(document).delegate("#btnMCQ_AddNew", "click", function () {

            $("#divQuestionDetailsModal").show();
            //$('#QuestionModal').modal('show');
            $('#QuestionList').hide();
        });
        $(document).delegate("#btnMCQ_Back", "click", function () {
            window.location.href = '@Url.Action("MCQQuestions", "MCQSetting", new { acid = InsiderTrading.Common.ConstEnum.UserActions.MCQ_VIEW})';
        });

        $(document).delegate("#Option_number", "change", function () {
           
            displayOption();
        });
        $(document).delegate("#Answer_Type", "change", function () {
            displayOption();
        });

        $(document).delegate("#btnMCQ_save", "click", function () {

            var QuestionBankDetailsID= @Html.Raw(Json.Encode(Model.objQuestionBankDetailsIDList));
            var Option_number = $("#Option_number").val();
            var Answer_Type = $("#Answer_Type").val();
            var Question = $("#Question").val();
            var AnswerDetails = [];
           
            var mcqModel = {
                QuestionID:@Html.Raw(Json.Encode(Model.QuestionID)),
                Option_number: $("#Option_number").val(),
                Answer_Type: $("#Answer_Type").val(),
                Question: $("#Question").val()
            }
            var count = 1;

            $("#tblOptions tr:not(:first)").each(function () {
           
                var row = $(this);
                var item = {

                    QuestionsAnswer: $(this).find("td:eq(0) input[type='text']").val(),//$('input:text:eq(0)', row).val(),
                    CorrectAnswer: ($("#Answer_Type").val() == "Radio") ? (($(':radio[name="answer"]', row).filter(':checked').val() == "on") ? true : false) : ($('#chkIsPassed', row).is(':checked'))?true :false,
                }
                count = count + 1
                AnswerDetails.push(item);
            });
           
            var NewAnswerDetails = AnswerDetails.filter(function( element ) {
                return element.QuestionsAnswer !== undefined;
            });
            $.ajax({
                type: "POST",
                url: "@Url.Action("MCQQuestions", "MCQSetting")",
                data: JSON.stringify({ objMCQQuestionModel: NewAnswerDetails, objMCQModel: mcqModel, acid: '@InsiderTrading.Common.ConstEnum.UserActions.MCQ_CREATE',objOptionIDLIst:QuestionBankDetailsID,formId:35}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if(r.status)
                    {
                        window.location.href = '@Url.Action("MCQQuestions", "MCQSetting")';
                        showMessage(r.Message['success'], r.status)
                        if (r.AddOnemoreQuestion)
                        {
                            $("#divQuestionDetailsModal").show();
                            $("#QuestionList").hide();
                        }
                    }
                    else
                    {
                     
                        DisplayErrorMessage(r.Message['Error'] );

                        if( r.has_key('ErrorChooseAnswer'))
                        {
                            DisplayErrorMessage(r.Message['ErrorChooseAnswer']);
                        }
                    }

                },
                error: function () {

                }
            });
        });
        $(document).delegate("#btnMCQ_saveMore", "click", function () {
            var QuestionBankDetailsID= @Html.Raw(Json.Encode(Model.objQuestionBankDetailsIDList));
            var Option_number = $("#Option_number").val();
            var Answer_Type = $("#Answer_Type").val();
            var Question = $("#Question").val();
            var AnswerDetails = [];
            var mcqModel = {
                QuestionID:@Html.Raw(Json.Encode(Model.QuestionID)),
                Option_number: $("#Option_number").val(),
                Answer_Type: $("#Answer_Type").val(),
                Question: $("#Question").val()
            }
            var count = 1;

            $("#tblOptions tr:not(:first)").each(function () {
                var row = $(this);
                var item = {

                    QuestionsAnswer: $(this).find("td:eq(0) input[type='text']").val(),//$('input:text:eq(0)', row).val(),
                    CorrectAnswer: ($("#Answer_Type").val() == "Radio") ? (($(':radio[name="answer"]', row).filter(':checked').val() == "on") ? true : false) : ($('#chkIsPassed', row).is(':checked')) ? true : false,
                }
                count = count + 1
                AnswerDetails.push(item);
            });
             
            var NewAnswerDetails = AnswerDetails.filter(function( element ) {
                return element.QuestionsAnswer !== undefined;
            });
            $.ajax({
                type: "POST",
                url: "@Url.Action("MCQQuestions", "MCQSetting")",
                data: JSON.stringify({ objMCQQuestionModel: NewAnswerDetails, objMCQModel: mcqModel, acid: '@InsiderTrading.Common.ConstEnum.UserActions.MCQ_CREATE' ,objOptionIDLIst:QuestionBankDetailsID,formId:35 }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if(r.status)
                    {
                        showMessage(r.Message['success'], r.status);
                        $("#Question").val("");
                        $(".txtOption").val("");
                        $('#Option_number').prop('selectedIndex',0);
                        $('#Answer_Type').prop('selectedIndex',0);
                       
                    }
                    else
                    {
                      
                        DisplayErrorMessage(r.Message['Error']);

                    }
                },
                error: function () {

                }
            });
        });
    });

    function displayOption()
    {
        var Option_number = $("#Option_number").val();
        var Answer_Type = $("#Answer_Type").val();
        $("#tblOptions tr").empty();
        var i;
        for (i = 1; i <= Option_number; i++) {
            var tBody = $("#tblOptions > TBODY")[0];
            var row = tBody.insertRow(-1);
            //Add Name cell.
            var cell = $(row.insertCell(-1));
            if (i == 1) {
                if (Answer_Type == "Radio") {
                    cell.html("<thead> <th></th><th>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54099")' + "</th> </thead> <tr> <td><label class='labletext'>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions'  style='  width:300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstRedio'>   <input type='radio' name='answer'> </label></tr> </td>");

                }
                else {
                    cell.html("<thead><th></th><th>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54099")' + "</th></tr> </thead> <tr> <td><label class='labletext'>" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions'  style='  width:300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstCheckbox'> <input type='checkbox'  name='answer' id='chkIsPassed' /></label></tr> </td>");
                }
            }
            else {
                if (Answer_Type == "Radio") {
                    cell.html("<tr> <td><label >" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions'  style='  width: 300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstRedio'> <input type='radio' name='answer'> </label></tr> </td>");

                }
                else {
                    cell.html("<tr> <td><label >" + '@InsiderTrading.Common.Common.getResource("usr_lbl_54100")' + i.toString() + "</>" + "<input type='text' class='form-control txtOption'   id='txtOptions'  style='  width: 300px;' /> </td> <td style='padding-left:30px;padding-top:20px'><label id='firstCheckbox'> <input type='checkbox'  name='answer' id='chkIsPassed' /></label></tr> </td>");
                }
            }


        }
    }
  
    function showMessage(message, status) {
        $('#MessageFlyover').show();
        $('#MessageFlyover').addClass('in');
        if (status) {
            $('#MessageFlyover').addClass('alert-success success');
        } else {
            $('#MessageFlyover').addClass('alert-error error');
        }
        $('#MessageFlyoverContent').html('');
        $('#MessageFlyoverContent').append(message);

        setTimeout(
                function () {
                    $('#MessageFlyover').removeClass('in');
                    $('#MessageFlyoverContent').html('');
                    if (status) {
                        $('#MessageFlyover').addClass('alert-success success');
                    } else {
                        $('#MessageFlyover').addClass('alert-error error');
                    }
                    $('#MessageFlyover').hide();

                },10000);
    }

    function DisplayErrorMessage(ErrorMessage) {
        $('input').removeClass('input-validation-error');
        $('select').removeClass('input-validation-error');

        $('#messageSection div').not('#frmDMATDetails #divValidationSummaryModal,#mainMessageSection').remove();
        $("#MCQQuestionsForm #divValidationSummaryModal ul").html("");

        $("#MCQQuestionsForm  #divValidationSummaryModal ul").append(("<li>" + ErrorMessage + "</li>"));
        $('#MCQQuestionsForm  #divValidationSummaryModal').slideDown(500);
        $('#messageSection div').not('#frmDMATDetails  #divValidationSummaryModal').remove();
        $("#MCQQuestionsForm  #divValidationSummaryModal").removeClass("validation-summary-valid");
        $("#MCQQuestionsForm  #divValidationSummaryModal").addClass("validation-summary-errors");

        setTimeout(function () {
            $("#MCQQuestionsForm #divValidationSummaryModal").removeClass("validation-summary-errors");
            $('#MCQQuestionsForm #divValidationSummaryModal').removeClass('alert-danger').fadeOut('slow');
            $("#MCQQuestionsForm #divValidationSummaryModal").addClass("alert-danger");
            $("#MCQQuestionsForm #divValidationSummaryModal").addClass("validation-summary-valid");

        }, 100000);
    }

</script>
