@model InsiderTrading.Models.MCQModel

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.INSIDER_EDUCATION_VIEW))
        {
            <div class="panel-body search" gridtype="@InsiderTrading.Common.ConstEnum.GridType.MCQ_Questions_List">


                <input type="hidden" value="@Model.UserInfoID" id="1" name="" gridtype="@InsiderTrading.Common.ConstEnum.GridType.MCQ_Questions_List" />
                <input type="hidden" value="1" id="5" name="" gridtype="@InsiderTrading.Common.ConstEnum.GridType.MCQ_Questions_List" />

                @Html.Hidden("1", Model.UserInfoID, new { id = "1", gridtype = InsiderTrading.Common.ConstEnum.GridType.MCQ_Questions_List })
                @{
            Html.RenderAction("Index", "DatatableGrid", new { type = InsiderTrading.Common.ConstEnum.GridType.MCQ_Questions_List, btnSearch = "", sSortCol = "0", acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_EDUCATION_CREATE });
                }
            </div>
        }
        @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.MCQ_EDIT))
        {
            @Html.Hidden("EditRows", Url.Action("MCQQuestions", "MCQSetting", new { acid = InsiderTrading.Common.ConstEnum.UserActions.MCQ_EDIT, QuestionID = Model.QuestionID, }), new { @class = "gridtypecontrol", ctrtype = "link", gridcolumntype = InsiderTrading.Common.ConstEnum.GridType.MCQ_Questions_List + "_usr_grd_11073", param = "{'text':'','href':'" + Url.Action("MCQQuestions", "MCQSetting", new { acid = InsiderTrading.Common.ConstEnum.UserActions.MCQ_EDIT }) + "&QuestionID=<QuestionID>','class':'display-icon icon icon-edit'}" })
        }
        @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.MCQ_DELETE))
        {
            @Html.Hidden("deleteRowURL", Url.Action("DeleteMCQ", "MCQSetting", null), new { name = "deleteRowURL", gridtype = InsiderTrading.Common.ConstEnum.GridType.MCQ_Questions_List, @class = "gridtypecontrol", ctrtype = "link", gridcolumntype = InsiderTrading.Common.ConstEnum.GridType.MCQ_Questions_List + "_usr_grd_11073", param = "{'name': 'deleteRow','ID':'DeleteMCQ', 'queryString':'[ {ID:\"QuestionID\", key:\"<QuestionID>\"} ]','text':'','href':'javascript:void(0);','class':'display-icon icon icon-delete '}" })
        }
    </div>

</div>
