@model InsiderTrading.Models.DefaulterReportOverrideModel
@{
    ViewBag.Title = "OverrideNonCompliance";
}



<div class="modal fade" id="OverrideModal" tabindex="-1" role="dialog" aria-labelledby="editResource" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title custom_align" id="editNotTraded">@InsiderTrading.Common.Common.getResource("rpt_ttl_19271")</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", "", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "frmOverrideModal", autocomplete = "off" }))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
                <input type="hidden" name="CalledFrom" id="CalledFrom" value="@ViewBag.CalledFrom" />
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.IsRemovedFromNonCompliance, new { @class = "cr-check" })
                                @Html.HiddenFor(m => m.IsRemovedFromNonCompliance)
                            &nbsp;&nbsp;
                            @Html.LabelFor(m => m.IsRemovedFromNonCompliance)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-8 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Reason)
                            </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="form-group">
                            @Html.TextAreaFor(m => m.Reason, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Reason)
                        </div>
                    </div>
                </div>
                     @Html.HiddenFor(m => m.DefaulterReportID)
                     <div class="row">
                         <div class="col-lg-2 col-md-2 col-sm-8 col-xs-12">
                             <div class="form-group">
                                 @Html.Label(InsiderTrading.Common.Common.getResource("rpt_lbl_19270"))
                             </div>
                         </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" style="margin-left: 0px; padding-left: 0px">
                                    <form method="post">
                                        @Html.Partial("~/Views/Common/MultiDocumentUpload.cshtml", Model.OverrideUpload, new ViewDataDictionary() { { "user_action", InsiderTrading.Common.ConstEnum.UserActions.DEFAULTERREPORT_LIST } })
                                    </form>
                            </div>
                        </div>
                   
                <div class="modal-footer">
                    <div class="pull-right">
                        <p>
                            <button id="btnSaveOverride" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                            <button type="button" id="btnCancel"  class="btn btn-success"><i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14010")</button>
                        </p>
                    </div>
                </div>
                }
            </div>

        </div>
    </div>
</div>
@Html.Hidden("RemoveFromList", Url.Action("RemoveFromList", "Reports"))
<script>
    $(document).ready(function () {
        var dataTable = null;
        $(document).delegate("#btnSaveOverride", "click", function () {

            dataTable = $("#DataTables_Table_0").dataTable();

            $('#frmOverrideModal').removeData('validator');
            $('#frmOverrideModal').removeData('unobtrusiveValidation');
            $("#frmOverrideModal").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("#frmOverrideModal");

            if ($("#frmOverrideModal").valid()) {
                $.ajax({
                    url: $("#RemoveFromList").val(),
                    type: 'post',
                    headers: getRVToken(),
                    data: $("#frmOverrideModal").serialize(),
                    success: function (data) {
                        if (data.status) {
                            showMessage(data.Message, true);
                            $('#OverrideModal').modal('hide');
                            $("#divOverrideModal").hide();
                            dataTable.fnDraw();
                          //  scrollTo(0, 0);
                        }
                    },
                    error: function (data) {
                        DisplayErrors(data.error);
                    }
                });
            }
            return false;
        });

        $(document).delegate("#btnCancel", "click", function () {
            $('#OverrideModal').modal('hide');
            $("#divOverrideModal").hide();
        });



    });
</script>