@model InsiderTrading.Models.TradingPolicyModel_OS
@{
    ViewBag.Title = "_MultipleTransactionTrade_OS";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
    @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.StExMultiTradeFreq, new { @class = "normalLable" })
            @Html.DropDownListFor(m => m.StExMultiTradeFreq, new SelectList(ViewBag.StExMultiTradeFreqList, "Key", "Value", "137002"), @InsiderTrading.Common.Common.IsTradingPolicyEdit("Text", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
        </div>
    </div>*@
    <div id="DivYearType">
    @{
        if (Model.StExMultiTradeFreq == InsiderTrading.Common.ConstEnum.Code.Yearly)
        {
            @Html.Partial("~/Views/TradingPolicy_OS/_YearType_OS.cshtml")
        }
    }
    </div>
    @*<div id="thresholdreset" class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
        @Html.Label(InsiderTrading.Common.Common.getResource("rul_lbl_15446"), new { @class = "normalLable" })
        @Html.RadioButtonFor(m => m.ThresholdLimtResetFlag, @InsiderTrading.Models.TPYesNo_OS.Yes) @InsiderTrading.Common.Common.getResource("com_lbl_14021")
        @Html.RadioButtonFor(m => m.ThresholdLimtResetFlag, @InsiderTrading.Models.TPYesNo_OS.No) @InsiderTrading.Common.Common.getResource("com_lbl_14022")
    </div>*@
</div>
@Html.Hidden("StExMultiTradeFreqURL", Url.Action("StExMultiTradeFreqURL", "TradingPolicy_OS"))