@model InsiderTrading.Models.TradingPolicyModel_OS
@{
    ViewBag.Title = "_PeriodEndDisclosureSubmissionStockExchange_OS";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.DiscloPeriodEndSubmitToStExByCOLimit, new { @class = "normalLable" })
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(m => m.DiscloPeriodEndSubmitToStExByCOLimit, @InsiderTrading.Common.Common.IsTradingPolicyEdit("TextNumber", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="normalLable">@InsiderTrading.Common.Common.getResource("rul_lbl_55284")</label>
            @Html.ValidationMessageFor(m => m.DiscloPeriodEndSubmitToStExByCOLimit)
        </div>
    </div>
</div>
