@model InsiderTrading.Models.TradingPolicyModel_OS
@{
    ViewBag.Title = "_Preclrpartialtradenotdoneflag_OS";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            @Html.CheckBoxFor(m => m.PreClrCompleteTradeNotDoneFlag, @InsiderTrading.Common.Common.IsTradingPolicyEdit("CheckBox", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
            &nbsp;&nbsp;@Html.LabelFor(m => m.PreClrCompleteTradeNotDoneFlag, new { @class = "normalLable" })
            @Html.ValidationMessageFor(m => m.PreClrCompleteTradeNotDoneFlag)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            @Html.CheckBoxFor(m => m.PreClrPartialTradeNotDoneFlag, @InsiderTrading.Common.Common.IsTradingPolicyEdit("CheckBox", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
            &nbsp;&nbsp;@Html.LabelFor(m => m.PreClrPartialTradeNotDoneFlag, new { @class = "normalLable" })
            @Html.ValidationMessageFor(m => m.PreClrPartialTradeNotDoneFlag)
        </div>
    </div>
</div>
