@model InsiderTrading.Models.TradingPolicyModel_OS
@{
    ViewBag.Title = "_PreClrAllowRestrictedList_OS";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
   <!-- <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
           @Html.LabelFor(m => m.PreClrUPSIDeclaration, new { @class = "normalLable" })
        </div>
    </div>-->
    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
        <div class="form-group">
            @Html.TextAreaFor(m => m.SearchType, @InsiderTrading.Common.Common.IsTradingPolicyEdit("Text", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
            @Html.ValidationMessageFor(m => m.SearchType)
        </div>
    </div>
</div>

