@model InsiderTrading.Models.TradingPolicyModel_OS
@{
    ViewBag.Title = "_ProhibitTradingNonTradingPeriod_OS";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 ">
        <div class="form-group">
            @Html.LabelFor(m => m.PreClrProhibitNonTradePeriodFlag, new { @class = "control-label text-left" })
        </div>
    </div>
    <div class="col-md-9 col-md-4 col-sm-8 col-xs-8">
        <div class="form-group">
            @Html.DropDownList("SelectedPreClrProhibitNonTradePeriodTransaction", new MultiSelectList(ViewBag.ProhibitTransactionTypeList, "Key", "Value", Model.AssignedPreClrProhibitNonTradePeriodTransactionList.Select(m => m.Key)), @InsiderTrading.Common.Common.IsTradingPolicyEdit("MultiSelect", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
            @Html.ValidationMessageFor(m => m.SelectedPreClrProhibitNonTradePeriodTransaction)
        </div>
    </div>
</div>
