@model InsiderTrading.Models.TradingPolicyModel_OS
@{
    ViewBag.Title = "_SingleTransactionTrade_OS";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
     <div class="form-group">
            @Html.LabelFor(m => m.StExTransTradeNoShares, new { @class = "normalLable" })
            @Html.TextBoxFor(m => m.StExTransTradeNoShares, @InsiderTrading.Common.Common.IsTradingPolicyEdit("Text", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
            @Html.ValidationMessageFor(m => m.StExTransTradeNoShares)
        </div>
     </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.StExTransTradePercPaidSubscribedCap, new { @class = "normalLable" })
            @Html.TextBoxFor(m => m.StExTransTradePercPaidSubscribedCap, "{0:N2}", @InsiderTrading.Common.Common.IsTradingPolicyEdit("Text", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
            @Html.ValidationMessageFor(m => m.StExTransTradePercPaidSubscribedCap)
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.StExTransTradeShareValue, new { @class = "normalLable" })
            @Html.TextBoxFor(m => m.StExTransTradeShareValue, @InsiderTrading.Common.Common.IsTradingPolicyEdit("Text", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
            @Html.ValidationMessageFor(m => m.StExTransTradeShareValue)
        </div>
    </div>
</div>