@model List<InsiderTrading.Models.DocumentDetailsModel>
@{
    ViewBag.Title = "ViewDocumentUpload";
    int Index = Model[0].Index;
    int SubIndex = Model[0].SubIndex;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

    @if (Model != null && Model.Count > 0)
{
    foreach (InsiderTrading.Models.DocumentDetailsModel obj in Model)
    {
        //check if file is upload or not
        if (obj.DocumentId != null)
        {
            <tr>
                <td>
                    @Html.Label(obj.DocumentName)
                    @*<input type="hidden" name="[@Index].Key" value="@Model[0].MapToTypeCodeId" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].DocumentId" value="@Model[0].DocumentId" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].MapToTypeCodeId" value="@Model[0].MapToTypeCodeId" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].MapToId" value="@Model[0].MapToId" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].PurposeCodeId" value="@Model[0].PurposeCodeId" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].GUID" value="@Model[0].GUID" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].Index" value="@Model[0].Index" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].SubIndex" value="@Model[0].SubIndex" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].DocumentName" value="@Model[0].DocumentName" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].Description" value="@Model[0].Description" />
                    <input type="hidden" name="[@Index].Value[@SubIndex].DocumentPath" value="@Model[0].DocumentPath" />*@
                </td>
                <td>
                    <a class="display-icon icon icon-eye" href='@Url.Action("displayhardcopy", "InsiderInitialDisclosure" , new { documentid=obj.DocumentId, documentpath=obj.DocumentPath, calledfrom=ViewBag.CalledFrom, transactionmasterid=ViewBag.TransactionMasterId, disclosuretypeid=@ViewBag.DisclosureType })'></a>
                </td>
            </tr>
        }
    }
}


