@model InsiderTrading.Models.EmployeeModel
@{
    ViewBag.Title = "ViewDetails";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
    <div class="col-xs-6 bs-example">
        <div class="">
            <h2>Personal Details:</h2>
            <div class="col-xs-12 row">
               
                <div class="col-xs-6 row">
                    @Html.Label("User Name")
                </div>
                <div class="col-xs-6 row">
                    @Html.DisplayFor(m => m.userInfoModel.LoginID)
                </div>

                <div class="col-xs-6 row">
                    @Html.Label("Password")
                </div>
                <div class="col-xs-6 row">
                    @Html.DisplayFor(m => m.userInfoModel.Password)
                </div>
                  
                <div class="col-xs-6 row">
                    @Html.Label("Address")
                </div>
                <div class="col-xs-6 row">
                    @Html.DisplayFor(m => m.userInfoModel.AddressLine1)
                    @Html.DisplayFor(m => m.userInfoModel.AddressLine2)
                    @Html.DisplayFor(m => m.userInfoModel.City)
                    @Html.DisplayFor(m => m.userInfoModel.StateName)
                    @Html.DisplayFor(m => m.userInfoModel.CountryName)
                </div>
               
                <div class="col-xs-6 row">
                    @Html.Label("Pin Code")
                </div>
                <div class="col-xs-6 row">
                    @Html.DisplayFor(m => m.userInfoModel.PinCode)
                </div>
              
                <div class="col-xs-6 row">
                    @Html.Label("Mobile No")
                </div>
                <div class="col-xs-6 row">
                    @Html.DisplayFor(m => m.userInfoModel.MobileNumber)
                </div>
               
                <div class="col-xs-4 row">
                    @Html.Label("Email ID")
                </div>
                <div class="col-xs-8 row">
                    @Html.DisplayFor(m => m.userInfoModel.EmailId)
                </div>
           
                <div class="col-xs-6 row">
                    @Html.Label("PAN")
                </div>
                <div class="col-xs-6 row">
                    @Html.DisplayFor(m => m.userInfoModel.PAN)
                </div>
             
            </div>
        </div>
    </div>
    <div class="col-xs-6 bs-example">
        <div class="">
            <h2>Professional Details:</h2>
            <div class="col-xs-6">
                @Html.Label("Date of Joining")
            </div>
            <div class="col-xs-6">
                @Html.DisplayFor(m => m.userInfoModel.DateOfJoining)
            </div>
     
            <div class="col-xs-6">
                @Html.Label("Date of becoming Insider")
            </div>
            <div class="col-xs-6">
                @Html.DisplayFor(m => m.userInfoModel.DateOfBecomingInsider)
            </div>

            <div class="col-xs-6">
                @Html.Label("Category")
            </div>
            <div class="col-xs-6">
                @Html.DisplayFor(m => m.userInfoModel.Category)
            </div>

            <div class="col-xs-6">
                @Html.Label("Sub Category")
            </div>
            <div class="col-xs-6">
                @Html.DisplayFor(m => m.userInfoModel.SubCategory)
            </div>
          
            <div class="col-xs-6">
                @Html.Label("Grade")
            </div>
            <div class="col-xs-6">
                @Html.DisplayFor(m => m.userInfoModel.GradeName)
            </div>
           
            <div class="col-xs-6">
                @Html.Label("Designation")
            </div>
            <div class="col-xs-6">
                @Html.DisplayFor(m => m.userInfoModel.DesignationId)
            </div>
            
            <div class="col-xs-6">
                @Html.Label("Location")
            </div>
            <div class="col-xs-6">
                @Html.DisplayFor(m => m.userInfoModel.Location)
            </div>
           
            <div class="col-xs-6">
                @Html.Label("Department")
            </div>
            <div class="col-xs-6">
                @Html.DisplayFor(m => m.userInfoModel.DepartmentId)
            </div>
        </div>
    </div>
</div>

