@model InsiderTradingSSO.Models.UserDetailsModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    string LogoImagePath = Server.MapPath("~") + "/images/Logos/" + InsiderTradingSSO.Common.ConstEnum.CLIENT_DB_NAME + "/" + InsiderTradingSSO.Common.ConstEnum.CLIENT_DB_NAME + "_320X105.jpg";
    string sLogoImageUrl = @Url.Content("~/images/Logos/" + InsiderTradingSSO.Common.ConstEnum.CLIENT_DB_NAME) + "/" + @InsiderTradingSSO.Common.ConstEnum.CLIENT_DB_NAME + "_320X105.jpg";
}

@{
    ViewBag.Title = "SSO Log in";
}
<script type="text/javascript">
    $(window).load(function () {
        var length = $('#ddlCompanyName').children('option').length;
        if (length == 2) {
            $("#ddlCompanyName").prop("selectedIndex", 1);
            $('#UserName').next('input').focus();
        }
        else {
            $("#ddlCompanyName").prop("selectedIndex", 0);
        }
    })
</script>
@if (File.Exists(LogoImagePath))
{
    <div class="container login-logo" style="vertical-align: middle;">
        <img src="@Url.Content("~/images/Viligante_Normal_Logo.png")" style="float: left;vertical-align:middle;">
        <img src="@sLogoImageUrl" style="float: right;vertical-align:middle;min-width: 320px;max-width: 320px;">
    </div>
}
else
{
    <div class="container login-logo">
        <img src=@Url.Content("~/images/Viligante_Normal_Logo.png") class="img img-responsive center-block">
    </div>
}

<div class="striped login">
    <div class="container">
        @{
            if (@ViewBag.LoginError != null && @ViewBag.LoginError != "")
            {
                <div id="divError" class="alert alert-error">@ViewBag.LoginError</div>
            }

            if (@ViewBag.SuccessMessage != null && @ViewBag.SuccessMessage != "")
            {
                <div id="divSuccess" class="alert alert-success">@ViewBag.SuccessMessage</div>
            }
        }
        <div class="row">
            <div class="center-block login-block">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Login</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Index", "Home", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <fieldset>
                                @if (System.Configuration.ConfigurationManager.AppSettings["CompanyType"] == "Dropdownlist")
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.sCompanyName, new { @class = "login-label", @for = "textimput" })
                                        @Html.DropDownListFor(m => m.sCompanyName, new SelectList(ViewBag.CompaniesDropDown, "Key", "Value", ""), new { id = "ddlCompanyName", @class = "form-control", autofocus = "autofocus", tabindex = "1" })
                                        @Html.ValidationMessageFor(m => m.sCompanyName)
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.stxtCompanyName, new { @class = "login-label", @for = "textinput" })
                                        @Html.TextBoxFor(m => m.sCompanyName, new { @class = "form-control", autofocus = "autofocus", tabindex = "1", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.sCompanyName)
                                    </div>
                                }
                                <div class="form-group">
                                    @Html.LabelFor(m => m.sUserName, new { id = "UserName", @class = "login-label", @for = "textinput" })
                                    @Html.TextBoxFor(m => m.sUserName, new { @class = "form-control", tabindex = "2", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.sUserName)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.sPassword, new { @class = "login-label", @for = "textinput" })
                                    @Html.PasswordFor(m => m.sPassword, new { @class = "form-control", tabindex = "3", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.sPassword)
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                            </fieldset>
                            <button type="submit" class="btn btn-lg btn-success btn-block" tabindex="4">Login</button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sUserName").val("");
        $("#sPassword").val("");

        $('input,textarea', 'form').blur(function () {
            // $("#divError").hide();
            // $("#divSuccess").hide();
        });
        $("#sUserName").click(function () {
            $("#sUserName").val("");
            $("#sUserName").attr("type", "text");
        });
        $("#sPassword").click(function () {
            $("#sPassword").val("");
        });
        $("#sUserName,#sPassword").keydown(function (e) {
            if (e.keyCode == 13) {
                $("button[type='submit'].btn-success").focus();
            }
        });
        $("#sUserName").blur(function () {
            if ($("#sUserName").val() != "") {
                $("#sUserName").val(encrypt($("#sUserName").val()));
                $("#sUserName").attr("type", "password");
            }
        });
        $("#sPassword").blur(function () {
            if ($("#sPassword").val() != "") {
                $("#sPassword").val(encrypt($("#sPassword").val()));
            }
        });
        $("form").submit(function () {
            $("#sUserName").val($("#sUserName").val());
            $("#sPassword").val($("#sPassword").val());
        });
    });
    function encrypt(string) {
        var key = CryptoJS.enc.Utf8.parse("@ViewBag.JavascriptEncryptionKey");
        var iv = CryptoJS.enc.Utf8.parse("@ViewBag.JavascriptEncryptionKey");
        var encryptedlogin = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(string), key,
        {
            keySize: 128 / 8,
            iv: iv,
            mode: CryptoJS.mode.CBC,
            padding: CryptoJS.pad.Pkcs7
        });
        return encryptedlogin;
    }
</script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/crypto")
@Styles.Render("~/Content/css")
