@model InsiderTrading.Models.InsiderDashboardModel
@{
    ViewBag.Title = "";
    var ShowDupTransPopUp = TempData["ShowDupTransPopUp"];
    ViewBag.PasswordChangeMessage = ((InsiderTrading.Common.LoginUserDetails)InsiderTrading.Common.Common.GetSessionValue(InsiderTrading.Common.ConstEnum.SessionValue.UserDetails)).ErrorMessage;
    InsiderTrading.Common.LoginUserDetails objLoginUserDetails = (InsiderTrading.Common.LoginUserDetails)InsiderTrading.Common.Common.GetSessionValue(InsiderTrading.Common.ConstEnum.SessionValue.UserDetails);
}
<!-- Content Header (Page header) -->
<!-- Main content -->
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<div id="tabs">
    @if (ViewBag.RequiredModuleBoth)
    {
        <ul>
            <li><a href="#tabs-1">@InsiderTrading.Common.Common.getResource("dis_lbl_54188")</a></li>
            <li><a href="#tabs-2">@InsiderTrading.Common.Common.getResource("dis_lbl_54189")</a></li>
        </ul>
    }
    @if (ViewBag.RequiredModuleOwn)
    {
        <div id="tabs-1">
            <section class="content">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @if (@ViewBag.PasswordReminderMsg != null)
                                {
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="text-left">
                                                <label style="color: red; font-size: 14px;">@ViewBag.PasswordReminderMsg</label>
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <p class="text-left">
                                            @if (ViewBag.InsiderTypeUser == 1)
                                            {
                                                if (@ViewBag.IsVisible == 1)
                                                {
                                                    <a href="@Url.Action("Create", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreclearanceRequestId = 0, CalledFrom = "Edit", blink = "dashboard" })"><button class="btn btn-success" title="@InsiderTrading.Common.Common.getResource("mst_lbl_50054")">@InsiderTrading.Common.Common.getResource("dis_btn_17429")</button></a>
                                                }
                                            }
                                            @if (@ViewBag.IsVisible == 1)
                                            {
                                                <a href="@Url.Action("PreClearanceNotTakenAction", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, from = "dashboard" })" id="lnksubmit"><button class="btn btn-success" title="@InsiderTrading.Common.Common.getResource("mst_lbl_50055")">@InsiderTrading.Common.Common.getResource("dis_btn_17430")</button></a>
                                            }
                                            <button type="button" class="btn btn-success" style="display:none;" id="btnDupTrans" data-toggle="modal" data-target="#myModal"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("dis_btn_50424")</button>
                                            <button type="button" class="btn btn-success" id="btnApprovedPcl" data-toggle="modal" data-target="#myModal1" style="display:none"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("dis_btn_50424")</button>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="box box-chart">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">@InsiderTrading.Common.Common.getResource("dis_btn_17431")</h3>
                                                <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestID = "PCL" })"><button class="btn btn-sm btn-success pull-right">View All</button></a>
                                            </div>
                                            <div class="box-body">
                                                <div class="row dashboardPreclearenceRequest">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">PCL Requested </span>
                                                        <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestID = "PCL" })">
                                                            <button class="btn btn-gray center-block" style="background-color: #78A354;">@Model.PreclearanceSubmittedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">Pending</span>
                                                        <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestStatus = InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestStatusConfirmed })">
                                                            <button class="btn btn-warning center-block">@Model.PreclearancePendingCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">Rejected</span>
                                                        <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestStatus = InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestStatusRejected })">
                                                            <button class="btn btn-danger center-block">@Model.PreclearanceRejectedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">Approved</span>
                                                        <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestStatus = InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestStatusApproved })">
                                                            <button class="btn btn-success center-block">@Model.PreclearanceApprovedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                </div>
                                            </div><!-- /.box-body -->
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="box box-chart">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">@InsiderTrading.Common.Common.getResource("dis_btn_17432")</h3>
                                                <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE })"><button class="btn btn-sm btn-success pull-right">View All</button></a>
                                            </div>
                                            <div class="box-body">
                                                <div class="row dashboardTradingDetailsCount">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">Submitted</span>
                                                        <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TradeDetailsID = InsiderTrading.Common.ConstEnum.Code.EventStatusCompleted, PreClearanceRequestID = "PCL" })">
                                                            <button class="btn btn-gray center-block" style="background-color: #78A354;">@Model.TradeDetailsSubmittedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">with Pre-clearance</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">Not Traded</span>
                                                        <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TradeDetailsID = InsiderTrading.Common.ConstEnum.Code.EventStatusNotTraded })">
                                                            <button class="btn btn-gray center-block">@Model.TradeDetailsNotTradedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">Pending</span>
                                                        <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TradeDetailsID = InsiderTrading.Common.ConstEnum.Code.EventStatusPending, IsFromDashboard = "1" })">
                                                            <button class="btn btn-warning center-block">@Model.TradeDetailsPendingCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">Submitted</span>
                                                        <a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TradeDetailsID = InsiderTrading.Common.ConstEnum.Code.EventStatusCompleted, PreClearanceRequestID = "PNT" })">
                                                            <button class="btn btn-gray center-block" style="background-color: #78A354;">@Model.TradeDetailsSubmittedWithoutPreclearanceCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">without Pre-clearance</span>
                                                    </div>
                                                </div>
                                            </div><!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="box box-chart box-holding">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">@InsiderTrading.Common.Common.getResource("dis_btn_17433") @InsiderTrading.Common.Common.ApplyFormatting(Model.HoldingDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</h3>
                                            </div>
                                            <div class="box-body dashboardHoldingBox">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <div class="box no-border">
                                                            <div class="box-body dashboardHolding">
                                                                <h5 class="text-center">@InsiderTrading.Common.Common.getResource("dis_lbl_50709")</h5>
                                                                <h5 class="success text-center">@Model.HoldingSharesCount</h5>
                                                            </div>
                                                            <!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <div class="box no-border">
                                                            <div class="box-body dashboardHolding">
                                                                <h5 class="text-center">@InsiderTrading.Common.Common.getResource("dis_lbl_50711")</h5>
                                                                <h5 class="success text-center">@Model.HoldingDebenturesCount</h5>
                                                            </div>
                                                            <!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <div class="box no-border">
                                                            <div class="box-body dashboardHolding">
                                                                <h5 class="text-center">@InsiderTrading.Common.Common.getResource("dis_lbl_50710")</h5>
                                                                <h5 class="success text-center">@Model.HoldingWarrantsCount</h5>
                                                            </div>
                                                            <!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <div class="box no-border">
                                                            <div class="box-body dashboardHolding">
                                                                <h5 class="text-center">@InsiderTrading.Common.Common.getResource("dis_lbl_50712")</h5>
                                                                <h5 class="success text-center">@Model.HoldingFuturesCount</h5>
                                                            </div>
                                                            <!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="box no-border">
                                                            <div class="box-body dashboardHolding">
                                                                <h5 class="text-center">@InsiderTrading.Common.Common.getResource("dis_lbl_50713")</h5>
                                                                <h5 class="success text-center">@Model.HoldingOptionsCount</h5>
                                                            </div>
                                                            <!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- /.box-body -->
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="box box-chart box-disclosure">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">@InsiderTrading.Common.Common.getResource("dis_btn_17434")</h3>
                                            </div>
                                            <div class="box-body">
                                                <div class="row dashboardDisclosureBox">
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <a href="@Url.Action("Index","InsiderInitialDisclosure",new { acid = 155 })" id="disc-btn-1">
                                                            <img src="~/images/icons/icon-init-disc.png" class="img img-responsive center-block">
                                                            <p class="text-center dashboardDisclosureTextPadding">@InsiderTrading.Common.Common.getResource("dis_lbl_17436")</p>
                                                            @if (Model.InitialDisclosureFlag == 2)
                                                            {
                                                                <button class="btn btn-dark center-block"><i class="fa fa-check success"></i></button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-dark center-block"><i class="fa fa-exclamation danger"></i></button>
                                                            }
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <a href="@Url.Action("Index","PreclearanceRequest",new { acid = 157 })" id="disc-btn-2">
                                                            <img src="~/images/icons/icon-cont-disc.png" class="img img-responsive center-block">
                                                            <p class="text-center dashboardDisclosureTextPadding">@InsiderTrading.Common.Common.getResource("dis_lbl_17437")</p>
                                                            <button class="btn btn-dark center-block"><span class="success"> @Model.ContinuousDisclosureSoftCopyPendingCount </span></button>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <a href="@Url.Action("PeriodStatus","PeriodEndDisclosure",new { acid = 159 })" id="disc-btn-3">
                                                            <img src="~/images/icons/icon-period-end.png" class="img img-responsive center-block">
                                                            <p class="text-center dashboardDisclosureTextPadding">@InsiderTrading.Common.Common.getResource("dis_lbl_17438")</p>
                                                            @if (Model.PeriodEndDisclosureFlag == 1)
                                                            {
                                                                <button class="btn btn-dark center-block"><i class="fa fa-check success"></i></button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-dark center-block"><i class="fa fa-exclamation danger"></i></button>
                                                            }
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!-- /.box-body -->
                                            <div class="box-footer">
                                                <div id="disc-1" style="display: none;">
                                                    @if (Model.InitialDisclosureFlag == 2) // 2: Done
                                                    {
                                                        <p>@InsiderTrading.Common.Common.getResource("dis_lbl_17439") <span class="danger">@InsiderTrading.Common.Common.ApplyFormatting(Model.InitialDisclosureDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</span></p>
                                                    }
                                                    else if (Model.InitialDisclosureFlag == 1) // 1: Not done and last date passed.
                                                    {
                                                        <p>@InsiderTrading.Common.Common.getResource("dis_lbl_17440") <span class="danger">@InsiderTrading.Common.Common.ApplyFormatting(Model.InitialDisclosureDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</span></p>
                                                    }
                                                    else if (Model.InitialDisclosureFlag == 0) // 0: Not done but last date not passed.
                                                    {
                                                        <p>@InsiderTrading.Common.Common.getResource("dis_lbl_17441") <span class="danger">@InsiderTrading.Common.Common.ApplyFormatting(Model.InitialDisclosureDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</span></p>
                                                    }
                                                    else if (Model.InitialDisclosureFlag == 3) // 4: No trading policy is found.
                                                    {
                                                        <p><span class="danger">@InsiderTrading.Common.Common.getResource("dis_lbl_17442")</span></p>
                                                    }
                                                </div>
                                                <div id="disc-2" style="display: none;">
                                                    @if (Model.ContiCountWithinLimitFlag == 1) // Within limit
                                                    {
                                                        <p><span class="danger">@Model.ContinuousDisclosureSoftCopyPendingCount</span> @InsiderTrading.Common.Common.getResource("dis_lbl_17443")</p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="danger">@Model.ContinuousDisclosureSoftCopyPendingCount</span> @InsiderTrading.Common.Common.getResource("dis_lbl_17443")</p>
                                                    }
                                                </div>
                                                <div id="disc-3" style="display: none;">
                                                    @if (Model.PeriodEndDisclosureFlag == 1) // Last date for next period.
                                                    {
                                                        <p>@InsiderTrading.Common.Common.getResource("dis_lbl_17444") <span class="danger">@InsiderTrading.Common.Common.ApplyFormatting(Model.PeriodEndDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</span> to <span class="danger">@InsiderTrading.Common.Common.ApplyFormatting(Model.PeriodEndDateTo, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</span></p>
                                                    }
                                                    else if (Model.PeriodEndDisclosureFlag == 2) // Lst date of submission (date id not passed)
                                                    {
                                                        <p>@InsiderTrading.Common.Common.getResource("dis_lbl_17445") <span class="danger">@InsiderTrading.Common.Common.ApplyFormatting(Model.PeriodEndDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</span></p>
                                                    }
                                                    else if (Model.PeriodEndDisclosureFlag == 3) // Last date of submission (date has passed)
                                                    {
                                                        <p>@InsiderTrading.Common.Common.getResource("dis_lbl_17446") <span class="danger">@InsiderTrading.Common.Common.ApplyFormatting(Model.PeriodEndDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date)</span></p>
                                                    }
                                                    else if (Model.PeriodEndDisclosureFlag == 4) // Trading policy not found
                                                    {
                                                        <p><span class="danger">@InsiderTrading.Common.Common.getResource("dis_lbl_17442")</span></p>
                                                    }
                                                    else if (Model.PeriodEndDisclosureFlag == 5) // As per Trading policy period end disclosure is not required
                                                    {
                                                        <p><span class="danger">@InsiderTrading.Common.Common.getResource("dis_lbl_17447") </span></p>
                                                    }
                                                </div>
                                                <div id="disc-4" style="display: none;">
                                                    <p>&nbsp;</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (ViewBag.hideTrading == 0)
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="box box-chart box-trading">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">@InsiderTrading.Common.Common.getResource("dis_btn_17435")</h3>
                                                    <a href="@Url.Action("Calender", "TradingWindowsOther", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_TRADING_WINDOW_CALENDER_VIEW })">
                                                        <button class="btn btn-sm btn-success pull-right">View </button>
                                                    </a>
                                                </div>
                                                <div id="divTradingWindow"></div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="box box-chart">
                                                <div class="box-header with-border">
                                                    @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.FAQ_InsiderList))
                                                    {
                                                        Html.RenderAction("Index", "FAQ", new { acid = InsiderTrading.Common.ConstEnum.UserActions.FAQ_InsiderList });
                                                    }
                                                </div>
                                            </div>
                                            <div class="box box-chart">
                                                <div class="box-body">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 Mail">
                                        @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.NOTIFICATION_LIST_RIGHT))
                                        {
                                            Html.RenderAction("DashboardNotification", "Notification", new { });
                                        }
                                    </div>
                                    @*<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                            @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.DASHBOARD_INSIDERUSER))
                                            {
                                                Html.RenderAction("DashboardNotification", "Notification", new { });
                                            }
                                        </div>*@
                                    @if (ViewBag.hideTrading == 0)
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="box box-chart">
                                                <div class="box-header with-border">
                                                    @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.FAQ_InsiderList))
                                                    {
                                                        Html.RenderAction("Index", "FAQ", new { acid = InsiderTrading.Common.ConstEnum.UserActions.FAQ_InsiderList });
                                                    }
                                                </div>
                                            </div>
                                            <div class="box box-chart">
                                                <div class="box-body">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    }
    @if (ViewBag.RequiredModuleOther)
    {
        <div id="tabs-2">
            <section class="content">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModalOtherSecurities" } })
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @if (@ViewBag.PasswordReminderMsg != null)
                                {
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="text-left">
                                                <label style="color: red; font-size: 14px;">@ViewBag.PasswordReminderMsg</label>
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <p class="text-left">
                                            @if (ViewBag.InsiderTypeUser == 1)
                                            {
                                                if (@ViewBag.IsVisible == 1)
                                                {
                                                    <a href="@Url.Action("RestrictedListSearch", "RestrictedList", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_RESTRICTED_LIST_SEARCH })"><button class="btn btn-success" title="@InsiderTrading.Common.Common.getResource("mst_lbl_50054")">@InsiderTrading.Common.Common.getResource("dis_btn_17429")</button></a>
                                                }
                                            }
                                            @if (@ViewBag.IsVisible == 1)
                                            {
                                                <a href="@Url.Action("PreClearanceNotTakenAction", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, from = "dashboard" })" id="lnksubmit"><button class="btn btn-success" title="@InsiderTrading.Common.Common.getResource("mst_lbl_50055")">@InsiderTrading.Common.Common.getResource("dis_btn_17430")</button></a>
                                            }
                                            <button type="button" class="btn btn-success" style="display:none;" id="btnDupTrans" data-toggle="modal" data-target="#myModal"><i class="fa fa-save"></i>@InsiderTrading.Common.Common.getResource("dis_btn_50424")</button>
                                            <button type="button" class="btn btn-success" id="btnApprovedPcl" data-toggle="modal" data-target="#myModal1" style="display:none"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("dis_btn_50424")</button>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="box box-chart">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">@InsiderTrading.Common.Common.getResource("dis_btn_54186")</h3>
                                                <a href="@Url.Action("Index", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestID = "PCL" })"><button class="btn btn-sm btn-success pull-right">@InsiderTrading.Common.Common.getResource("dis_btn_54200")</button></a>
                                            </div>
                                            <div class="box-body">
                                                <div class="row dashboardPreclearenceRequest">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">@InsiderTrading.Common.Common.getResource("dis_lbl_54190") </span>
                                                        <a href="@Url.Action("IndexOS", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestID = "PCL" })">
                                                            <button class="btn btn-gray center-block" style="background-color: #78A354;">@Model.objInsiderDashboardOtherModel.PreclearanceSubmittedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">@InsiderTrading.Common.Common.getResource("dis_lbl_54191")</span>
                                                        <a href="@Url.Action("IndexOS", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestStatus = InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestStatusConfirmed })">
                                                            <button class="btn btn-warning center-block">@Model.objInsiderDashboardOtherModel.PreclearancePendingCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">@InsiderTrading.Common.Common.getResource("dis_lbl_54192")</span>
                                                        <a href="@Url.Action("IndexOS", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestStatus = InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestStatusRejected })">
                                                            <button class="btn btn-danger center-block">@Model.objInsiderDashboardOtherModel.PreclearanceRejectedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">@InsiderTrading.Common.Common.getResource("dis_lbl_54193")</span>
                                                        <a href="@Url.Action("IndexOS", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, PreClearanceRequestStatus = InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestStatusApproved })">
                                                            <button class="btn btn-success center-block">@Model.objInsiderDashboardOtherModel.PreclearanceApprovedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                </div>
                                            </div><!-- /.box-body -->
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="box box-chart">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">@InsiderTrading.Common.Common.getResource("dis_btn_54187")</h3>
                                                <a href="@Url.Action("IndexOS", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE })"><button class="btn btn-sm btn-success pull-right">@InsiderTrading.Common.Common.getResource("dis_btn_54201")</button></a>
                                            </div>
                                            <div class="box-body">
                                                <div class="row dashboardTradingDetailsCount">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">@InsiderTrading.Common.Common.getResource("dis_lbl_54194")</span>
                                                        <a href="@Url.Action("IndexOS", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TradeDetailsID = InsiderTrading.Common.ConstEnum.Code.EventStatusCompleted, PreClearanceRequestID = "PCL" })">
                                                            <button class="btn btn-gray center-block" style="background-color: #78A354;">@Model.objInsiderDashboardOtherModel.TradeDetailsSubmittedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">@InsiderTrading.Common.Common.getResource("dis_lbl_54198")</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">@InsiderTrading.Common.Common.getResource("dis_lbl_54195")</span>
                                                        <a href="@Url.Action("IndexOS", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TradeDetailsID = InsiderTrading.Common.ConstEnum.Code.EventStatusNotTraded })">
                                                            <button class="btn btn-gray center-block">@Model.objInsiderDashboardOtherModel.TradeDetailsNotTradedCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">@InsiderTrading.Common.Common.getResource("dis_lbl_54196")</span>
                                                        <a href="@Url.Action("IndexOS", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TradeDetailsID = InsiderTrading.Common.ConstEnum.Code.EventStatusPending, IsFromDashboard = "1" })">
                                                            <button class="btn btn-warning center-block">@Model.objInsiderDashboardOtherModel.TradeDetailsPendingCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">&nbsp;</span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                        <span class="block text-center btn-labelDashboard">@InsiderTrading.Common.Common.getResource("dis_lbl_54197")</span>
                                                        <a href="@Url.Action("IndexOS", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TradeDetailsID = InsiderTrading.Common.ConstEnum.Code.EventStatusCompleted, PreClearanceRequestID = "PNT" })">
                                                            <button class="btn btn-gray center-block" style="background-color: #78A354;">@Model.objInsiderDashboardOtherModel.TradeDetailsSubmittedWithoutPreclearanceCount</button>
                                                        </a>
                                                        <span class="block text-center btn-sub-label">@InsiderTrading.Common.Common.getResource("dis_lbl_54199")</span>
                                                    </div>
                                                </div>
                                            </div><!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 Mail">
                                        @*@if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.NOTIFICATION_LIST_RIGHT))
                                            {
                                                Html.RenderAction("DashboardNotification_OS", "Notification", new { });
                                            }*@
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="box box-chart">
                                            @if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.FAQ_InsiderList))
                                            {
                                                Html.RenderAction("Index", "FAQ", new { acid = InsiderTrading.Common.ConstEnum.UserActions.FAQ_InsiderList });
                                            }
                                        </div>
                                        <div class="box box-chart">
                                            <div class="box-body">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    }
</div>


@Html.Hidden("GetTradingWindow", Url.Action("GetTradingWindow", "TradingWindowsOther"))
@Html.Hidden("GetTradingWindowCalendar", Url.Action("GetTradingWindowCalendar", "TradingWindowsOther"))

<div class="container">
    @*<h2>Modal Example</h2>*@
    <!-- Trigger the modal with a button -->
    @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    @InsiderTrading.Common.Common.getResource("tra_msg_50641")
                </div>
                <div class="modal-footer">
                    @*<a href="@Url.Action("Index", "PreclearanceRequest", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TradeDetailsID = InsiderTrading.Common.ConstEnum.Code.EventStatusPending, IsFromDashboard = "1" })">*@
                    @using (Html.BeginForm("Index", "PreclearanceRequest", new { acid = (objLoginUserDetails.UserTypeCodeId == InsiderTrading.Common.ConstEnum.Code.COUserType) ? InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE : InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, IsFromDashboard = "2" }, FormMethod.Post))
                    {
                        <input type="hidden" name="SPName" id="SPName" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">@InsiderTrading.Common.Common.getResource("tra_btn_50643")  </button>
                        <button type="submit" id="btnYes" class="btn btn-success">@InsiderTrading.Common.Common.getResource("tra_btn_50642")  </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="myModal1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    @InsiderTrading.Common.Common.getResource("tra_msg_50650")
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Index", "PreclearanceRequest", new { acid = (objLoginUserDetails.UserTypeCodeId == InsiderTrading.Common.ConstEnum.Code.COUserType) ? InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE : InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE }, FormMethod.Post, new { id = "submitForm" }))
                    {
                        <button type="submit" id="btnPCLYes" class="btn btn-success" name="IsApprovedPCL" value="yes">@InsiderTrading.Common.Common.getResource("tra_btn_50648")  </button>
                        <button type="submit" id="btnPCLNo" class="btn btn-danger" name="IsApprovedPCL" value="no">@InsiderTrading.Common.Common.getResource("tra_btn_50649") </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        getTradingWindow();

        $('#lnksubmit').click(function () {
            if ('@ViewBag.ApprovedPCLCnt' == 'True') {
                $('#btnApprovedPcl').trigger('click');
                return false;
            }

        });


        $(document).delegate('#prev', 'click', function (event) {
            var Year = $('#hidCurrentyear').val();
            var Month = $('#hidCurrentMonth').val();
            $('#divTradingWindow').html("");
            $.ajax({
                url: $("#GetTradingWindowCalendar").val(),
                type: 'post',
                headers: getRVToken(),
                cache: false,
                data: { "Year": Year, "sMonth": Month, "CalledFrom": "Prev" },
                success: function (result) {
                    $('#divTradingWindow').html(result);
                },
                error: function (result) {
                }

            });
        });

        $(document).delegate('#next', 'click', function (event) {
            var Year = $('#hidCurrentyear').val();
            var Month = $('#hidCurrentMonth').val();
            $('#divTradingWindow').html("");
            $.ajax({
                url: $("#GetTradingWindowCalendar").val(),
                type: 'post',
                headers: getRVToken(),
                cache: false,
                data: { "Year": Year, "sMonth": Month, "CalledFrom": "Next" },
                success: function (result) {
                    $('#divTradingWindow').html(result);
                },
                error: function (result) {
                }

            });
        });
    });

    function getTradingWindow() {
        $.ajax({
            url: $("#GetTradingWindow").val(),
            type: 'post',
            headers: getRVToken(),
            data: {},
            success: function (data) {
                $("#divTradingWindow").html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }
</script>

<script>
    //$(document).ready(function () {
        var ShowDupTransPopUp = "@ShowDupTransPopUp";
        if (ShowDupTransPopUp == 1 && '@ViewBag.dupTransCnt'=='True') {
            setTimeout(function () { $('#btnDupTrans').trigger('click') }, 500);
        }

    //})
</script>

<script type="text/javascript">
   $(function () {
        $("#tabs").tabs();
   });

    if ('@ViewBag.RequiredModuleBoth' == 'False') {
        $("#tabs-1 .panel").removeClass('panel-default').css({ "-webkit-box-shadow": "0 1px 1px rgba(0,0,0,.00)", "box-shadow": "0 1px 1px rgba(0,0,0,.00)" });
        $("#tabs-2 .panel").removeClass('panel-default').css({ "-webkit-box-shadow": "0 1px 1px rgba(0,0,0,.00)", "box-shadow": "0 1px 1px rgba(0,0,0,.00)" });
    }

</script>