
@{
    ViewBag.Title = "MassUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    @Html.AntiForgeryToken()
    <h1>
        Mass Upload
    </h1>
</section>

<section class="content">
    <table id="massUpload" style="width:100%" class="data-table table table-bordered table-striped dataTable">
        <tr>
            <th>
                Mass Upload Type
            </th>
            <th>
                Action
            </th>
            @*<th>
                Template (XLS)
            </th>*@
            <th>
                Template (XLSX)
            </th>
        </tr>
        @foreach (var objMassUpload in ViewBag.AllMassUpload)
        {
            if (@objMassUpload.MassUploadExcelId != 53 && @objMassUpload.MassUploadExcelId != 6)
            { 
                <tr>
                    <td>@objMassUpload.MassUploadName</td>
                    <td>@{Html.RenderAction("Index", "MassUpload", new { acid = ViewBag.acid, massuploadid = @objMassUpload.MassUploadExcelId });}</td>
                    @*<td>
                        <a href="@Url.Action("DownloadTemplateExcel", "MassUpload", new { acid = ViewBag.acid, MassUploadId = @objMassUpload.MassUploadExcelId, Type = "xls" })">Download Template</a>
                    </td>*@
                    <td>
                        <a href="@Url.Action("DownloadTemplateExcel", "MassUpload", new { acid = ViewBag.acid, MassUploadId = @objMassUpload.MassUploadExcelId, Type = "xlsx" })">Download Template</a>
                    </td>
                </tr>
            }
            else 
            {
                String onclick = String.Format("openWindow('{0}')", Html.Encode("j/aFOxpM0M8="));
                 <tr>
                    <td>@objMassUpload.MassUploadName</td>
                    <td>@{Html.RenderAction("Index", "MassUpload", new { acid = ViewBag.acid, massuploadid = @objMassUpload.MassUploadExcelId });}</td>
                   @*<td>                       
                       <a href="@Url.Action("DownloadTemplateExcel", "MassUpload", new { acid = ViewBag.acid, MassUploadId = @objMassUpload.MassUploadExcelId, Type = "xls" })">Download Template</a>                      
                   </td>*@
                     <td>
                         @if (@objMassUpload.MassUploadExcelId == 6)
                         {
                             <a href="@Url.Action("DownloadPeriodEndPerformedExcel", "MassUpload", new { acid = ViewBag.acid })">Download Template with Data</a>
                         }
                         else
                         {
                            <a href="@Url.Action("AllMassUpload", "MassUpload", new { acid = 9 })" onclick="@onclick">Download Template with Data</a>
                         }
                     </td>
                </tr>        
            }
        }
    </table>
    <br/><br/>
    <div>Note: Download the excel template to be used for uploading data for selected Mass Upload type.</div>
</section>

<script type="text/javascript">
    function openWindow(param) {
        var newWin = window.open('../CommonSSRSReport/SSRSReportViewer.aspx?ReportID=' + param, 'SSRSReport',
                        'toolbar=0,location=0,menubar=0,status=0,scrollbars=yes,copyhistory=0,height=600,width=800,modal=yes,alwaysRaised=yes,resizable=1');
        if (newWin != null) {
            newWin.focus();
            void (0);

        }
    }
</script>
