@model InsiderTrading.Models.UserInfoModel
@{
    ViewBag.Title = "ViewDetails";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
             <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                    @Html.LabelFor(m => m.EmployeeId)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                    @Html.DisplayFor(m => m.EmployeeId)
                </div>
            </div>
           
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                    @Html.LabelFor(m => m.LoginID)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                    @Html.DisplayFor(m => m.LoginID) 
                </div>
            </div>
    </div>
<div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                    @Html.Label(InsiderTrading.Common.Common.getResource("usr_lbl_11426"))
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                    @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.MiddleName) @Html.DisplayFor(m => m.LastName)
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                    @Html.LabelFor(m => m.CompanyId)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                    @Html.DisplayFor(m => m.CompanyName)
                </div>
            </div>

 </div>
@{
    //check if to show following option to login user -- if do not show role then hide div
    if ((bool)ViewBag.show_not_login_user_details)
    {
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 row">
                    @Html.LabelFor(m => m.AssignedRole)
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="margin-left: -25px;">
                    @foreach (var item in Model.AssignedRole)
                    {
                        <div>@item.Value</div>
                    }
                </div>
            </div>
        </div>
    }
}
<div class="row"> 
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.AddressLine1)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.AddressLine1) @Html.DisplayFor(m => m.AddressLine2) @Html.DisplayFor(m => m.City) @Html.DisplayFor(m => m.StateName) @Html.DisplayFor(m => m.CountryName)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.PinCode)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.PinCode)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.CountryId)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.CountryName) 
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.EmailId)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.EmailId)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.MobileNumber)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.MobileNumber)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.PAN)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.PAN)
        </div>
    </div>
</div>
<div class="row">
    
</div>
<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                @Html.LabelFor(m => m.DateOfJoining)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
               @InsiderTrading.Common.Common.ApplyFormatting(Model.DateOfJoining, InsiderTrading.Common.ConstEnum.DataFormatType.Date)
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                @Html.LabelFor(m => m.DateOfBecomingInsider)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                @InsiderTrading.Common.Common.ApplyFormatting(Model.DateOfBecomingInsider, InsiderTrading.Common.ConstEnum.DataFormatType.Date)
            </div>
        </div>
    </div>
<div class="row">
           <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                   @Html.LabelFor(m => m.Category)
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
                   @Html.DisplayFor(m => m.CategoryName)
               </div>
           </div>
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.SubCategory)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.SubCategoryName)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.DesignationId)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.DesignationName)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.SubDesignationId)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.SubDesignationName)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.GradeId)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.GradeName)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.Location)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.Location)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.DIN)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.DIN)
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-12 form-group">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.LabelFor(m => m.DepartmentId)
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row">
            @Html.DisplayFor(m => m.DepartmentName)
        </div>
    </div>
</div>
@*<div class="row">*@
                @*<div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.AddressLine1)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.AddressLine1) @Html.DisplayFor(m => m.AddressLine2) @Html.DisplayFor(m => m.City) @Html.DisplayFor(m => m.StateName) @Html.DisplayFor(m => m.CountryName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.PinCode)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.PinCode)
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.MobileNumber)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.MobileNumber)
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.EmailId)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.EmailId)
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.PAN)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.PAN)
                    </div>
                </div>*@
                @*<div class="row">
                    @{
                        //check if to show following option to login user -- if do not show role then hide div 
                        if ((bool)ViewBag.show_not_login_user_details)
                        {
                            <div class="col-xs-4">
                                @Html.LabelFor(m => m.AssignedRole)
                            </div>
                            <div class="col-xs-8">
                                @Html.DropDownListFor(m => m.SubmittedRole, new MultiSelectList(Model.DefaultRole, "Key", "Value", Model.AssignedRole.Select(m => m.Key)), new
                                        {
                                            multiple = "multiple",
                                            @class = "form-control multiselect",
                                            @disabled = "disabled"
                                        })
                            </div>
                        }
                    }
                    
                </div>
            </div>*@

            @*<div class="col-xs-6">*@
                @*<div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.DateOfJoining)
                    </div>
                    <div class="col-xs-8">
                        @InsiderTrading.Common.Common.ApplyFormatting(Model.DateOfJoining, InsiderTrading.Common.ConstEnum.DataFormatType.Date)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.DateOfBecomingInsider)
                    </div>
                    <div class="col-xs-8">
                        @InsiderTrading.Common.Common.ApplyFormatting(Model.DateOfBecomingInsider, InsiderTrading.Common.ConstEnum.DataFormatType.Date)
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.Category)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.CategoryName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.SubCategory)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.SubCategoryName)
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.GradeId)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.GradeName)
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.DesignationId)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.DesignationName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.SubDesignationId)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.SubDesignationName)
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.Location)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.Location)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        @Html.LabelFor(m => m.DepartmentId)
                    </div>
                    <div class="col-xs-8">
                        @Html.DisplayFor(m => m.DepartmentName)
                    </div>
                </div>
            </div>*@
        @*</div>*@
    @*</div>*@
@*</div>*@
