@using InsiderTrading.Common
@{
    var SessionValue = TempData["NseDownloadFlag"];
    var ChkRestrictedListValue = TempData["RestrictedListValue"];
    ViewBag.CompanyLogoUrl = @Url.Content("~/") + "images/Logos/" + ((InsiderTrading.Common.LoginUserDetails)InsiderTrading.Common.Common.GetSessionValue((string)ConstEnum.SessionValue.UserDetails)).CompanyName + "/" + ((InsiderTrading.Common.LoginUserDetails)InsiderTrading.Common.Common.GetSessionValue((string)ConstEnum.SessionValue.UserDetails)).CompanyName + "_190X51.jpg";
    ViewBag.LoginUserSession = ((InsiderTrading.Common.LoginUserDetails)InsiderTrading.Common.Common.GetSessionValue(InsiderTrading.Common.ConstEnum.SessionValue.UserDetails));
    ViewBag.PasswordChangeMessage = ViewBag.LoginUserSession.PasswordChangeMessage;
    ViewBag.ErrorMessage = ViewBag.LoginUserSession.ErrorMessage;
    ViewBag.LoginUserSession.PasswordChangeMessage = "";
    ViewBag.LoginUserSession.ErrorMessage = "";
    InsiderTrading.Common.Common.SetSessionValue(InsiderTrading.Common.ConstEnum.SessionValue.UserDetails, ViewBag.LoginUserSession);
    string cookies_app_path = HttpContext.Current.Request.ApplicationPath;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Insider Trading</title>
    @Styles.Render("~/content/SW360")
    
    @Scripts.Render("~/bundles/jquerynew")
    <!--[if lt IE 9]<!-->
    @Scripts.Render("~/bundles/jqueryold")
    <!--<[endif]-->
    <!--[if gte IE 9]><!-->
    @*@Scripts.Render("~/bundles/jquerynew")*@
   
    <!--<![endif]-->
    <!--[if !IE]>-->
    @*@Scripts.Render("~/bundles/jquerynew")*@
   
    <!--<![endif]-->
    @Scripts.Render("~/bundles/SW360")

    @Styles.Render("~/content/jqueryfileupload")
    @Scripts.Render("~/bundles/jqueryfileupload")

    @Styles.Render("~/content/fullCalender")
    @Scripts.Render("~/bundles/fullCalender")
    @Scripts.Render("~/bundles/accounting")
    @Styles.Render("~/Content/css")


    @*@Styles.Render("~/Content/themes/base/css")*@

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Messages")
    @Scripts.Render("~/bundles/Resource")
    @Scripts.Render("~/bundles/dataTable")
    @*Styles.Render("~/Content/dataTable")*@
    @Scripts.Render("~/bundles/userDetails")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jQueryFixes")
    @Scripts.Render("~/bundles/jqueryprint")
    @Scripts.Render("~/bundles/documentDetails")
    @Scripts.Render("~/bundles/JqueryConfirm")
    @Scripts.Render("~/bundles/BootStrapSelect")
    @Styles.Render("~/bundles/BootStrapSelectStyles")
    @Styles.Render("~/content/NSEDownload")
    @Scripts.Render("~/bundles/crypto")
    @Scripts.Render("~/bundles/BrowserClose")
    @*<script src="~/Scripts/BrowserClose/BrowserClose.js"></script>*@
    <script src="~/Scripts/CryptoAlgorithm/CryptoAlgorithm.js"></script>
    @*<script src="~/LoginScript/jQuery/jquery-3.5.0.min.js"></script>*@
   


    <script type="text/javascript">


        $(window).load(function () {
            var GetSessionValue = "@SessionValue";
            if (GetSessionValue == "1") {
                $("#divLayout").addClass("DivLetter");
                $("body").addClass("loading");
            }
            else {
                $("#divLayout").removeClass("DivLetter");
            }
        });

        @functions{
            public string TokenHeaderValue()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + ":" + formToken;
            }
        }
        var RVToken = "@TokenHeaderValue()";

        function getRVToken() {
            return JSON.parse('{"@ConstEnum.AntiForgeryTokenHeader":"' + encodeURIComponent(RVToken) + '"}');
        }


        $(function () {
            try {
                $("#flash-messages").flashMessage();
            } catch (e) { }
        });


        $(document).ready(function () {

            $('#myModalNotificationPopup').modal({
                show: true
            });

            //$("#myModal").modal('show');

            $("#NotificationAlertClick").click(function () {
                // $("#Overlay").show();
                //$("body").addClass("noscroll");
                $.ajax({
                    url: "@Url.Action("DisplayAlert", "Notification", new { acid = InsiderTrading.Common.ConstEnum.UserActions.NOTIFICATION_LIST_RIGHT })",
                    method: "GET",
                    success: function (response) {
                        $("#NotificationAlertList").html(response);
                        // $("#NotificationPopup").show();

                        $("#NotificationAlertClick").attr("aria-expanded", "true");
                        $("#NotificationAlerts").removeClass();
                        $("#NotificationAlerts").addClass("dropdown notifications-menu alerts open");
                    }
                })
            });
            $("#Overlay").click(function () {
                // $("#NotificationPopup").hide();
                $("#NotificationAlertClick").attr("aria-expanded", "false");
                $("#NotificationAlerts").removeClass();
                $("#NotificationAlerts").addClass("dropdown notifications-menu alerts");
                // $("#Overlay").hide();
                $("body").removeClass("noscroll");
            });


        });


        $(document).ajaxError(function (event, jqXHR, ajaxSettings, thrownError) {

            if (jqXHR.status == 401) {
                showMessage("Session time out has occurred. You will be redirected to Login page.You will be required to Login again.", true);
                window.location.href = "@Url.Action("Login","Account")";
                return;
            }

        });

    </script>

    <style>
        body.noscroll {
            overflow: hidden;
        }
    </style>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }

        // $(document).ready(function () {

        //$("[type='submit']").click(function () {
        //ajaxindicatorstart('loading data.. please wait..');
        // return true;
        //});
        //});

        function ajaxindicatorstart(text) {
            if (jQuery('body').find('#resultLoading').attr('id') != 'resultLoading') {
                jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="/insidertrading/images/ajax-loader.gif"><div>' + text + '</div></div><div class="bg"></div></div>');
                jQuery('#resultLoading').css({
                    'width': '100%',
                    'height': '100%',
                    'position': 'fixed',
                    'z-index': '10000000',
                    'top': '0',
                    'left': '0',
                    'right': '0',
                    'bottom': '0',
                    'margin': 'auto'
                });
                jQuery('#resultLoading .bg').css({
                    'background': '#000000',
                    'opacity': '0.7',
                    'width': '100%',
                    'height': '100%',
                    'position': 'absolute',
                    'top': '0'
                });
                jQuery('#resultLoading>div:first').css({
                    'width': '250px',
                    'height': '75px',
                    'text-align': 'center',
                    'position': 'fixed',
                    'top': '0',
                    'left': '0',
                    'right': '0',
                    'bottom': '0',
                    'margin': 'auto',
                    'font-size': '16px',
                    'z-index': '10',
                    'color': '#ffffff'
                });
            }
            jQuery('#resultLoading .bg').height('100%');
            jQuery('#resultLoading').fadeIn(300);
            jQuery('body').css('cursor', 'wait');
        }

        function ajaxindicatorstop() {
            jQuery('#resultLoading .bg').height('100%');
            jQuery('#resultLoading').fadeOut(300);
            jQuery('body').css('cursor', 'default');
        }

        jQuery(document).ajaxStart(function () {
            //show ajax indicator
            // ajaxindicatorstart('loading data.. please wait..');
        }).ajaxStop(function () {
            //hide ajax indicator
            //ajaxindicatorstop();
        });

    </script>

    <script>
        $(window).load(function () {
            var GetRestrictedListValue = "@ChkRestrictedListValue";
            if (GetRestrictedListValue != "1") {
                $("body").addClass("loading");
                setTimeout(function () { $("body").removeClass("loading"); }, 500);
            }
            // Disable right click of mouse on page.
            document.oncontextmenu = document.body.oncontextmenu = function () { return false; }
        });
    </script>
</head>


<body onload="preventBack();" onpageshow="if (event.persisted) preventBack();" onunload="" class="skin-green">
    <input type="hidden" id="PasswordChangeMessage" value="@ViewBag.PasswordChangeMessage" />
    <input type="hidden" id="ErrorMessage" value="@ViewBag.ErrorMessage" />
    <input type="hidden" id="SetSelectedParentMenuURL" value="@Url.Action("SetSession", "Menu")" />
    <input type="hidden" id="SetSelectedChildMenuURL" value="@Url.Action("SetChildSession", "Menu")" />
    @Html.Hidden("cookies_app_path", cookies_app_path)
    <div id="Overlay" style="display: none;z-index:1200;background-color:rgba(0,0,0,0.8);width:100%;height:100%;position:absolute;left:0px;top:0px;"></div>
    @*<div id="NotificationPopup" style="display: none;z-index:1220;min-width:150px;width:250px;position:absolute;top:50px;left:350px;background-color:#fff">NotificationPopup will come here</div>*@
    <div id="divLayout" class="wrapper DivLetter">
        <header class="main-header">
            <!-- Logo -->
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <a href="@Url.Action("Index", "Home", new { acid= 0})" class="logo"><img src="~/images/MyInsider_Logo.png" style="max-height:51px;" class="img img-responsive"></a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="notifications-menu alerts" style="margin:0px">
                            <a href="@Url.Action("Index", "Home", new { acid = 0 })">
                                <p><i class="fa fa-home fa-4"></i></p>
                            </a>
                        </li>
                        <!-- Notifications -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @if (System.Configuration.ConfigurationManager.AppSettings["DisplayName"] == "LoginID")
                                {
                                    <p>
                                        Welcome : @{
                                    var username = ViewBag.LoginUserSession.UserName;
                                        } @username
                                    </p>
                                }
                                else if (System.Configuration.ConfigurationManager.AppSettings["DisplayName"] == "FirstName")
                                {
                                    <p>
                                        Welcome : @{
                                    var username = ViewBag.LoginUserSession.FirstName;
                                        } @username
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        Welcome : @{
                                    var username = ViewBag.LoginUserSession.FirstName + ' ' + ViewBag.LoginUserSession.LastName;
                                        } @username
                                    </p>
                                }
                                <small>Last Login: @InsiderTrading.Common.Common.ApplyFormatting(ViewBag.LoginUserSession.LastLoginTime, InsiderTrading.Common.ConstEnum.DataFormatType.DateTime12) <i class="fa fa-angle-down"></i></small>
                            </a>
                            <ul class="dropdown-menu" style="height:90px">
                                @*<li class="header">Heading</li>*@
                                <li>
                                    <!-- inner menu -->
                                    <ul class="menu">
                                        <li>
                                            <a href="@Url.Action("Index", "Home", new { acid = 0})">
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LogOut", "Account")">
                                                <i class="fa fa-sign-out"></i>
                                                Log out
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                @*<li class="footer"><a href="#">View all</a></li>*@
                            </ul>
                        </li>
                        @{
                            if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.NOTIFICATION_LIST_RIGHT))
                            {
                                <li class="dropdown notifications-menu alerts" id="NotificationAlerts">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="NotificationAlertClick">
                                        <p>
                                            @*<span class="notification-count">12</span>*@
                                            @{Html.RenderAction("NotificationCount", "Notification");}
                                            <i class="fa fa-bell-o"></i>
                                        </p>
                                    </a>
                                    @*<i class="fa fa-bell-o" style="font-size: 30px;color:#fff;padding-top:10px;cursor:pointer;"></i>*@
                                    <ul class="dropdown-menu" id="NotificationAlertList"></ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <img src="@ViewBag.CompanyLogoUrl" class="img img-responsive pull-right" style="max-height:51px;" />
            </nav>
        </header>
        <aside class="main-sidebar">
            @{Html.RenderAction("Index", "Menu");}
        </aside>
        <!-- Right side column -->
        <div class="content-wrapper">
            <!-- Main content -->
            @*<hr>*@
            <div id="successMessageFlyover" class="flyover flyover-centered alert-success success" style="display: none;">
                <button type="button" class="close closeSuccessFlyOver">&times;</button>
                @*<div style="padding: 10px 10px" id="successMessageFlyoverContent">
                        Data Saved Successfully.
                    </div>*@
            </div>
            <div id="MessageFlyover" class="flyover flyover-centered" style="display: none;">
                <button type="button" class="close closeSuccessFlyOver">&times;</button>
                <div style="padding: 10px 10px" id="MessageFlyoverContent">
                    <span id="WebPartCaptionWPQ2"></span>
                </div>
            </div>

            <div id="flash-messages" class="flyover flyover-centered alert-success success" style="display:none;">
                <a class="close closeSuccessFlyOver" href="#">&times;</a>
                <p style="padding: 10px 10px" id="successMessageFlyoverContent"></p>
            </div>


            <!-- Content Header (Page header) -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div>
    <button type="button" name="MainConfirm" id="MainConfirm" class="confirm btn btn-success hide"><i class="fa fa-save"></i></button>
    <div class="modal"><!-- Place at bottom of page --></div>
    @Scripts.Render("~/bundles/jQueryFixes")
    <script>
        $(document).ready(function () {
            $("#disc-4").fadeIn(0);
            // disclosures footer text swap
            $("#disc-btn-1").hover(function () {
                $("#disc-2").fadeOut(0);
                $("#disc-3").fadeOut(0);
                $("#disc-1").fadeIn(0);
                $("#disc-4").fadeOut(0);
            }, function () {
                $("#disc-1").fadeOut(0);
                $("#disc-4").fadeIn(0);
            });
            $("#disc-btn-2").hover(function () {
                $("#disc-1").fadeOut(0);
                $("#disc-3").fadeOut(0);
                $("#disc-2").fadeIn(0);
                $("#disc-4").fadeOut(0);
            }, function () {
                $("#disc-2").fadeOut(0);
                $("#disc-4").fadeIn(0);
            });
            $("#disc-btn-3").hover(function () {
                $("#disc-1").fadeOut(0);
                $("#disc-2").fadeOut(0);
                $("#disc-3").fadeIn(0);
                $("#disc-4").fadeOut(0);
            }, function () {
                $("#disc-3").fadeOut(0);
                $("#disc-4").fadeIn(0);
            });

            $(document).delegate(".closeSuccessFlyOver", 'click', function () {
                $(this).closest('div').fadeOut(20);
            });
        });

        $(function () {
            //Enable iCheck plugin for checkboxes
            //iCheck for checkbox and radio inputs
            $('.mailbox-messages input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //Enable check and uncheck all functionality
            $(".checkbox-toggle").click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                } else {
                    //Check all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("check");
                    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                }
                $(this).data("clicks", !clicks);
            });

            //Handle starring for glyphicon and font awesome
            $(".mailbox-star").click(function (e) {
                e.preventDefault();
                //detect type
                var $this = $(this).find("a > i");
                var glyph = $this.hasClass("glyphicon");
                var fa = $this.hasClass("fa");

                //Switch states
                if (glyph) {
                    $this.toggleClass("glyphicon-star");
                    $this.toggleClass("glyphicon-star-empty");
                }

                if (fa) {
                    $this.toggleClass("fa-star");
                    $this.toggleClass("fa-star-o");
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            try {
                $('#mail-list').slimScroll({
                    height: '250px'
                });
            } catch (e) { }
        });
    </script>
    <script type="text/javascript">
        try {
            $('#sandbox-container .dash-calendar').datepicker({
                toggleActive: true
            });
        } catch (e) { }
    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            if ($("#PasswordChangeMessage").val() != "") {
                showMessage($("#PasswordChangeMessage").val(), true);
            }
            if ($("#ErrorMessage").val() != "") {
                showMessage($("#ErrorMessage").val(), true);
            }
        });

    </script>


    <script>
        $(document).ready(function () {
            $(":text").blur(function () {
                if ($(":text").hasClass("input-validation-error")) {
                    $('#btnTradingWindowOtherSearch').attr("disabled", "disabled");
                    $('#btnSearch').attr("disabled", "disabled");
                    $('#btnEmployeeSearch').attr("disabled", "disabled");
                    $('#btnEmployeeNotInsiderSearch').attr("disabled", "disabled");
                    $('#btnTradingWindowOtherSearch').attr("disabled", "disabled");
                    $('#btnSearch').attr("disabled", "disabled");
                    $('#btnEmployeeSearch').attr("disabled", "disabled");
                    $('#btnRoleSearch').attr("disabled", "disabled");
                    $('#btnReportSearch').attr("disabled", "disabled");
                    
                    
                }
                else {
                    $('#btnTradingWindowOtherSearch').removeAttr("disabled");
                    $('#btnSearch').removeAttr("disabled");
                    $('#btnEmployeeSearch').removeAttr("disabled");
                    $('#btnEmployeeNotInsiderSearch').removeAttr("disabled");
                    $('#btnTradingWindowOtherSearch').removeAttr("disabled");
                    $('#btnSearch').removeAttr("disabled");
                    $('#btnEmployeeSearch').removeAttr("disabled");
                    $('#btnRoleSearch').removeAttr("disabled");
                    $('#btnReportSearch').removeAttr("disabled");
                    
                }
            });

            $(":button, input[type='reset']").click(function () {
                $('#btnTradingWindowOtherSearch').removeAttr("disabled");
                $('#btnSearch').removeAttr("disabled");
                $('#btnEmployeeSearch').removeAttr("disabled");
                $('#btnEmployeeNotInsiderSearch').removeAttr("disabled");
                $('#btnTradingWindowOtherSearch').removeAttr("disabled");
                $('#btnSearch').removeAttr("disabled");
                $('#btnEmployeeSearch').removeAttr("disabled");
                $('#btnRoleSearch').removeAttr("disabled");
                $('#btnReportSearch').removeAttr("disabled");
            });
        });
       
    </script>


    @{
        if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.NOTIFICATION_LIST_RIGHT) && ViewBag.LoginUserSession.ShowNotificationPopup)
        {
            Html.RenderAction("PopupNotification", "Notification");
        }
    }


</body>

</html>
