
@model InsiderTrading.Models.MCQModel

<script src="~/Scripts/MCQ/MCQQuestions.js"></script>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="QuestionModal" role="dialog">
        <form>
            <div class="modal-dialog" style="width:80%;">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#86C457;color:white">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title custom_align" id="myModalLabel">@InsiderTrading.Common.Common.getResource("com_lbl_54095")</h4>
                    </div>
                    <div class="modal-body">

                        @using (Html.BeginForm("MCQQuestions", "MCQSetting", new { acid = 1, formId = InsiderTrading.Common.ConstEnum.Code.frmSaveMCQQuestions }, FormMethod.Post, new { @id = "MCQQuestionsForm", role = "form", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })

                            <div class="panel-body">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div role="form">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Question)
                                                    @Html.TextAreaFor(m => m.Question, InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Question).ToString(), Html.ActivityResourceKeyFor(m => m.Question).ToString(), new { @class = "form-control", @id = "Question", style = " height: 150px;" }))
                                                    @Html.ValidationMessageFor(m => m.Question)

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div role="form">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Answer_Type)
                                                    @Html.DropDownListFor(m => m.Answer_Type, new SelectList(ViewBag.Answer_TypeDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Answer_Type).ToString(), Html.ActivityResourceKeyFor(m => m.Answer_Type).ToString(), new { @class = "form-control", @id = "Answer_Type" }))
                                                    @Html.ValidationMessageFor(m => m.Answer_Type)
                                                    @Html.LabelFor(m => m.Option_number)
                                                    @Html.DropDownListFor(m => m.Option_number, new SelectList(ViewBag.NoOfOptionsDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.Option_number).ToString(), Html.ActivityResourceKeyFor(m => m.Option_number).ToString(), new { @class = "form-control", @id = "Option_number" }))
                                                    @Html.ValidationMessageFor(m => m.Answer_Type)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div role="form">
                                                <div class="form-group">
                                                    <table id="tblOptions" class="table" cellpadding="0" cellspacing="0" style="width:100% ; ">
                                                        <tbody></tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div role="form">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            <div role="form">
                                                <div style="text-align:center">
                                                    <button type="submit" class="btn btn-success" id="btnMCQ_save"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("usr_btn_54088")</button>
                                                    <button type="button" class="btn btn-success" id="btnMCQ_Back"><i class="fa fa-save"></i> @InsiderTrading.Common.Common.getResource("usr_btn_54089")</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="divQuestionDetailsModal" style="display:none;"></div>
</div>

