<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div role="form">
            <div class="form-group">
                @*@Html.Hidden("1", "", new { @id = "1", gridtype = @ViewBag.GridType })*@
                <label for="EmployeeID">@InsiderTrading.Common.Common.getResource("rpt_grd_53114")</label>
                @Html.DropDownList("EmployeeID", new SelectList(ViewBag.EmployeeIDDropdown, "Key", "Value", ""), new { @class = "form-control", title = "Select", gridtype = @ViewBag.GridType, id = "1" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="EulaAcceptanceDateFrom">@InsiderTrading.Common.Common.getResource("rpt_grd_53115") From</label>
            <div class="form-group" id="sandbox-container">
                <div class="input-group date">
                    <input name="EulaAcceptanceDateFrom" class="form-control" id="2" type="text" value="" gridtype="@ViewBag.GridType" data-val-required="The Employee Id field is required." data-val="false">
                    <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="EulaAcceptanceDateTo">@InsiderTrading.Common.Common.getResource("rpt_grd_53115") To</label>
            <div class="form-group" id="sandbox-container">
                <div class="input-group date">
                    <input name="EulaAcceptanceDateTo" class="form-control" id="3" type="text" value="" gridtype="@ViewBag.GridType" data-val-required="The Employee Id field is required." data-val="false">
                    <span class="input-group-addon"><i class="icon icon-calender"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("View", Url.Action("UserEULAAcceptance", "Reports", new { acid = @ViewBag.acid }), new { @class = "gridtypecontrol", ctrtype = "link", gridcolumntype = @ViewBag.GridType + "_usr_grd_11073", param = "{'text':'','href':'" + Url.Action("UserEULAAcceptance", "Reports", new { acid = @ViewBag.acid }) +"','class':'display-icon icon icon-eye'}" })