@model InsiderTrading.Models.IDIndividualReportSearchViewModel

@{
    var ReportSearchArray = Html.Raw(Json.Encode(TempData["ReportSearchArray"]));
    TempData.Keep("ReportSearchArray");
}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div role="form">
            <div class="form-group">
                @Html.Hidden("1", "3", new { @id = "1", gridtype = @ViewBag.GridType })
                @Html.Hidden("2", ((object)@ViewBag.EmployeeId).ToString(), new { @id = "2", gridtype = @ViewBag.GridType })
                <input type="hidden" name="HeaderSummary" value="@ViewBag.ReportHeaderKeyValueData1JSON" />
                <input type="hidden" name="HeaderSummary" value="@ViewBag.ReportHeaderKeyValueData2JSON" />
                <label for="DematDetailsId">@InsiderTrading.Common.Common.getResource("rpt_lbl_19163")</label>
                @Html.DropDownList("DematDetailsId", new MultiSelectList(ViewBag.UserDmatDropDown, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "3" })
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div role="form">
            <div class="form-group">
                <label for="AccountHolder">@InsiderTrading.Common.Common.getResource("rpt_lbl_19110")</label>
                @*<input name="AccountHolder" class="form-control" id="4" type="text" value="" gridtype="@ViewBag.GridType" data-val-required="The Employee Id field is required." data-val="false">*@
                @Html.TextBoxFor(m => m.AccountHolder, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "4" })
                @Html.ValidationMessageFor(m => m.AccountHolder)
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div role="form">
            <div class="form-group">
                <label for="RelationTypeCodeId">@InsiderTrading.Common.Common.getResource("rpt_lbl_19164")</label>
                @Html.DropDownList("RelationTypeCodeId", new MultiSelectList(ViewBag.UserRelativesDropDown, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "5" })
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div role="form">
            <div class="form-group">
                <label for="SecurityTypeCodeId">@InsiderTrading.Common.Common.getResource("rpt_lbl_19165")</label>
                @Html.DropDownList("SecurityTypeCodeId", new MultiSelectList(ViewBag.SecutiryTypeDropDown, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "6" })
            </div>
        </div>
    </div>
</div>
@Html.Hidden("ReportSearchArray", ReportSearchArray)
@Scripts.Render("~/bundles/SearchResult")