@model InsiderTrading.Models.RestrictedListSearchReportSearchViewModel
@{
    string SearchDateFormat = "";
    SearchDateFormat = InsiderTrading.Common.Common.ApplyFormatting("", InsiderTrading.Common.ConstEnum.DataFormatType.Date);
}
@Html.Hidden("User", (int)ViewBag.loginUserId, new { id = "1", gridtype = @ViewBag.GridType })
@Html.Hidden("EmployeeID", "", new { id = "2", gridtype = @ViewBag.GridType })
@Html.Hidden("EmployeeName", "", new { id = "3", gridtype = @ViewBag.GridType })
@Html.Hidden("Department", "", new { id = "4", gridtype = @ViewBag.GridType })
@Html.Hidden("Designation", "", new { id = "5", gridtype = @ViewBag.GridType })
@Html.Hidden("Grade", "", new { id = "6", gridtype = @ViewBag.GridType })

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50358"))
            @*@Html.TextBox("CompanyName", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "7" })*@
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control ", gridtype = @ViewBag.GridType, id = "7" })
            @Html.ValidationMessageFor(m => m.CompanyName)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group" id="sandbox-container">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50359"))
            <div class="input-group date">
                @Html.TextBox("SearchDateFrom", SearchDateFormat, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "8" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group" id="sandbox-container">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50360"))
            <div class="input-group date">
                @Html.TextBox("SearchDateTo", SearchDateFormat, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "9" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50361"))
            @Html.DropDownList("TradingAllowed", new MultiSelectList(ViewBag.TradingAllowedOptionList, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "10" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50362"))
            @*@Html.TextBox("PreclearanceID", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "11" })*@
            @Html.TextBoxFor(m => m.PreClearanceID, new { @class = "form-control ", gridtype = @ViewBag.GridType, id = "11" })
            @Html.ValidationMessageFor(m => m.PreClearanceID)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group" id="sandbox-container">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50363"))
            <div class="input-group date">
                @Html.TextBox("PCLRequestDateFrom", SearchDateFormat, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "12" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group" id="sandbox-container">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50364"))
            <div class="input-group date">
                @Html.TextBox("PCLRequestDateTo", SearchDateFormat, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "13" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50365"))
            @Html.DropDownList("TransactionType", new MultiSelectList(ViewBag.TransactionTypeList, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "14" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50366"))
            @Html.DropDownList("SecurityType", new MultiSelectList(ViewBag.SecurityTypeList, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "15" })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.Label(InsiderTrading.Common.Common.getResource("rl_lbl_50367"))
            @Html.DropDownList("PreclearanceStatus", new MultiSelectList(ViewBag.RequestStatusList, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "16" })
        </div>
    </div>
</div>
