@model  InsiderTrading.Models.SecurityTransferReportEmployeeModel
@{
    ViewBag.Title = "Securities Transfer Report";
 
}


<input type="hidden" value="@ViewBag.Param1" id="1" gridtype="@ViewBag.GridType" />
<div class="row">
    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="SecurityTypeList">@InsiderTrading.Common.Common.getResource("rpt_lbl_19360")</label>
            @Html.DropDownList("SecurityTypeList", new MultiSelectList(ViewBag.SecurityTypeList, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "12" })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="DematAccountNumber">@InsiderTrading.Common.Common.getResource("rpt_lbl_19361")</label>
            @Html.TextBoxFor(m => m.DematAccountNumber, new { @class = "form-control ", id = "18", gridtype = @ViewBag.GridType })
            @Html.ValidationMessageFor(m => m.DematAccountNumber)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="DepositoryName">@InsiderTrading.Common.Common.getResource("rpt_lbl_19362")</label>
            @Html.TextBoxFor(m => m.DepositoryName, new { @class = "form-control ", id = "17", gridtype = @ViewBag.GridType })
            @Html.ValidationMessageFor(m => m.DepositoryName)
        </div>
    </div>

</div>
<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group" id="sandbox-container">
            <label>@InsiderTrading.Common.Common.getResource("rpt_lbl_19363")</label>
            @{
                string FromDate = "";
                if (Model != null)
                {
                    FromDate = InsiderTrading.Common.Common.ApplyFormatting(Model.TransferFromDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date);

                }
            }
            <div class="input-group date">
                @Html.TextBoxFor(m => m.TransferFromDate, new { @class = "form-control ", id = "13", gridtype = @ViewBag.GridType })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

        <div class="form-group" id="sandbox-container">
            <label>@InsiderTrading.Common.Common.getResource("rpt_lbl_19364")</label>
            @{
                string ToDate = "";
                if (Model != null)
                {
                   ToDate = InsiderTrading.Common.Common.ApplyFormatting(Model.TransferToDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date);
                }
            }
            <div class="input-group date">
                @Html.TextBoxFor(m => m.TransferToDate, new { @class = "form-control ", id = "14", gridtype = @ViewBag.GridType })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="DPID">@InsiderTrading.Common.Common.getResource("rpt_lbl_19365")</label>
            @Html.TextBoxFor(m => m.DPID, new { @class = "form-control ", id = "19", gridtype = @ViewBag.GridType })
            @Html.ValidationMessageFor(m => m.DPID)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="DepositoryParticipantName">@InsiderTrading.Common.Common.getResource("rpt_lbl_19366")</label>
            @Html.TextBoxFor(m => m.DepositoryParticipantName, new { @class = "form-control ", id = "21", gridtype = @ViewBag.GridType })
            @Html.ValidationMessageFor(m => m.DepositoryParticipantName)
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="TransferFromQuantity">@InsiderTrading.Common.Common.getResource("rpt_lbl_19367")</label>
            @Html.TextBoxFor(m => m.TransferFromQuantity, new { @class = "form-control two-digits-negative ", id = "15", gridtype = @ViewBag.GridType })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="TransferToQuantity">@InsiderTrading.Common.Common.getResource("rpt_lbl_19368")</label>
            @Html.TextBoxFor(m => m.TransferToQuantity, new { @class = "form-control two-digits-negative ", id = "16", gridtype = @ViewBag.GridType })
        </div>
    </div>
</div>
