@model InsiderTrading.Models.SecurityReportSearchViewModel
@{
    ViewBag.Title = "Securities Transfer Report";
    ViewBag.GridType = 114099;
}


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="EmployeeID">@InsiderTrading.Common.Common.getResource("rpt_lbl_19351")</label>
            @*@Html.TextBox("EmployeeID", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "2" })*@
            @Html.TextBoxFor(m => m.EmployeeID, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "2" })
            @Html.ValidationMessageFor(m => m.EmployeeID)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="EmployeeName">@InsiderTrading.Common.Common.getResource("rpt_lbl_19352")</label>
            @*@Html.TextBox("EmployeeName", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "3" })*@
            @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "3" })
            @Html.ValidationMessageFor(m => m.EmployeeName)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="Designation">@InsiderTrading.Common.Common.getResource("rpt_lbl_19353")</label>
            @*@Html.TextBox("Designation", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "9" })*@
            @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "9" })
            @Html.ValidationMessageFor(m => m.Designation)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="Grade">@InsiderTrading.Common.Common.getResource("rpt_lbl_19354")</label>
            @*@Html.TextBox("Grade", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "8" })*@
            @Html.TextBoxFor(m => m.Grade, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "8" })
            @Html.ValidationMessageFor(m => m.Grade)
            @*@Html.DropDownList("Grade", new MultiSelectList(ViewBag.GradeList, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "8" })*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="Location">@InsiderTrading.Common.Common.getResource("rpt_lbl_19355")</label>
            @*@Html.TextBox("Location", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "10" })*@
            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "10" })
            @Html.ValidationMessageFor(m => m.Location)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="Department">@InsiderTrading.Common.Common.getResource("rpt_lbl_19356")</label>
            @*@Html.TextBox("Department", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "11" })*@
            @Html.TextBoxFor(m => m.Department, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "11" })
            @Html.ValidationMessageFor(m => m.Department)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="Company">@InsiderTrading.Common.Common.getResource("rpt_lbl_19357")</label>
            @Html.DropDownList("Company", new MultiSelectList(ViewBag.CompanyList, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "5" })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="UserType">@InsiderTrading.Common.Common.getResource("rpt_lbl_19358")</label>
            @Html.DropDownList("UserType", new MultiSelectList(ViewBag.UserTypeList, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "23" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="PAN">@InsiderTrading.Common.Common.getResource("rpt_lbl_19359")</label>
            @*@Html.TextBox("PAN", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "6" })*@
            @Html.TextBoxFor(m => m.PAN, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "6" })
            @Html.ValidationMessageFor(m => m.PAN)

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="SecurityTypeList">@InsiderTrading.Common.Common.getResource("rpt_lbl_19360")</label>
            @Html.DropDownList("SecurityTypeList", new MultiSelectList(ViewBag.SecurityTypeList, "Key", "Value", ""), new { @class = "form-control selectpicker", title = "Select", multiple = "multiple", gridtype = @ViewBag.GridType, id = "12" })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="DematAccountNumber">@InsiderTrading.Common.Common.getResource("rpt_lbl_19361")</label>
            @*@Html.TextBox("DematAccountNumber", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "18" })*@
            @Html.TextBoxFor(m => m.DematAccountNumber, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "18" })
            @Html.ValidationMessageFor(m => m.DematAccountNumber)
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="DepositoryName">@InsiderTrading.Common.Common.getResource("rpt_lbl_19362")</label>
            @*@Html.TextBox("DepositoryName", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "17" })*@
            @Html.TextBoxFor(m => m.DepositoryName, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "17" })
            @Html.ValidationMessageFor(m => m.DepositoryName)
        </div>
    </div>

</div>
<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group" id="sandbox-container">
            <label>@InsiderTrading.Common.Common.getResource("rpt_lbl_19363")</label>
            @{
                string FromDate = "";
    //if (Model != null)
    //{
    //    FromDate = InsiderTrading.Common.Common.ApplyFormatting(Model.ApplicableFromDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date);

    //}
            }
            <div class="input-group date">
                @Html.TextBox("TransferFromDate", FromDate, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "13" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

        <div class="form-group" id="sandbox-container">
            <label>@InsiderTrading.Common.Common.getResource("rpt_lbl_19364")</label>
            @{
                string ToDate = "";
    //if (Model != null)
    //{
    //    ToDate = InsiderTrading.Common.Common.ApplyFormatting(Model.ApplicableToDate, InsiderTrading.Common.ConstEnum.DataFormatType.Date);

    //}
            }
            <div class="input-group date">
                @Html.TextBox("TransferToDate", ToDate, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "14" })
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="DPID">@InsiderTrading.Common.Common.getResource("rpt_lbl_19365")</label>
            @*@Html.TextBox("DPID", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "19" })*@
            @Html.TextBoxFor(m => m.DPID, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "19" })
            @Html.ValidationMessageFor(m => m.DPID)
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="DepositoryParticipantName">@InsiderTrading.Common.Common.getResource("rpt_lbl_19366")</label>
            @*@Html.TextBox("DepositoryParticipantName", null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "21" })*@
            @Html.TextBoxFor(m => m.DepositoryParticipantName, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "21" })
            @Html.ValidationMessageFor(m => m.DepositoryParticipantName)
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="TransferFromQuantity">@InsiderTrading.Common.Common.getResource("rpt_lbl_19367")</label>
            @Html.TextBox("TransferFromQuantity", null, new { @class = "form-control two-digits-negative", gridtype = @ViewBag.GridType, id = "15" })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="TransferToQuantity">@InsiderTrading.Common.Common.getResource("rpt_lbl_19368")</label>
            @Html.TextBox("TransferToQuantity", null, new { @class = "form-control two-digits-negative", gridtype = @ViewBag.GridType, id = "16" })
        </div>
    </div>
</div>