@model InsiderTrading.Models.WeekForMonth
@{
    ViewBag.Title = "Trading Windows Event Calender ";
}
@Html.AntiForgeryToken()
<section class="content">
    <div class="row BlockEventCalnder">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <input type="hidden" id="PageFrom" name="PageFrom" value="@ViewBag.PageFrom" />
                    <div class="form-horizontal col-xs-12" id="tradingWindowCalender">
                        @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
                        &nbsp;&nbsp;
                        <div class="box box-chart box-trading">
                                <div class="box-header with-border">
                                    <h3 class="box-title">@InsiderTrading.Common.Common.getResource("rul_lbl_15360")</h3>
                                    <button type="button"  class="btn btn-sm btn-success pull-right" id="ViewAll">@InsiderTrading.Common.Common.getResource("rul_btn_15391")</button>
                                </div>
                               <div class="col-xs-12 box-body" id="divCalender">
                                
                                <div id="divCalenderPartial" class="col-xs-12">
                               
                                </div>
                            </div>
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        @Html.Hidden("hidCurrentMonth", (object)ViewBag.CurrentMonth)
        @Html.Hidden("hidCurrentyear", (object)ViewBag.CurrentYear)
    
    <input type="hidden" value="@ViewBag.ViewCalenderAction" id="ViewCalenderAction" name="ViewCalenderAction" />
</section>
@Scripts.Render("~/bundles/TradingWindowsEventOther")
@Scripts.Render("~/Scripts/dist/js/custom.js")
@Html.Hidden("calender", Url.Action("Calender", "TradingWindowsOther"))
@Html.Hidden("viewall", Url.Action("ViewAll", "TradingWindowsOther"))

