@model InsiderTrading.Models.PreclearanceOSSearchViewModel
@{
    ViewBag.Title = "CoListOS";
}

<section class="content-header">

    @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
    <h1>@InsiderTrading.Common.Common.getResource("dis_ttl_53033")</h1>

</section>
<!-- Main content -->

<section class="content  search" gridtype="@ViewBag.GridType">
    <div class="row" style="margin: 0px 0px -20px 0px;">
        <button type="button" data-toggle="collapse" class="btn btn-success" data-target="#filter-panel">
            <i class="fa fa-search"> @InsiderTrading.Common.Common.getResource("com_btn_14005")</i>
        </button>
        <button type="button" class="btn btn-success oth-all-ins oth-all-emp oth-sel-ins" id="btnApprove" data-toggle="modal" data-target="#myModalApprove">Approve</button>
        <button type="button" class="btn btn-danger oth-all-ins oth-all-emp oth-sel-ins" id="btnReject" data-toggle="modal" data-target="#myModalReject">Reject</button>
        <div class="div-spacer"></div><br />
        <input type="hidden" gridtype="@ViewBag.GridType" />
        <form role="form">
            <div id="filter-panel" class="collapse filter-panel">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card panel-default">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17507"))
                                            @Html.TextBoxFor(m => m.EmployeeId, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "1" })
                                            @Html.ValidationMessageFor(m => m.EmployeeId)
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("dis_grd_53036"))
                                            @Html.TextBoxFor(m => m.CompanyName, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "txtCompany", data_url = Url.Action("GetList", "RestrictedList") })
                                            <input type="hidden" name="2" id="2" gridtype="@ViewBag.GridType" />
                                            @Html.ValidationMessageFor(m => m.CompanyName)
                                        </div>
                                    </div>
                                    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17509"))
                                                @Html.TextBox("Designation", "", new { @class = "form-control ui-autocomplete input", gridtype = @ViewBag.GridType, id = "3", autocomplete = "off" })
                                                @Html.Hidden("DesignationAC", "yes")
                                                @Html.Hidden("DesignantionListURL", Url.Action("GetDesignationList", "PreclearanceRequest"))
                                            </div>
                                        </div>*@
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17504"))
                                            @Html.TextBoxFor(m => m.PreClearanceID, null, new { @class = "form-control", gridtype = @ViewBag.GridType, id = "4" })
                                            @Html.ValidationMessageFor(m => m.PreClearanceID)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17505"))
                                            @Html.DropDownListFor(m => m.RequestStatus, new SelectList(ViewBag.RequestStatusList, "Key", "Value", ""), new { @class = "form-control", gridtype = @ViewBag.GridType, id = "5" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17506"))
                                            @Html.DropDownListFor(m => m.TransactionType, new SelectList(ViewBag.TransactionTypeList, "Key", "Value", ""), new { @class = "form-control", gridtype = @ViewBag.GridType, id = "6" })
                                        </div>
                                    </div>
                                    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17278"))
                                                @Html.DropDownList("TradeDetails", new SelectList(ViewBag.TradeDetailsList, "Key", "Value", ""), new { @class = "form-control", gridtype = @ViewBag.GridType, id = "7" })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17279"))
                                                @Html.DropDownList("DisclosureDetailsSoftcopy", new SelectList(ViewBag.DisclosureDetailsList, "Key", "Value", ""), new { @class = "form-control", gridtype = @ViewBag.GridType, id = "8" })
                                            </div>
                                        </div>*@
                                </div>
                                @*<div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                @Html.CheckBox("ContinuousDisclosureRequired", new { @class = "Checkbox cr-check", gridtype = @ViewBag.GridType, id = "20" })
                                                &nbsp;&nbsp; @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17310"))
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <button type="button" class="btn btn-success" id="btnSearch"><i class="fa fa-search"></i> @InsiderTrading.Common.Common.getResource("com_btn_14005")</button>
                                        <button type="button" class="btn btn-success" id="btnReset" dt_name="btnReset" dt_gridtype="@ViewBag.GridType"><i class="fa fa-undo"></i> @InsiderTrading.Common.Common.getResource("com_btn_14006")</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="div-spacer"></div>
    <label id="Errorlbl" style="color: #B94A48 !important; font-weight: 400;"></label>
    @if (ViewData["inp_sParam"] == null)
    {
        Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType, btnSearch = "btnSearch", sSortCol = "" });
    }
    else
    {
        Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType, inp_sParam = @ViewData["inp_sParam"], btnSearch = "btnSearch", sSortCol = "" });
    }
    @*<section class="content-header">
            <h5>PLEASE NOTE:</h5>
            <h5>
                1.In "Trading Details Submission" column, the pending days indicates the days within which this pre clearance request is required to be closed.
            </h5>
            <h5>
                2.Trade details are required to be submitted within 2 days from the date of your transaction.
            </h5>
        </section>*@
    <div class="div-spacer"></div><br />
    <div class="form-group">
    </div>
    <div class="div-spacer"></div>
    <div class="div-spacer"></div>
</section><!-- /.content -->

@Html.Hidden("View", Url.Action("View", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.PreclearanceRequestListCOOtherSecurities }))
@Html.Hidden("DownloadFormE", Url.Action("DownloadFormE", "PreclearanceRequestNonImplCompany", new { acid = InsiderTrading.Common.ConstEnum.UserActions.PreclearanceRequestListCOOtherSecurities }))
@Html.Hidden("SoftcopyView", Url.Action("DownloadFormBOS", "InsiderInitialDisclosure", null))
@*@Html.Hidden("HardcopyPending", Url.Action("UploadHardDocument", "TradingTransaction_OS", new { acid = InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE_LETTER_SUBMISSION, nDisclosureTypeCodeId = InsiderTrading.Common.ConstEnum.Code.DisclosureTypeContinuous }))*@
@Html.Hidden("HardcopyPending", Url.Action("UploadHardDocument", "TradingTransaction_OS", new { acid = InsiderTrading.Common.ConstEnum.UserActions.PreclearanceRequestListCOOtherSecurities, nDisclosureTypeCodeId = InsiderTrading.Common.ConstEnum.Code.DisclosureTypeContinuous }))

@Html.Hidden("HardcopyView", Url.Action("ViewHardCopy", "TradingTransaction_OS", new { acid = InsiderTrading.Common.ConstEnum.UserActions.PreclearanceRequestListCOOtherSecurities, nDisclosureTypeCodeId = InsiderTrading.Common.ConstEnum.Code.DisclosureTypeContinuous }))
@Html.Hidden("TradingDetailsPending", Url.Action("Index", "TradingTransaction_OS"))
@Html.Hidden("NotTradedView", Url.Action("ViewNotTraded", "PreclearanceRequestNonImplCompany"))
@Html.Hidden("Checkbox", "checkbox", new { @class = "gridtypecontrol", ctrtype = "checkbox", gridcolumntype = 114119 + "_usr_grd_11228", param = "{'type':'checkbox','id':'approveRejectChkbox'}" })

<div class="container">
    <div class="modal fade" id="myModalApprove" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Approve Preclearance Request</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                @Html.Label("Reason For Approval")
                                @Html.DropDownList("Reason For Approval", new SelectList(ViewBag.ReasonForApproveDropDown, "Key", "Value", ""), new { @class = "form-control", id = "reasonForApprovalddl" })
                                <label id="ddlErrorlbl" style="color: #B94A48 !important; font-weight:400;"></label><br />
                                @Html.Label("Description For Approval")
                                @Html.TextArea("DescriptionForApproval", new { @class = "form-control", id = "reasonForApprovalText" })
                                <label id="ReasonForApprovalErrorlbl" style="color: #B94A48 !important; font-weight: 400;"></label>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" id="btnApproveSubmit" class="btn btn-success oth-all-ins oth-all-emp oth-sel-ins">Approve</button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myModalReject" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reject Preclearance Request</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                @Html.Label("Reason For Rejection")

                                @Html.TextArea("ReasonForRejection", new { @class = "form-control", style = "border-color:#d2d6de !important;", id = "reasonForRejectionText" })
                                <label id="ReasonForRejectionErrorlbl" style="color: #B94A48 !important; font-weight: 400;"></label>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" id="btnRejectSubmit" class="btn btn-success oth-all-ins oth-all-emp oth-sel-ins">Reject</button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
        function SearchCompany(cmpname) {
            $(function () {
                var CompanyName = cmpname;
                $.ajax({
                    url: '@Url.Content("~/RestrictedList/GetExistNSEBSEDetailsJSON/")',
                    type: "GET",
                    data: { CompanyName: CompanyName },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        debugger
                        if (data.agent != 0) {
                            $("#txtCompany").val(data[0].CompanyName);
                            $("#2").val(data[0].RLCompanyId);
                        }
                    }
                });
            });
        }

        $(function () {
            $('#txtCompany').autocomplete({
                minLength: 0,
                source: function (request, response) {
                    var url = $(this.element).data('url');

                    $.getJSON(url, { term: request.term }, function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.CompanyName,
                                value: item.CompanyName
                            }
                        }));
                    })
                },
                select: function (event, ui) {
                    debugger
                    $(event.target).val('');
                    var cmpname = ui.item.label;
                    SearchCompany(cmpname)
                },
                change: function (event, ui) {
                    debugger
                    if (!ui.item) {
                        $(event.target).val('');
                    }
                }
            });
        })

        $('#btnReset').click(function () {
            $("#2").val(null);
        });

        $('#btnApprove').click(function () {
            $('#ddlErrorlbl')[0].innerText = '';
            $('#ReasonForApprovalErrorlbl')[0].innerText = '';

            //Validate if atleast one checkbox is selected or not
            var counter = 0;
            if ($('table[name="DatatableGrid"][gridtype=114119]').length > 0) {
                var datatable_1 = $('table[name="DatatableGrid"][gridtype=114119]').dataTable();
                datatable_1.$('tbody tr').find('td:first input').each(function () {
                    if (this.checked == true) {
                        counter++;
                    }
                });
                if (counter == 0) {
                    $('#Errorlbl')[0].innerText = "Please select atleaset one checkbox";
                    return false;
                }
                else {
                    $('#Errorlbl')[0].innerText = "";
                    return true;
                }
            }
        });

        $('#btnReject').click(function () {
            $('#ReasonForRejectionErrorlbl')[0].innerText = '';

            //Validate if atleast one checkbox is selected or not
            var counter = 0;
            if ($('table[name="DatatableGrid"][gridtype=114119]').length > 0) {
                var datatable_1 = $('table[name="DatatableGrid"][gridtype=114119]').dataTable();
                datatable_1.$('tbody tr').find('td:first input').each(function () {
                    if (this.checked == true) {
                        counter++;
                    }
                });
                if (counter == 0) {
                    $('#Errorlbl')[0].innerText = "Please select atleaset one checkbox";
                    return false;
                }
                else {
                    $('#Errorlbl')[0].innerText = "";
                    return true;
                }
            }
        });

        $('#btnApproveSubmit').click(function () {
            var isValid = true;
            arrSelectedElement = new Array();
            arrSelectedElement[0] = new Array();
            arrSelectedElement[1] = new Array();
            var arrData = {};
            var j = 0;
            var datatable_1 = null;
            if ($('#reasonForApprovalddl').val() == 0) {
                $('#ddlErrorlbl')[0].innerText = "Please select reason for approval";
                isValid = false;
            }
            if ($('#reasonForApprovalText').val() == "") {
                $('#ReasonForApprovalErrorlbl')[0].innerText = "Please enter Description for approval";
                isValid = false;
            }
            if (!isValid) {
                return false;
            }
            else {
                if ($('table[name="DatatableGrid"][gridtype=114119]').length > 0) {
                    datatable_1 = $('table[name="DatatableGrid"][gridtype=114119]').dataTable();
                    datatable_1.$('tbody tr').find('td:first input:checked').parents('tr').each(function () {
                        var disclousreData = datatable_1.fnGetData(this);
                        if (arrSelectedElement[0].indexOf(disclousreData.PreclearanceRequestId) == -1) {
                            arrSelectedElement[0].push(disclousreData.PreclearanceRequestId);
                        }
                        arrSelectedElement[1].push(disclousreData.DisplaySequenceNo);
                    });
                }
                arrData['arrSelectedElement'] = JSON.stringify(arrSelectedElement);
                arrData['ReasonForApprovalCodeId'] = $('#reasonForApprovalddl').val();
                arrData['ReasonForApproval'] = $('#reasonForApprovalText')[0].value;

                $.ajax({
                    url: '@Url.Action("ApprovePreclearanceRequest", "PreclearanceRequestNonImplCompany")',
                    method: 'POST',
                    headers: getRVToken(),
                    data: arrData,
                    datatype: 'json',
                    success: function (data) {
                        if (data['status']) {
                            showMessage(data.Message['success'], true);
                        }
                        else {
                            showMessage(data.Message['error'], false);
                        }
                        location.reload();
                        $('#myModalApprove').modal('hide');
                    }
                });
            }
        });

        $('#btnRejectSubmit').click(function () {
            var isValid = true;
            arrSelectedElement = new Array();
            arrSelectedElement[0] = new Array();
            arrSelectedElement[1] = new Array();
            var arrData = {};
            var j = 0;
            var datatable_1 = null;
            if ($('#reasonForRejectionText').val() == "") {
                $('#ReasonForRejectionErrorlbl')[0].innerText = "Please enter Description for Rejection";
                isValid = false;
            }
            if (!isValid) {
                return false;
            }
            else {
                if ($('table[name="DatatableGrid"][gridtype=114119]').length > 0) {
                    datatable_1 = $('table[name="DatatableGrid"][gridtype=114119]').dataTable();
                    datatable_1.$('tbody tr').find('td:first input:checked').parents('tr').each(function () {
                        var disclousreData = datatable_1.fnGetData(this);
                        if (arrSelectedElement[0].indexOf(disclousreData.PreclearanceRequestId) == -1) {
                            arrSelectedElement[0].push(disclousreData.PreclearanceRequestId);
                        }
                        arrSelectedElement[1].push(disclousreData.DisplaySequenceNo);
                    });
                }
                arrData['arrSelectedElement'] = JSON.stringify(arrSelectedElement);
                arrData['ReasonForRejection'] = $('#reasonForRejectionText')[0].value;

                $.ajax({
                    url: '@Url.Action("RejectPreclearanceRequest", "PreclearanceRequestNonImplCompany")',
                    method: 'POST',
                    headers: getRVToken(),
                    data: arrData,
                    datatype: 'json',
                    success: function (data) {
                        if (data['status']) {
                            showMessage(data.Message['success'], true);
                        }
                        else {
                            showMessage(data.Message['error'], false);
                        }
                        location.reload();
                        $('#myModalReject').modal('hide');
                    }
                });
            }
        });
</script>

