@model InsiderTrading.Models.UsersPolicyDocumentModel
@{
    ViewBag.Title = InsiderTrading.Common.Common.getResource("rul_ttl_15365");
}

<section class="content-header">    
    @Html.AntiForgeryToken()
    <h1>
        @ViewBag.Title
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body search" gridtype="@ViewBag.GridType">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">                              
                                @Html.Hidden("1", (object)@ViewBag.UserInfoId, new { @id = "1", gridtype = @ViewBag.GridType })
                            </div>
                        </div>
                    </div>

                    <div class="alert" style="display: none;" name="ErrorMessage" gridtype="@ViewBag.GridType"></div>
                    @{Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType, btnSearch = "", sSortCol = "0", acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_POLICY_DOCUMENT_LIST });}
                    @{
                        string from = (ViewBag.show_cancel_btn) ? "disclosure" : "";
                        @Html.Hidden("View", Url.Action("DisplayPolicy", "InsiderInitialDisclosure", new { CalledFrom = "View" }), new { @class = "gridtypecontrol", ctrtype = "link", gridcolumntype = @ViewBag.GridType + "_usr_grd_11073", param = "{'text':'','href':'" + Url.Action("DisplayPolicy", "InsiderInitialDisclosure", new { CalledFrom = "ViewAgreeList", frm = from, acid = ViewBag.UserAction }) + "&PolicyDocumentID=<PolicyDocumentId>&DocumentID=<DocumentId>','class':'display-icon icon icon-eye'}" })                      
                    }
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    @if (ViewBag.show_cancel_btn)
    {
        <div>
            <a class="btn btn-success" href='@Url.Action("Index", "InsiderInitialDisclosure", new { acid=InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_INITIAL_DISCLOSURE})' role="button"> @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
        </div>  
    }
</section>