@model InsiderTrading.Models.PasswordManagementModel

@{
    ViewBag.Title = "Change Password";
    InsiderTrading.Models.PasswordConfigModel passwordModel = new InsiderTrading.Models.PasswordConfigModel();
    passwordModel = (InsiderTrading.Models.PasswordConfigModel)TempData["PasswordConfigModel"];
    TempData.Keep();
}


@using (Html.BeginForm("ChangePassword", "UserDetails", new { ReturnUrl = ViewBag.ReturnUrl, formId = InsiderTrading.Common.ConstEnum.Code.frmChangePassword, acid = InsiderTrading.Common.ConstEnum.UserActions.CHANGE_PASSWORD }, FormMethod.Post, new { @autocomplete = "off", role = "form" }))
 {

@Html.AntiForgeryToken()
<section class="content-header">
    <h1>@InsiderTrading.Common.Common.getResource("usr_ttl_11279")</h1>
</section>

    <section class="content">
        @if (@ViewBag.LoginError != null && @ViewBag.LoginError != "")
        {
            <div class="alert alert-danger">@ViewBag.LoginError</div>
        }
        @if (ViewBag.IsChangePassword == true)
        {
            <div class="alert alert-danger">@ViewBag.PasswordExpireAlert</div>
        }

        <div class="row">
            <div class="col-lg-12">
                <div class="card panel-default">
                    <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OldPassword, new { @class = "login-label" })
                                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.OldPassword)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">   
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NewPassword, new { @class = "login-label" })
                                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NewPassword)
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                         <div class="form-group">
                                             @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "login-label" })
                                             @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                                             @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                         </div>
                                     </div>
                                </div>
                                <div class="row">
                                     <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                         <button type="submit" class="btn btn-success" data-loading-text="Saving" id="Create" name="Create" autocomplete="off"><i class="fa fa-save"></i>     @InsiderTrading.Common.Common.getResource("com_btn_14017")</button>
                                         @*<button type="submit" name="Cancel" class="btn btn-success cancel" id="Cancel" data-dismiss="modal"><i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14011")</button>*@
                                     </div>
                                </div>
                                     
                                 </div>
                    </div>
                </div>
            </div>
        <input type="hidden" name="authorization" value="Create:@InsiderTrading.Common.ConstEnum.UserActions.CHANGE_PASSWORD" />

                           
    </section>
    <div>
        @Html.Partial("~/Views/Account/_PasswordPolicyNote.cshtml", passwordModel)
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
@*@Scripts.Render("~/bundles/PasswordManagement")*@
<script src="~/LoginScript/ChangePassword/ChangePassword-bl.js"></script>