
@model InsiderTrading.Models.SecurityTransferLogModel

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.Label("Security Type")
            @Html.DropDownListFor(m => m.SecurityTypeCodeID, new SelectList(ViewBag.SecurityTypeList, "Key", "Value", ""), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SecurityTypeCodeID)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="form-group">
            @Html.Label("Demat Account Number")
            @Html.DropDownListFor(m => m.FromDEMATAcountID, new SelectList(ViewBag.FromDEMATAcountList, "Key", "Value", ""), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FromDEMATAcountID)
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="display:none;" id="divbalance">
        @*<div class="form-group">
                <br/>

                Total availbale Quantity : 1000
            </div>*@
    </div>
</div>
<hr style="border-top: 1px solid #8c8b8b;">
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="display:none;" id="divToWhichDMATAccNumber">
        <div class="form-group">
            @Html.Label("To which Demat Account Number")
            @Html.DropDownListFor(m => m.ToDEMATAcountID, new SelectList(ViewBag.ToDEMATAcountList, "Key", "Value", ""), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ToDEMATAcountID)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="display:none;" id="divOtherThanEsopQty">
        <div class="form-group">
            @Html.Label("Other than ESOPs")
            @Html.TextBoxFor(m => m.TransferQuantity, new { @class = "form-control two-digits-negative" })
            @Html.ValidationMessageFor(m => m.TransferQuantity)
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="display:none;" id="divEsopQty">
        <div class="form-group">
            @Html.Label("ESOPs")
            @Html.TextBoxFor(m => m.TransferESOPQuantity, new { @class = "form-control two-digits-negative" })
            @Html.ValidationMessageFor(m => m.TransferESOPQuantity)
        </div>
    </div>
</div>