@model InsiderTrading.Models.SecurityTransferLogModel
@{
    ViewBag.Title = "TransferView";
}
@using (Html.BeginForm("TransferBalancesadas", "SecurityTransfer", new { ReturnUrl = ViewBag.ReturnUrl,formId=109 }, FormMethod.Post, new { @class = "", role = "form", @autocomplete = "off", id = "frmSecurityTransfer" }))
{
    @Html.AntiForgeryToken()
    <section class="content-header">
        <h1>@InsiderTrading.Common.Common.getResource("usr_ttl_11443")</h1>
    </section>
    <section class="content">
        @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="controls">
                                        @Html.RadioButtonFor(model => model.TransferFor, InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestForSelf, Model.TransferFor == InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestForSelf ? new { Checked = "checked" } : null) @InsiderTrading.Common.Common.getResource("usr_lbl_11444")
                                       &nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.RadioButtonFor(model => model.TransferFor, InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestForRelative, Model.TransferFor == InsiderTrading.Common.ConstEnum.Code.PreclearanceRequestForRelative ? new { Checked = "checked" } : null) @InsiderTrading.Common.Common.getResource("usr_lbl_11445")
                                       @Html.ValidationMessageFor(m => m.TransferFor)
                                    </div>
                                </div>
                            </div>
                            <div id="DivRelativeDetails">
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="controls">
                                        @Html.RadioButtonFor(model => model.SecurityTransferOption, InsiderTrading.Common.ConstEnum.Code.SecurityTransferfromselectedDemataccount, Model.SecurityTransferOption == InsiderTrading.Common.ConstEnum.Code.SecurityTransferfromselectedDemataccount ? new { Checked = "checked" } : null) @InsiderTrading.Common.Common.getResource("usr_lbl_11447")
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.RadioButtonFor(model => model.SecurityTransferOption, InsiderTrading.Common.ConstEnum.Code.SecurityTransferfromAllDemataccount, Model.SecurityTransferOption == InsiderTrading.Common.ConstEnum.Code.SecurityTransferfromAllDemataccount ? new { Checked = "checked" } : null) @InsiderTrading.Common.Common.getResource("usr_lbl_11448")
                                   @Html.ValidationMessageFor(m => m.SecurityTransferOption)
                                     </div>
                                </div>
                            </div>
                        </div>
                     
                        <div id="DivIndividualAccount">

                        </div>
                       @Html.HiddenFor(model => model.UserInfoId)
                        <br/>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <button type="button" name="Save" id="Save" class="confirm btn btn-success" style="display:none;" data-loading-text="Saving" autocomplete="off"><i class="fa fa-check"></i> @InsiderTrading.Common.Common.getResource("dis_btn_17089")</button>
                                    <button type="button" name="Save1" id="Save1" class="confirm btn btn-success hide"><i class="fa fa-save"></i> CONFIRM</button>
                                    <a class="btn btn-success cancel" id="cancelButton" data-toggle="modal" href='@Url.Action("Index", "SecurityTransfer", new { acid = 219 })' role="button">@InsiderTrading.Common.Common.getResource("com_btn_14010")</a>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="ConfirmMessage" id="ConfirmMessage" value="@InsiderTrading.Common.Common.getResource("usr_msg_11472")" />
        <input type="hidden" name="ConfirmTitle" id="ConfirmTitle" value="@InsiderTrading.Common.Common.getResource("usr_msg_11473")" />
    </section><!-- /.content -->
    

}
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/SecurityTransfer")
@Scripts.Render("~/bundles/JqueryConfirm")
@Scripts.Render("~/bundles/customannotation")
@Html.Hidden("LoadRelative", Url.Action("LoadRelative", "SecurityTransfer"))
@Html.Hidden("UserInfoIdRelativeChange", Url.Action("UserInfoIdRelativeChange", "SecurityTransfer"))
@Html.Hidden("LoadIndividualAccount", Url.Action("LoadSelectedTransferType", "SecurityTransfer"))
@Html.Hidden("LoadAllAccount", Url.Action("LoadAllTransferType", "SecurityTransfer"))
@Html.Hidden("GetAvailableQty", Url.Action("GetAvailableQuantityForIndividualDematOrAllDemat", "SecurityTransfer"))
@Html.Hidden("TransferBalance", Url.Action("TransferBalance", "SecurityTransfer"))
@Html.Hidden("holdinglist", Url.Action("Index", "SecurityTransfer"),new {acid = 219})