@model InsiderTrading.Models.ComCodeModel

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="form-group">
        <label for="Parent" class="control-label">@ViewBag.ParentLabel</label>
        @Html.DropDownListFor(Model => Model.ParentCodeId, new SelectList(ViewBag.ParentCodeName, "Key", "Value", ""), new { id = "ddlParentCodeId", gridtype = ViewBag.GridType, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ParentCodeId)
        @*@Html.Hidden("2", null, new { @id = "2", gridtype = ViewBag.GridType })*@
    </div>
</div>


<div id="DefaultView">
    @{
        if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.OTHERMASTER_COMCODE_EDIT))
        {
            @Html.Hidden("Edit", Url.Action("Edit", "ComCode", new { acid = InsiderTrading.Common.ConstEnum.UserActions.OTHERMASTER_COMCODE_EDIT, CalledFrom = "Edit" }), new { @class = "gridtypecontrol", ctrtype = "link", gridcolumntype = @ViewBag.GridType + "_usr_grd_11073", param = "{'text':'','href':'" + Url.Action("Edit", "ComCode", new { acid = InsiderTrading.Common.ConstEnum.UserActions.OTHERMASTER_COMCODE_EDIT, CalledFrom = "Edit" }) + "&CodeID=<CodeID>','class':'display-icon icon icon-edit'}" })

        }
   
        if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.OTHERMASTER_COMCODE_DELETE))
        {
            @Html.Hidden("DeleteFromGrid", Url.Action("DeleteFromGrid", "ComCode", new { acid = InsiderTrading.Common.ConstEnum.UserActions.OTHERMASTER_COMCODE_DELETE, CalledFrom = "Delete" }), new { @class = "gridtypecontrol", ctrtype = "link", gridcolumntype = @ViewBag.GridType + "_usr_grd_11073", param = "{'CodeID':'<CodeID>','text':'','href':'javascript:void(0);','class':'display-icon icon icon-delete btnDeleteComCode'}" })
        }

        Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType, btnSearch = "", sSortCol = "0", acid = @ViewBag.UserAction });

    }


</div>

<div id="ParentGridView" class="form-group row">

</div>

@*@Scripts.Render("~/bundles/ComCode")*@
@*@Html.Hidden("ParentPopulateComboOnChange", Url.Action("ParentPopulateCombo_OnChange", "ComCode"))*@
