@model InsiderTrading.Models.TradingPolicyModel
@{
    ViewBag.Title = "_ContinuousDisclosureSubmissionStockExchange";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.StExTradeDiscloSubmitLimit, new { @class = "normalLable" })
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(m => m.StExTradeDiscloSubmitLimit, @InsiderTrading.Common.Common.IsTradingPolicyEdit("TextNumber", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="normalLable">@InsiderTrading.Common.Common.getResource("rul_lbl_15195")</label>
            @Html.ValidationMessageFor(m => m.StExTradeDiscloSubmitLimit)
        </div>
    </div>
</div>

