@model InsiderTrading.Models.TradingPolicyModel
@{
    ViewBag.Title = "_PeriodEndDisclosure";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.DiscloPeriodEndFreq, new { @class = "normalLable" })

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.DropDownListFor(m => m.DiscloPeriodEndFreq, new SelectList(ViewBag.DiscloPeriodEndFreqLIst, "Key", "Value", ""), @InsiderTrading.Common.Common.IsTradingPolicyEdit("Text", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.DiscloPeriodEndFreq)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.DiscloPeriodEndToCOByInsdrLimit, new { @class = "normalLable" })
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(m => m.DiscloPeriodEndToCOByInsdrLimit, @InsiderTrading.Common.Common.IsTradingPolicyEdit("TextNumber", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="normalLable">@InsiderTrading.Common.Common.getResource("rul_lbl_15200")</label>
            @Html.ValidationMessageFor(m => m.DiscloPeriodEndToCOByInsdrLimit)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.Label(InsiderTrading.Common.Common.getResource("rul_lbl_15201"), new { @class = "control-label text-left" })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group">
            <label class="radio-inline" for="radios-0">
                @Html.RadioButtonFor(model => model.DiscloPeriodEndSubmitToStExByCOFlag, "True", Model.DiscloPeriodEndSubmitToStExByCOFlag == true ? @InsiderTrading.Common.Common.IsTradingPolicyEdit("Radio", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId) : @InsiderTrading.Common.Common.IsTradingPolicyEdit("RadioNull", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId)) @InsiderTrading.Common.Common.getResource("rul_lbl_15176")
            </label>
            <label class="radio-inline" for="radios-1">
                @Html.RadioButtonFor(model => model.DiscloPeriodEndSubmitToStExByCOFlag, "False", Model.DiscloPeriodEndSubmitToStExByCOFlag == false ? @InsiderTrading.Common.Common.IsTradingPolicyEdit("Radio", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId) : @InsiderTrading.Common.Common.IsTradingPolicyEdit("RadioNull", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId)) @InsiderTrading.Common.Common.getResource("rul_lbl_15177")
            </label>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-3 col-xs-12">
        <div class="form-group">
            <label style="font-style:italic" class="normalLable">@InsiderTrading.Common.Common.getResource("rul_lbl_15178")</label>
            <label class="radio-inline" for="radios-1">
                @Html.CheckBox("DiscloPeriodEndSubmitToStExByCOHardcopyFlag_disable", true, new { @disabled = "disabled", @class = "cr-check" })
                @Html.LabelFor(m => m.DiscloPeriodEndSubmitToStExByCOHardcopyFlag, new { @class = "normalLable" })
                @Html.HiddenFor(m => m.DiscloPeriodEndSubmitToStExByCOHardcopyFlag)
            </label>
        </div>
    </div>
</div>
<div id="DivPeriodEndDisclosureSubmissionStockExchange">
    @{
        if (Model.DiscloPeriodEndSubmitToStExByCOFlag)
        {
            @Html.Partial("~/Views/TradingPolicy/_PeriodEndDisclosureSubmissionStockExchange.cshtml")
        }
    }

</div>
<script type="text/javascript">

    $(document).ready(function () {
        $(':radio[name="DiscloPeriodEndSubmitToStExByCOFlag"]').change(function () {
            var a = $(this).filter(':checked').val();
            var values = $("#frmTradingPolicy").serializeArray();
            values.push({
                name: "acid",
                value: $("#TradingPolicyUserAction").val()
            });
            if (a == 'True') {
                $('#DivPeriodEndDisclosureSubmissionStockExchange').html("");
                $.ajax({
                    url: $("#PeriodEndDisclosureSubmissionStockExchangeURL").val(),
                    type: 'post',
                    headers: getRVToken(),
                    cache: false,
                    data: values,
                    success: function (result) {
                        $('#DivPeriodEndDisclosureSubmissionStockExchange').html(result);
                    },
                    error: function (result) {
                    }
                });
            } else {
                $('#DivPeriodEndDisclosureSubmissionStockExchange').empty();
            }

        });

        $(':radio[name="DiscloPeriodEndSubmitToStExByCOFlag"]').change(function () {
            var a = $(this).filter(':checked').val();
            if (a == 'True') {
                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag"]').prop("checked", true);
                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOSoftcopyFlag"]').prop("disabled", true);
                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag"]').prop("disabled", true);
                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag_disable"]').prop("checked", true);
                $("input[name='DiscloPeriodEndSubmitToStExByCOHardcopyFlag']").val("true");
            }
            else {

                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOSoftcopyFlag"]').attr("disabled", true);
                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag"]').attr("disabled", true);
                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOSoftcopyFlag"]').prop("checked", null);
                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag"]').prop("checked", null);
                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag_disable"]').prop("checked", null);
                $("input[name='DiscloPeriodEndSubmitToStExByCOHardcopyFlag']").val("false");
            }
        });

        $(function () {
                if ($('input:radio[name=DiscloPeriodEndSubmitToStExByCOFlag]').filter(":checked").val() == 'False') {
                    $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOSoftcopyFlag"]').attr("disabled", true);
                    $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag"]').attr("disabled", true);
                    $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOSoftcopyFlag"]').prop("checked", null);
                    $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag"]').prop("checked", null);
                    $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag_disable"]').prop("checked", null);
                    $("input[name='DiscloPeriodEndSubmitToStExByCOHardcopyFlag']").val("false");
                } else {
                    $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag"]').prop("checked", true);
                    $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOSoftcopyFlag"]').attr("disabled", true);
                    $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag"]').attr("disabled", true);
                    $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag_disable"]').prop("checked", true);
                    $("input[name='DiscloPeriodEndSubmitToStExByCOHardcopyFlag']").val("true");
                }
        });

        $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOHardcopyFlag"]').change(function () {

            if ($(this).is(":checked")) {
                $(':checkbox[name="DiscloPeriodEndSubmitToStExByCOSoftcopyFlag"]').prop("checked", true);
            }
        });

    });
</script>
