@model InsiderTrading.Models.TradingPolicyModel
@{
    ViewBag.Title = "_YearType";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
    <div class="form-group">
        @Html.LabelFor(m => m.StExMultiTradeCalFinYear, new { @class = "normalLable" })
        @Html.DropDownListFor(m => m.StExMultiTradeCalFinYear, new SelectList(ViewBag.StExMultiTradeCalFinYearList, "Key", "Value", ""), @InsiderTrading.Common.Common.IsTradingPolicyEdit("Text", Model.ApplicableFromDate, Model.TradingPolicyStatusCodeId))
        @Html.ValidationMessageFor(m => m.StExTransTradeNoShares)
    </div>
</div>

