@model InsiderTrading.Models.TradingPolicyModel
@{
    ViewBag.Title = "TradingPolicyHistoryList";
}


<!-- Content Header (Page header) -->

<section class="content-header">
    @Html.AntiForgeryToken()
    <p><a href="@Url.Action("Index", "TradingPolicy", new { acid = InsiderTrading.Common.ConstEnum.UserActions.TRADING_POLICY_VIEW })"><i class=" fa fa-chevron-left"></i> Back to Search List</a></p>
    @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })
    <h1>Trading Policy History</h1>

</section>
<!-- Main content -->
<section class="content  search" gridtype="@ViewBag.GridType">
    <input type="hidden" value="@ViewBag.Param1" id="1" gridtype="@ViewBag.GridType" />
    <input type="hidden" value="@ViewBag.CalledFrom" id="CalledFrom" name="CalledFrom" />
    <input type="hidden" value="@ViewBag.ParentTradingPolicy" id="ParentTradingPolicy" name="ParentTradingPolicy" />
        <hr>
   
    <div class="div-spacer"></div>

    @{Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType, btnSearch = "btnSearch", sSortCol = "0", acid = InsiderTrading.Common.ConstEnum.UserActions.CRUSER_COUSER_VIEW });}


    <div class="div-spacer"></div><br />
    <div class="form-group">
    </div>
 

    <div class="col-xs-12 form-group row">

        <div class="col-xs-3">

            <a class="btn btn-success" data-toggle="modal" href='@Url.Action("Index", "TradingPolicy", new { acid = InsiderTrading.Common.ConstEnum.UserActions.TRADING_POLICY_VIEW })' role="button"><i class="fa fa-chevron-left"></i>   Back</a>
        </div>
    </div>
</section><!-- /.content -->
@*</div>*@<!-- /.content-wrapper -->
@Scripts.Render("~/bundles/TradingPolicy")
@Scripts.Render("~/bundles/JqueryConfirm")

@if (InsiderTrading.Common.Common.CanPerform(InsiderTrading.Common.ConstEnum.UserActions.CRUSER_COUSER_VIEW))
{
    @Html.Hidden("View", Url.Action("Create", "TradingPolicy", new { acid = 121, CalledFrom = "History", ParentTradingPolicy = @ViewBag.ParentTradingPolicy }), new { @class = "gridtypecontrol", ctrtype = "link", gridcolumntype = @ViewBag.GridType + "_usr_grd_11073", param = "{'text':'','href':'" + Url.Action("Create", "TradingPolicy", new { acid = 121, CalledFrom = "History", ParentTradingPolicy = @ViewBag.ParentTradingPolicy }) + "&TradingPolicyId=<TradingPolicyId>','class':'display-icon icon icon-eye'}" })
}
@Html.Hidden("RadioButtonChangeTransaction", Url.Action("RadioButtonChangeTransaction", "TradingPolicy"))




