@{
    ViewBag.Title = "Summary";
}

@Styles.Render("~/content/SW360")

<!-- Content Header -->
<section class="content-header">
    @Html.AntiForgeryToken()
    <h1>@InsiderTrading.Common.Common.getResource("dis_ttl_17057")</h1>
</section>
<script>
    $(document).ready(function () {

        $('#btnInsiderSubmit').click(function () {
            //$("#btnSubmitInsider").trigger("click");
            var userId = '@ViewBag.UserId';
            var TransactionMasterId = '@ViewBag.TransactionMasterId';
            $.ajax({
                url: "@Url.Action("PopupConfirmation", "TradingTransaction")",
                data: { 'acid': '@InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE', "nTradingTransactionMasterId": TransactionMasterId, "nDisclosureStatus": '@InsiderTrading.Common.ConstEnum.Code.DisclosureStatusForNotConfirmed', "nDisclosureTypecodeId": '@InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd', "nConfigurationValueCodeId": '@InsiderTrading.Common.ConstEnum.Code.EnterUploadSetting_EnterDetails', 'nIsTransactionEnter': '1', 'nIsDuplicateRecordFound': '0', 'nFromSubmitPage': '0', 'nUserId': userId },
                method: "POST",
                success: function (response) {
                    $("#popupAlert .modal-body").html(response);
                }

            });
            $("#popupAlert").modal('show');
        });

        $('#btnSubmitTransaction').click(function () {

            var form = $('#__AjaxAntiForgeryperiodEndOwnForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            var DisclosurertypeformId =49;

            if ('@ViewBag.DeclarationToBeMandatoryFlag' == 'True') {
                var Chk_DeclaFrmInsContDis = $('#Chk_DeclaFrmInsContDis').prop("checked");
            }
            else {
                var Chk_DeclaFrmInsContDis = false;
            }
            var data = { 'nTradingTransactionMasterId': $('#TransactionMasterId').val(), 'nDisclosureTypecodeId': '@InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd', 'acid': '@InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE', 'Chk_DeclaFrmInsContDis': 'false', 'IsDeclarationToBeMandatory': 'false', 'year': '@ViewBag.YearCode', 'period': '@ViewBag.PeriodCode', 'uid': '@ViewBag.UserId', __RequestVerificationToken: token, formId: DisclosurertypeformId };

            $.ajax({
                url: '@Url.Action("Submit", "TradingTransaction")',
                method: 'POST',
                headers: getRVToken(),
                data: data,
                datatype: 'json',
                success: function (data) {
                    if (data.status) {
                        showMessage(data.Message['success'], true);
                        //sPESubRedirURL = '';
                        //window.location.href = data.redirectTo;
                        //$('#lnkCancel')[0].click();
                        if (data.softCopReq == true && (data.UserTypeCodeId != 101001 && data.UserTypeCodeId != 101002)) {
                            sPESubRedirURL = '';
                            window.location.href = data.redirectTo;
                        }
                        else {                            
                            $('#lnkCancel')[0].click();
                        }
                        //}
                    }
                    else {
                        showMessage(data.Message['error'], false);
                    }
                }
            });

        });

    });
</script>

<!-- Main content -->
<section class="content search" gridtype="@ViewBag.GridType">
    @{
        if (ViewBag.showAddTransactionBtn)
        {
        <!-- Add transaction button content -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="btn btn-success" data-toggle="modal" href='@Url.Action("Index", "TradingTransaction", new { acid = ViewBag.activity_id, nDisclosureTypeCodeId = InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd, nUserInfoId = ViewBag.UserId, nYearCode = ViewBag.YearCode, nPeriodCode = ViewBag.PeriodCode, TransactionMasterId = ViewBag.TransactionMasterId, nPeriodType = ViewBag.PeriodType })' role="button"> @InsiderTrading.Common.Common.getResource("dis_btn_17059")</a>
                    <button id="btnInsiderSubmit" class="btn btn-success"><i class="fa fa-check"></i>@InsiderTrading.Common.Common.getResource("dis_btn_50654")</button>                   
                    
                </div>               
            </div>
            <div class="div-spacer"></div>
            <hr>
        }
    }


    <!-- Search form content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                        @{
                            @*<a href="@sURL" id="lnkCancel" class="btn btn-success"><i class="fa fa-times"></i> @InsiderTrading.Common.Common.getResource("com_btn_14010")</a>*@
                            //check user activity id - if CO activity then show employee / insider name and employee id
                            if (ViewBag.activity_id == InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE)
                            {
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17170")) @ViewBag.EmployeeId
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17171")) @ViewBag.InsiderName
                                    </div>
                                </div>
                            }
                        }
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17058")) @ViewBag.Period
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Search result content -->
    @{
        @Html.Hidden("uid", (Int32)@ViewBag.UserId, new { id = "1", gridtype = @ViewBag.GridType });
        @Html.Hidden("year", (Int32)@ViewBag.YearCode, new { id = "2", gridtype = @ViewBag.GridType });
        @Html.Hidden("period", (Int32)@ViewBag.PeriodCode, new { id = "3", gridtype = @ViewBag.GridType });

       Html.RenderAction("Index", "DatatableGrid", new { type = @ViewBag.GridType, btnSearch = "", sSortCol = "0", acid = ViewBag.activity_id, bIsPagination = false, });
       
       //int acid, int TransactionMasterId = 0, int nDisclosureTypeCodeId = 0, int nUserInfoId=ViewBag.UserId;nYearCode=ViewBag.YearCode;nPeriodCode=ViewBag.PeriodCode = 0, int nYearCode = 0, int nPeriodCode = 0, int PreclearanceRequestId = 0, string frm = "", int nPeriodType = 0, int ShowDocumentTab = 0, int SecurityTypeCode=0
       @Html.Hidden("ViewTransactionDetails", Url.Action("Index", "TradingTransaction", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TransactionMasterId = @ViewBag.TransactionMasterId, nDisclosureTypeCodeId = InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd,nYearCode = @ViewBag.YearCode, nPeriodCode = @ViewBag.PeriodCode, nPeriodType = @ViewBag.PeriodType }), new { @class = "gridtypecontrol", ctrtype = "link", gridcolumntype = @ViewBag.GridType + "_usr_grd_11073", param = "{'text':'','href':'" + Url.Action("Index", "TradingTransaction", new { acid = InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE, TransactionMasterId = @ViewBag.TransactionMasterId, nDisclosureTypeCodeId = InsiderTrading.Common.ConstEnum.Code.DisclosureTypePeriodEnd, nYearCode = @ViewBag.YearCode, nPeriodCode = @ViewBag.PeriodCode, nPeriodType = @ViewBag.PeriodType }) + "&SecurityTypeCode=<SecurityTypeCode>,&nUserInfoId=<UserId>','class':'display-icon icon icon-eye'}" })
    }

    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @{
                String ViewName = "";
                int PeriodCode = 0;

                //check user activity to set back button url
                if (ViewBag.activity_id == InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE || ViewBag.activity_id == InsiderTrading.Common.ConstEnum.UserActions.INSIDER_DISCLOSURE_DETAILS_CONTINUOUS_DISCLOSURE)
                {
                    //insider page
                    ViewName = "PeriodStatus";
                }
                else if (ViewBag.activity_id == InsiderTrading.Common.ConstEnum.UserActions.CO_DISCLOSURE_DETAILS_PERIOD_END_DISCLOSURE)
                {
                    //CO page
                    ViewName = "UsersStatus";
                }
            }
            <a class="btn btn-success" data-toggle="modal" href='@Url.Action(ViewName, "PeriodEndDisclosure", new { acid = ViewBag.activity_id, year = ViewBag.YearCode, Uid = ViewBag.UserId })' role="button"> @InsiderTrading.Common.Common.getResource("com_btn_14011")</a>
        </div>
    </div>
    <div class="div-spacer"></div>

</section>

<div class="modal fade" id="popupAlert" tabindex="-1" role="dialog" aria-labelledby="popupAlertlabel" aria-hidden="true">
    <div class="modal-dialog" style="width:65%">
        <div class="modal-content">
            <div class="modal-header">
                <b id="PopupHeader"></b><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<button type="button" id="btnSubmitTransaction" style="display:none;"> </button>
<input type="hidden" value="@ViewBag.TransactionMasterId" id="TransactionMasterId" />
<a href='@Url.Action("PeriodStatus", "PeriodEndDisclosure", new { acid = ViewBag.activity_id, year = ViewBag.YearCode, Uid = ViewBag.UserId })' id="lnkCancel"></a>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryperiodEndOwnForm" }))
{
    @Html.AntiForgeryToken()
}
