@model InsiderTrading.Models.PasswordConfigModel
<div style="color:black;">
    <div>Note: Your password should satisfy following criterias,</div>
    <div>Maximum @Html.DisplayFor(m=>m.MaxLength) characters</div>
    <div>Minimum @Html.DisplayFor(m => m.MinLength) characters</div>
    @if(Model.MinAlphabets!=0)
    { 
        <div>Minimum @Html.DisplayFor(m => m.MinAlphabets) Alphabet</div>
    }
    @if (Model.MinNumbers != 0) { 
        <div>Minimum @Html.DisplayFor(m => m.MinNumbers) Number character</div>
    }
    @if (Model.MinUppercaseChar != 0) 
    { 
    <div>Minimum @Html.DisplayFor(m => m.MinUppercaseChar) Upper case alphabet character</div>
    }
    @if (Model.MinSplChar != 0) 
    {
    <div>Minimum @Html.DisplayFor(m => m.MinSplChar) Special character. @Html.Raw("Only (!,@,#,$,%,^,&,*) special characters are allowed")</div>
    }
    <div>The password should not be same as or contain Login ID</div>
</div>