@model InsiderTrading.Models.PasswordManagementModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var objComCodeSL = new InsiderTrading.SL.ComCodeSL();
    string LogoImagePath = Server.MapPath("~") + "/images/Logos/" + InsiderTrading.Common.ConstEnum.CLIENT_DB_NAME + "/" + InsiderTrading.Common.ConstEnum.CLIENT_DB_NAME + "_320X105.jpg";
    string sLogoImageUrl = @Url.Content("~/images/Logos/" + InsiderTrading.Common.ConstEnum.CLIENT_DB_NAME) + "/" + @InsiderTrading.Common.ConstEnum.CLIENT_DB_NAME + "_320X105.jpg";
}

<script type="text/javascript">
    $(window).load(function () {
       
        var pageURL = $(location).attr("href");
        var RemoveProtocol = pageURL.substr(8, 50);
        var ClientName = RemoveProtocol.split('.')[0];
        $("#CompanyName").val(ClientName); 

        var length = $('#ddlCompanyName').children('option').length;
        if (length == 2) {
            $("#ddlCompanyName").prop("selectedIndex", 1);
            $('#UserName').next('input').focus();
        }
        else {
            $("#ddlCompanyName").prop("selectedIndex", 0);
        }
    })
</script>

@if (File.Exists(LogoImagePath))
{
    <div class="container login-logo" style="vertical-align: middle;">
        <img src="@Url.Content("~/images/Viligante_Normal_Logo.png")" style="float: left;vertical-align:middle;">
        <img src="@sLogoImageUrl" style="float: right;vertical-align:middle;min-width: 320px;max-width: 320px;">
    </div>
}
else {
    <div class="container login-logo">  
        <img src=@Url.Content("~/images/Viligante_Normal_Logo.png") class="img img-responsive center-block">
    </div>
}
<div class="striped login">
    <div class="container">
        <div style="color:red;font-size:20px">
       @if (ViewBag.ErrorMessage != null)
        {
            @ViewBag.ErrorMessage
        }
        </div>
 
        <div class="row">
            <div class="center-block login-block">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Set/Forgot Password</h3>
                    </div>
                  
                    <div class="panel-body">
                        @using (Html.BeginForm("ForgetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { autocomplete = "off",@class = "form-horizontal", role = "form" }))
                        {     
                                    
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new Dictionary<string, object> { { "class", "alert alert-danger" }, { "id", "divValidationSummaryModal" } })           
                        <fieldset>
                            @if (System.Configuration.ConfigurationManager.AppSettings["CompanyType"] == "Dropdownlist")
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyID, new { @class = "login-label", @for = "textinput" })
                                    @Html.DropDownListFor(model => model.CompanyID, new SelectList(ViewBag.CompaniesDropDown, "Key", "Value", ""), new { @class = "form-control", id = "ddlCompanyName" })
                                    @Html.ValidationMessageFor(model => model.CompanyID)
                                </div>
                            }
                            else
                            {
                                if (@ViewBag.URLCompanyName == "IgnoreCompanyName")
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.stxtCompanyName, new { @class = "login-label", @for = "textinput" })
                                        @Html.TextBoxFor(m => m.CompanyID, new { @class = "form-control", @autocomplete = "off", placeholder = @ViewData["WaterMarkCompanyName"] })
                                        @Html.ValidationMessageFor(m => m.CompanyID)
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.stxtCompanyName, new { @class = "login-label", @for = "textinput" })
                                        @Html.TextBoxFor(m => m.CompanyID, new { @class = "form-control", @autocomplete = "off", Value = @ViewBag.URLCompanyName, @ReadOnly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.CompanyID)
                                    </div>
                                }
                            }

                            <div class="form-group">
                                @Html.LabelFor(model => model.LoginID, new { @class = "login-label", @for = "textinput" })
                                @Html.TextBoxFor(model => model.LoginID, new { @class = "form-control", placeholder = @ViewData["WaterMarkLoginId"] })
                                @Html.ValidationMessageFor(model => model.LoginID)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EmailID, new { @class = "login-label", @for = "textinput" })
                                @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", placeholder = @ViewData["WaterMarkEmailId"] })
                                @Html.ValidationMessageFor(model => model.EmailID)
                            </div>

                            <div class="clsCaptcha form-group">
                                <h4 id="Captcha_Text">Please type the text you seen in the picture below.</h4>
                                <img src="@Session["CaptchaPathForgotPwd"]" style="width: 35%; margin: 0px 0px 0px 150px" />
                                <br /><br />
                                @Html.TextBoxFor(m => m.sCaptchaText, null, new { @class = "form-control CaptchaTxt" })
                                <br />
                                @if (TempData["ErrorMessageForgotPwd"] != null)
                                {
                                    @Html.Label(TempData["ErrorMessageForgotPwd"].ToString(), new { @id = "ErrorMsg", @class = "field-validation-error", style = "font-size: 11pt;font-weight: 300;font-family:sans-serif;" })
                                }
                                @*@Html.ValidationMessageFor(m => m.sCaptchaText)*@
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-lg btn-success" name="Create" />
                                &nbsp;
                                <input type="submit" value="Cancel" class="cancel btn btn-lg btn-success " id="Cancel" name="Cancel" />
                            </div>
                        </fieldset>
                              
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/PasswordManagement")
<script src="~/LoginScript/crypto/aes-bl.js"></script>
<script src="~/LoginScript/ForgotPassword/ForgotPassword-bl.js"></script>

